{# version 1.00, date 06/10/2016, auteur Florian Leriche #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Modifier une intervention - {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js") }}"></script>
    <script>
        $('#intervention_dateIntervention').datepicker({
            format: 'dd-mm-yyyy',
            language: 'fr',
            startDate: 'today',
            autoclose: true
        });
        {% if intervention.plaidoyer %}
        {% autoescape false %}
        var materiauxPlaidoyer = {{ materiaux }};
        for (var i = 0; i < materiauxPlaidoyer.length; i++) {
            materiauxPlaidoyer[i] = materiauxPlaidoyer[i].replace('("', '');
            materiauxPlaidoyer[i] = materiauxPlaidoyer[i].replace('")', '');
        }
        {% endautoescape %}

        materiauxPlaidoyer.forEach(function (entry) {
            switch (entry) {
                case "videoprojecteur":
                    $("#intervention_materielDispoPlaidoyer_materiel_0").prop("checked", true);
                    break;
                case "enceinte":
                    $("#intervention_materielDispoPlaidoyer_materiel_1").prop("checked", true);
                    break;
                case "tableau interactif":
                    $("#intervention_materielDispoPlaidoyer_materiel_2").prop("checked", true);
                    break;
                case "autre":
                    $("#intervention_materielDispoPlaidoyer_materiel_3").prop("checked", true);
                    break;
            }
        });

        {% elseif intervention.frimousse %}
        {% autoescape false %}
        var materiauxFrimousse = {{ materiaux|raw }};

        for (var j = 0; j < materiauxFrimousse.length; j++) {
            materiauxFrimousse[j] = materiauxFrimousse[j].replace('("', '');
            materiauxFrimousse[j] = materiauxFrimousse[j].replace('")', '');
        }
        {% endautoescape %}

        materiauxFrimousse.forEach(function (entry) {
            switch (entry) {
                case "patron":
                    $("#intervention_materiauxFrimousse_materiel_0").prop("checked", true);
                    break;
                case "bourre":
                    $("#intervention_materiauxFrimousse_materiel_1").prop("checked", true);
                    break;
                case "decoration":
                    $("#intervention_materiauxFrimousse_materiel_2").prop("checked", true);
                    break;
            }
        });
        {% else %}
        {% endif %}


        function treatmentCenter(template, grade) {
            var taille = $(template).find('option').length;
            switch (grade) {
                case 'maternelle' :
                    for (i = 0; i < taille; i++) {
                        if (i >= 7) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'elementaire' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i < 7 || i > 15)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'adolescent' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 15 || i > 22)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                default:
                    for (i = 0; i < taille; i++) {
                        $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                    }
                    break;
            }
        }

        function treatmentOthers(template, grade) {
            var taille = $(template).find('option').length;
            for (i = 0; i < taille; i++) {
                $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
            }
        }


        function treatmentInstitute(template, grade) {
            var taille = $(template).find('option').length;
            switch (grade) {
                case 'maternelle' :
                    for (i = 0; i < taille; i++) {
                        if (i >= 7) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'elementaire' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i < 7 || i > 15)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'college' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 15 || i > 19)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'lycee' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 19 || i > 22)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'superieur' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && i <= 22) {
                            $($(template).find('option:eq(' + i + ')').get()[0]).fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                default:
                    for (i = 0; i < taille; i++) {
                        $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                    }
                    break;
            }
        }

        $(document).ready(function () {
            $(':input[type="number"]').attr("min", 0).keyup(function () {
                this.value = this.value.replace(/[^0-9\.]/g,'');
            });
            var etablissement;
            var typeEtablissement;
            {% if intervention.etablissement.enseignement %}
            etablissement = 'ens';
            typeEtablissement = '{{ intervention.etablissement.typeEnseignement }}';
            {% elseif intervention.etablissement.centreLoisirs %}
            etablissement = 'centre';
            typeEtablissement = '{{ intervention.etablissement.typeCentre }}';
            {% else %}
            etablissement = 'autre';
            typeEtablissement = '{{ intervention.etablissement.typeAutreEtablissement }}';
            {% endif %}
            switch (etablissement) {
                case 'ens' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentInstitute($(this).get(0), typeEtablissement);
                    });
                    break;
                case 'centre' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentCenter($(this).get(0), typeEtablissement);
                    });
                    break;
                case 'autre' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentOthers($(this).get(0), typeEtablissement);
                    });
                    break;
            }
        });

        $(document).ready(compareDateAvailable);
        $(document).ready(checkMoment);
        $("#intervention_dateIntervention").change(function () {
            compareDateAvailable();
            checkMoment();
        })

        function compareDateAvailable(){
            var dateBegin = formatDate("{{ intervention.demande.dateDebutDisponibilite| date('d-m-Y') }}");
            var dateEnd = formatDate("{{ intervention.demande.dateFinDisponibilite| date('d-m-Y')}}");
            var dateWanted = formatDate(document.getElementsByClassName("js-datepicker")[0].value);
            if(!(dateWanted >= dateBegin && dateWanted <= dateEnd)){
                $("#checkDate").removeClass("alert-info").addClass("alert-warning");
            }else{
                $("#checkDate").removeClass("alert-warning").addClass("alert-info");
            }

            document.getElementById("checkDate").textContent = "L'établissement a une plage de disponibilité entre le " + dateBegin.toLocaleDateString() +" et le " +dateEnd.toLocaleDateString();
        }

        function formatDate(date){
            var tabDate = date.split('-');
            return new Date(tabDate[2],(tabDate[1]-1),tabDate[0]);
        }

        $('#intervention_heure_hour').change(function () {
            checkMoment();
        });

        $("#intervention_heure_hour").val("17"); //TODO
        $("#intervention_heure_minute").val("17");
        function checkMoment() {
            var moment;
            var hour = $("#intervention_heure_hour").val();
            var weekday = new Array(7);
            var day;
            var date = formatDate($("#intervention_dateIntervention").val());
            var momentsVoulus = [];
            var momentsEviter = [];
            var momentFinal;

            if(hour > 0 && hour < 12)
                moment = 'matin';
            else
                moment = 'apres-midi';

            weekday[0]=  "dimanche";
            weekday[1] = "lundi";
            weekday[2] = "mardi";
            weekday[3] = "mercredi";
            weekday[4] = "jeudi";
            weekday[5] = "vendredi";
            weekday[6] = "samedi";
            day = weekday[date.getDay()];

            momentFinal = day + " " + moment;

            {% for moment in demande.momentsVoulus %}
            momentsVoulus.push('{{ moment.jour|capitalize }} {{ moment.moment }}'.toLowerCase());
            {% endfor %}

            {% for moment in demande.momentsAEviter %}
            momentsEviter.push('{{ moment.jour|capitalize }} {{ moment.moment }}'.toLowerCase());
            {% endfor %}

            if($.inArray(momentFinal, momentsVoulus) != -1) {
                document.getElementById("checkMoment").textContent = "Cet horaire correspond à un "+day+" "+moment+"."
                $("#checkMoment").removeClass("alert-warning").addClass("alert-info");
            } else {
                document.getElementById("checkMoment").textContent = "Le "+day+" "+moment+" est un moment à éviter !";
                $("#checkMoment").removeClass("alert-info").addClass("alert-warning");
            }

        }

    </script>
{% endblock %}

{% block body %}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';

        .required{
            display: inline;
        }

        .required:after{
            content: "*";
            display: inline;
        }

        h1 {
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }

        div {
            box-shadow: none !important;
        }

        .btn-default {
            border-radius: 10px !important;
            background-color: #3fb618 !important;
            border-color: #3fb618 !important;
        }

        .well {
            max-width: 500px !important;
        }

        .col-sm-2 {
            width: 200px;
        }

        label {
            text-align: left !important;
        }

        select {
            max-width: 400px !important;
        }

        .container {
            margin: auto !important;
            margin-top: 30px !important;
        }

    </style>

    {% if intervention.plaidoyer %}
        <h1>Modification d'une  action éducative</h1>
    {% elseif intervention.frimousse %}
        <h1>Modification d'une frimousse</h1>
    {% else %}
        <h1>Modification d'une intervention</h1>
    {% endif %}

    <hr>
    <div class='well'>

        {{ form_start(form, {'method': 'post', 'action': path('intervention_edit', {'id': intervention.id}), 'attr': {'class': 'intervention_edit'}}) }}
        {{ form_label(form.dateIntervention, 'Date d\'intervention') }}
        {{ form_widget(form.dateIntervention, {'value' : intervention.dateIntervention|date('d-m-Y') }) }}
        <p class="alert" id="checkDate" style="margin-bottom: 2.5%; margin-top : 2.5%"></p>
        {{ form_label(form.heure) }}
        {{ form_widget(form.heure) }}
        <p class="alert" id="checkMoment" style="margin-bottom: 2.5%; margin-top : 2.5%"></p>
        <p style="margin-bottom: 2.5%; margin-top : 2.5%">
            {% if demande.momentsVoulus %}
            Ici figurent les moments voulus pour l'intervention :
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead style="text-align: center">
            <th>Moments Voulus</th>
            <th>Moments à éviter</th>
            </thead>
            <td>
                <ul>
                    {% for moment in demande.momentsVoulus %}
                        <li>{{ moment.jour|capitalize }} {{ moment.moment }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for moment in demande.momentsAEviter %}
                        <li>{{ moment.jour|capitalize }} {{ moment.moment }}</li>
                    {% endfor %}

                </ul>
            </td>
            {% endif %}
            </td>
        </table>
        </p>
        {{ form_label(form.lieu, 'Lieu') }}
        {{ form_widget(form.lieu, {'value' : intervention.lieu}) }}
        {{ form_label(form.nbPersonne, 'Nombre de participants') }}
        {{ form_widget(form.nbPersonne, {'value' : intervention.nbPersonne}) }}
        {% if intervention.plaidoyer %}
            {{ form_widget(form.materiauxFrimousse, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveau, {'attr': {'style': 'display: none'}}) }}
            {{ form_label(form.niveauTheme.niveau, "Niveau Scolaire") }}
            {{ form_widget(form.niveauTheme.niveau, {'value' : intervention.niveauTheme.niveau })  }}
            {{ form_label(form.niveauTheme.theme, "Choix des thèmes") }}
            {{ form_widget(form.niveauTheme.theme.themes, {'value' : intervention.niveauTheme.theme })  }}
        {% elseif intervention.frimousse %}
            {{ form_widget(form.materielDispoPlaidoyer, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveauTheme, {'attr': {'style': 'display: none'}}) }}
            {{ form_label(form.niveau, "Niveau scolaire") }}
            {{ form_widget(form.niveau, {'value' : intervention.niveauFrimousse })  }}
        {% else %}
            {{ form_widget(form.materiauxFrimousse, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.materielDispoPlaidoyer, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveauTheme, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveau, {'attr': {'style': 'display: none'}}) }}
        {% endif %}
        {% if not intervention.plaidoyer and not intervention.frimousse  %}
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'value' : intervention.description}) }}
        {% endif %}


        {{ form_widget(form) }}
        <div>
            <a href="{{ path('intervention_list') }}" class="btn btn-danger" style="margin-left:calc(50% - 140px)">Annuler</a>
            <input type="submit" value="Modifier" class="btn btn-success"/>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
