{# version 1.00, date 06/10/2016, auteur Florian Leriche #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Modifier une intervention - {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if intervention.plaidoyer %}
        {% autoescape false %}
        var materiauxPlaidoyer = {{ materiaux }};
        for (var i = 0; i < materiauxPlaidoyer.length; i++) {
            materiauxPlaidoyer[i] = materiauxPlaidoyer[i].replace('("', '');
            materiauxPlaidoyer[i] = materiauxPlaidoyer[i].replace('")', '');
        }
        {% endautoescape %}

        materiauxPlaidoyer.forEach(function (entry) {
            switch (entry) {
                case "videoprojecteur":
                    $("#intervention_materielDispoPlaidoyer_materiel_0").prop("checked", true);
                    break;
                case "enceinte":
                    $("#intervention_materielDispoPlaidoyer_materiel_1").prop("checked", true);
                    break;
                case "tableau interactif":
                    $("#intervention_materielDispoPlaidoyer_materiel_2").prop("checked", true);
                    break;
                case "autre":
                    $("#intervention_materielDispoPlaidoyer_materiel_3").prop("checked", true);
                    break;
            }
        });

        {% elseif intervention.frimousse %}
        {% autoescape false %}
        var materiauxFrimousse = {{ materiaux|raw }};

        for (var j = 0; j < materiauxFrimousse.length; j++) {
            materiauxFrimousse[j] = materiauxFrimousse[j].replace('("', '');
            materiauxFrimousse[j] = materiauxFrimousse[j].replace('")', '');
        }
        {% endautoescape %}

        materiauxFrimousse.forEach(function (entry) {
            switch (entry) {
                case "patron":
                    $("#intervention_materiauxFrimousse_materiel_0").prop("checked", true);
                    break;
                case "bourre":
                    $("#intervention_materiauxFrimousse_materiel_1").prop("checked", true);
                    break;
                case "decoration":
                    $("#intervention_materiauxFrimousse_materiel_2").prop("checked", true);
                    break;
            }
        });
        {% else %}
        console.log("autre");
        {% endif %}


        function treatmentCenter(template, grade) {
            var taille = $(template).find('option').length;
            switch (grade) {
                case 'maternelle' :
                    for (i = 0; i < taille; i++) {
                        if (i >= 7) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'elementaire' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i < 7 || i > 15)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'adolescent' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 15 || i > 22)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                default:
                    for (i = 0; i < taille; i++) {
                        $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                    }
                    break;
            }
        }

        function treatmentOthers(template, grade) {
            var taille = $(template).find('option').length;
            for (i = 0; i < taille; i++) {
                $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
            }
        }


        function treatmentInstitute(template, grade) {
            var taille = $(template).find('option').length;
            switch (grade) {
                case 'maternelle' :
                    for (i = 0; i < taille; i++) {
                        if (i >= 7) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                            console.log(">7");
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                            console.log("<7");
                        }
                    }
                    break;
                case 'elementaire' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i < 7 || i > 15)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'college' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 15 || i > 19)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'lycee' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && (i <= 19 || i > 22)) {
                            $(template).find('option:eq(' + i + ')').fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                case 'superieur' :
                    for (i = 0; i < taille; i++) {
                        if (i != 0 && i <= 22) {
                            $($(template).find('option:eq(' + i + ')').get()[0]).fadeOut().prop('disabled', true);
                        } else {
                            $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                        }
                    }
                    break;
                default:
                    for (i = 0; i < taille; i++) {
                        $(template).find('option:eq(' + i + ')').fadeIn().prop('disabled', false);
                    }
                    break;
            }
        }

        $(document).ready(function () {
            var etablissement;
            var typeEtablissement;
            {% if intervention.etablissement.enseignement %}
            etablissement = 'ens';
            typeEtablissement = '{{ intervention.etablissement.typeEnseignement }}';
            console.log("onch");
            {% elseif intervention.etablissement.centreLoisirs %}
            etablissement = 'centre';
            typeEtablissement = '{{ intervention.etablissement.typeCentre }}';
            {% else %}
            etablissement = 'autre';
            typeEtablissement = '{{ intervention.etablissement.typeAutreEtablissement }}';
            {% endif %}
            console.log(typeEtablissement);
            switch (etablissement) {
                case 'ens' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentInstitute($(this).get(0), typeEtablissement);
                    });
                    break;
                case 'centre' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentCenter($(this).get(0), typeEtablissement);
                    });
                    break;
                case 'autre' :
                    $('.form-annee-scolaire').each(function () {
                        treatmentOthers($(this).get(0), typeEtablissement);
                    });
                    break;
            }
        });

    </script>
{% endblock %}

{% block body %}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';

        .required{
            display: inline;
        }

        .required:after{
            content: "*";
            display: inline;
        }

        h1 {
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }

        div {
            box-shadow: none !important;
        }

        .btn-default {
            border-radius: 10px !important;
            background-color: #3fb618 !important;
            border-color: #3fb618 !important;
        }

        .well {
            max-width: 500px !important;
        }

        .col-sm-2 {
            width: 200px;
        }

        label {
            text-align: left !important;
        }

        select {
            max-width: 400px !important;
        }

        .container {
            margin: auto !important;
            margin-top: 30px !important;
        }

    </style>

    <h1>Modification d'une intervention</h1>
    <hr>
    <div class='well'>

        {{ form_start(form, {'method': 'post', 'action': path('intervention_edit', {'id': intervention.id}), 'attr': {'class': 'intervention_edit'}}) }}
        {{ form_label(form.dateIntervention, 'Date d\'intervention') }}
        {{ form_widget(form.dateIntervention, {'value' : intervention.dateIntervention|date('d-m-Y') }) }}
        {{ form_label(form.lieu, 'Lieu') }}
        {{ form_widget(form.lieu, {'value' : intervention.lieu}) }}
        {{ form_label(form.nbPersonne, 'Nb de participants') }}
        {{ form_widget(form.nbPersonne, {'value' : intervention.nbPersonne}) }}
        {% if intervention.plaidoyer %}
            {{ form_widget(form.materiauxFrimousse, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveau, {'attr': {'style': 'display: none'}}) }}
            {{ form_label(form.niveauTheme.niveau, "Année scolaire") }}
            {{ form_widget(form.niveauTheme.niveau, {'value' : intervention.niveauTheme.niveau })  }}
            {{ form_label(form.niveauTheme.theme, "Choix des thèmes") }}
            {{ form_widget(form.niveauTheme.theme.themes, {'value' : intervention.niveauTheme.theme })  }}
        {% elseif intervention.frimousse %}
            {{ form_widget(form.materielDispoPlaidoyer, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveauTheme, {'attr': {'style': 'display: none'}}) }}
            {{ form_label(form.niveau, "Année scolaire") }}
            {{ form_widget(form.niveau, {'value' : intervention.niveauFrimousse })  }}
        {% else %}
            {{ form_widget(form.materiauxFrimousse, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.materielDispoPlaidoyer, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveauTheme, {'attr': {'style': 'display: none'}}) }}
            {{ form_widget(form.niveau, {'attr': {'style': 'display: none'}}) }}
        {% endif %}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Modifier" class="btn btn-primary"/>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
