{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}

{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}
        Liste des interventions - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel='stylesheet' href="{{ asset('css/twitterTypeahead.css') }}"/>
    <link rel="stylesheet" href="{{ asset("vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css") }}"/>
    <link rel="stylesheet" href="{{ asset("vendor/chosen/chosen.css") }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css') }}">
    <style>
        #benevoleInexistant {
            font-size : 13px;
            font-style : italic;
            color : red;
        }

        #mapid {  height: 500px; }

        /* Style the list */
        ul.tab {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Float the list items side by side */
        ul.tab li {float: left;}

        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of links on hover */
        ul.tab li a:hover {background-color: #ddd;}

        /* Create an active/current tablink class */
        ul.tab li a:focus, .active {background-color: #ccc;}

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .leaflet-popup-content {
            max-height: 173px;
            overflow-y: auto;
        }

        #recherche_avancee_ville {
            text-transform: uppercase;
        }

        @media only screen and (max-width: 1090px) {

            .btn-danger{
                max-width: 200px !important;
            }

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
                white-space: normal;
                text-align: left;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            td:before {
                content: attr(data-title);
            }
        }
        .container{
            padding-right: 15px !important;
            padding-left: 20px !important;
        }
        tbody{
            font-size: 15px !important;
        }


        #myTable {
            display:block;
            max-height: 58vh;
            overflow:auto;
        }
        #tableIntervention thead, #myTable tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js") }}"></script>
    <script src="{{ asset("vendor/typeahead.js/dist/typeahead.jquery.js") }}"></script>
    <script src="{{ asset("vendor/typeahead.js/dist/bloodhound.js") }}"></script>
    <script src="{{ asset("vendor/chosen/chosen.jquery.js") }}"></script>
    <script src="{{ asset("vendor/pdfmake/build/pdfmake.min.js") }}"></script>
    <script src="{{ asset("vendor/pdfmake/build/vfs_fonts.js") }}"></script>
    <script src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            openDisplay($('#Liste'), 'Liste');
            $('#benevoleInexistant').hide();
            $('input:checkbox').removeAttr('checked');
            if($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked')){
                $('#ville').show();
                $('#distanceKm').hide();
                $("#recherche_avancee_distance").val("");
                $('#distVilleOuDom').hide();
                $('#recherche_avancee_villeOuDomicile:first-child').hide();
                if ($('#recherche_avancee_ville').val().indexOf(' (') < 0) {
                    $('#recherche_avancee_ville').val($('#recherche_avancee_ville').val() + " (" + $("#recherche_avancee_codePostal").val() + ")");
                }
            }else if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked')){
                if($('#recherche_avancee_villeOuDomicile_0').is(':checked')){
                    $('#ville').show();
                    $('#distanceKm').show();
                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                    if ($('#recherche_avancee_ville').val().indexOf(' (') < 0) {
                        $('#recherche_avancee_ville').val($('#recherche_avancee_ville').val() + " (" + $("#recherche_avancee_codePostal").val() + ")");
                    }
                }else{
                    $('#ville').hide();
                    $('#distanceKm').show();
                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                }
            }else {
                $('#ville').hide();
                $("#recherche_avancee_distance").val("");
                $('#distanceKm').hide();
                $('#distVilleOuDom').hide();
                $('#recherche_avancee_villeOuDomicile div:first-child').hide();
            }

            $('#recherche_avancee_villeOuDomicile div:first-child').hide();

            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage:{{ rowsPerPage }} });

            $("#recherche_avancee_date").prop('checked', true);
            $("#between_dates").hide();

            hide_or_show = function () {
                if ($(this).is(':checked')) {
                    $("#between_dates").hide();
                    $("#recherche_avancee_start").prop('required', false);
                    $("#recherche_avancee_end").prop('required', false);
                } else {
                    $("#between_dates").show();
                    $("#recherche_avancee_start").prop('required', true);
                    $("#recherche_avancee_end").prop('required', true);
                }
            };

            $("#recherche_avancee_date").change(hide_or_show);

            $('#recherche_avancee_start').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr',
                autoclose: true
            }).on('changeDate', function (selected) {
                $('#recherche_avancee_end').datepicker('setStartDate', new Date(selected.date.valueOf()));
            });
            $('#recherche_avancee_end').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr',
                autoclose: true
            }).on('changeDate', function (selected) {
                $('#recherche_avancee_start').datepicker('setEndDate', new Date(selected.date.valueOf()));
            });


            hide_or_show_intervention = function () {
                if ($("#recherche_avancee_typeIntervention_0").is(':checked')) {
                    $("#niveau").hide();
                    $("#theme").hide();
                }
                if ($("#recherche_avancee_typeIntervention_1").is(':checked')) {
                    $("#recherche_avancee_niveauFrimousse_chosen").hide();
                    $("#recherche_avancee_niveauPlaidoyer_chosen").show();
                    $("#theme").show();
                    $("#niveau").show();
                }
                if ($("#recherche_avancee_typeIntervention_2").is(':checked')) {
                    $("#recherche_avancee_niveauFrimousse_chosen").show();
                    $("#recherche_avancee_niveauPlaidoyer_chosen").hide();
                    $("#theme").hide();
                    $("#niveau").show();
                }
                if ($("#recherche_avancee_typeIntervention_3").is(':checked')) {
                    $("#theme").hide();
                    $("#niveau").hide();
                }
            };

            $(".chosen-select").chosen({width: "95%"});


            {% if onlyMyIntervention==1 %}
                $("#recherche_avancee_statutIntervention").hide();
                $("#recherche_avancee_statutMesInterventions").show();
            {% else %}
                $("#recherche_avancee_statutIntervention").show();
                $("#recherche_avancee_statutMesInterventions").hide();
            {% endif %}
            {% if onlyNonAttribues==1 %}
                $("#recherche_avancee_statutIntervention").hide();
                $("#recherche_avancee_statutMesInterventions").hide();
                $("form h5").first().hide();
            {% endif %}



            hide_or_show_intervention();

            $("#recherche_avancee_typeIntervention").change(hide_or_show_intervention);

            $('#recherche_avancee_dansVilleOuParDistance_placeholder').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_placeholder').is(':checked')) {
                    $('#ville').hide();
                    $('#distanceKm').hide();
                    $('#distVilleOuDom').hide();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                    $('#recherche_avancee_villeOuDomicile div:first-child').prop('checked', true);
                    $("#recherche_avancee_distance").val("");
                }
            });

            $('#recherche_avancee_dansVilleOuParDistance_0').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked')) {
                    $('#ville').show();
                    $('#distanceKm').hide();
                    $('#distVilleOuDom').hide();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                    $('#recherche_avancee_villeOuDomicile div:first-child').prop('checked', true);
                    $("#recherche_avancee_distance").val("");
                }
            });

            $('#recherche_avancee_dansVilleOuParDistance_1').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked')) {
                    $('#distanceKm').show();
                    $('#ville').hide();
                    $('#distVilleOuDom').show();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);

                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                    $('#recherche_avancee_villeOuDomicile_1').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                }
            });

            $('#recherche_avancee_villeOuDomicile_0').click(function() {
                if($('#recherche_avancee_villeOuDomicile_0').is(':checked')) {
                    $('#ville').show();
                    $('#recherche_avancee_ville').val('');
                }
            });

            $('#recherche_avancee_villeOuDomicile_1').click(function() {
                if($('#recherche_avancee_villeOuDomicile_1').is(':checked')) {
                    $('#ville').hide();
                    $('#recherche_avancee_ville').val('');
                }
            });
        });

        $(':submit').on('click', function (e) {
            e.preventDefault();
            var erreur = false;

            if (($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked') || ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && ($('#recherche_avancee_villeOuDomicile_0').is(':checked')))) && $('#recherche_avancee_ville').val().trim().length==0) {
                if ($('#erreurVille').prev()[0]==undefined) {
                    $('#recherche_avancee_ville').after('<p id="erreurVille"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurVille').show();
                }
                erreur = true;
            } else {
                $('#erreurVille').hide();
            }

            if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && $('#recherche_avancee_distance').val().trim().length==0) {
                if ($('#erreurDistance').prev()[0]==undefined) {
                    $('#recherche_avancee_distance').after('<p id="erreurDistance"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurDistance').show();
                }
                erreur = true;
            } else {
                $('#erreurDistance').hide();
            }

            if ($('#recherche_avancee_ville').val().trim().length!=0 && $('#recherche_avancee_ville').val().indexOf(' (') < 0) {
                if ($('#erreurCodePostal').prev()[0]==undefined) {
                    $('#recherche_avancee_ville').after('<p id="erreurCodePostal"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Sélectionnez un code postal</p>');
                } else {
                    $('#erreurCodePostal').show();
                }
                erreur = true;
            } else {
                $('#erreurCodePostal').hide();
            }

            if (!erreur){
                if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && $('#recherche_avancee_villeOuDomicile_0').is(':checked')) {
                    var ville = $('#recherche_avancee_ville').val();
                    var geolocalisation = '';
                    $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + ville, function (dataVille) {
                        if (dataVille.length > 0) {
                            geolocalisation = 'SRID=4326;POINT(' + dataVille[0]['lon'] + ' ' + dataVille[0]['lat'] + ')';
                            $("#recherche_avancee_geolocalisation").val(geolocalisation);
                            $("#recherche_avancee_codePostal").val($("#recherche_avancee_ville").val().split(' (')[1].split(')')[0]);
                            $("#recherche_avancee_ville").val($("#recherche_avancee_ville").val().split(' (')[0]);
                            $(".intervention").submit();
                        }
                        else {
                            //Que fait-on si 0 match ?
                        }
                    });
                }
                else {
                    if ($('#recherche_avancee_ville').val().indexOf(' (') >= 0) {
                        $("#recherche_avancee_codePostal").val($("#recherche_avancee_ville").val().split(' (')[1].split(')')[0]);
                        $("#recherche_avancee_ville").val($("#recherche_avancee_ville").val().split(' (')[0]);
                    }
                    $(".intervention").submit();
                }
            }
        });

        // Vérifier que la valeur du champs "bénévole" est correcte et correspond à une entité de la BD
        verify_benevole = function(e) {
            var username = parseUsername($('#attribution_benevole').val());
            if (username != null ) {
                $.post("{{ path('user_admin_verify_benevole') }}?username=" + username + "",
                    function (data, status) {
                        if (data.result) {
                            $('#attribution_benevole').removeClass("error");
                            $('#benevoleInexistant').hide();
                            attributeInterventionAdmin(this, $('#attribution_benevole').val(), $('#attribution_idIntervention').val());
                            $('#myModal').modal('hide');
                        } else {
                            e.preventDefault();
                            e.stopPropagation();
                            $('#attribution_benevole').addClass("error");
                            $('#benevoleInexistant').show();

                        }
                    })
            } else {
                e.preventDefault();
                e.stopPropagation();
                $('#attribution_benevole').addClass("error");
                $('#benevoleInexistant').show();
            }
        };

        $('#attribuerModal').on('click', verify_benevole);

        function imprimer(){
            var docDefinition = {
                pageOrientation: 'landscape',
                content: [
                    {text: "Liste d'interventions", style: ['header']},
                    {text: " ", style: ['header']},
                    {
                        style: 'table',
                        table: {
                            headerRows: 1,
                            widths: [80, 50,50, 60, 80, 50, 80, 50, 50, 80],
                            body: [
                                [
                                    { text: 'Lieu', style: 'tableHeader' },
                                    { text: 'Date de la demande', style: 'tableHeader'},
                                    { text: 'Plage de dates', style: 'tableHeader'},
                                    { text: 'Type', style: 'tableHeader' },
                                    { text: 'Établissement', style: 'tableHeader' },
                                    { text: 'Classe', style: 'tableHeader' },
                                    { text: 'Thème', style: 'tableHeader' },
                                    { text: 'Statut', style: 'tableHeader' },
                                    { text: 'Contact', style: 'tableHeader' },
                                    { text: 'Email contact', style: 'tableHeader' }
                                ],
                                {% for intervention in liste %}
                                    [ { text: "{{ intervention.etablissement.adresse.ville.nom }}", style: 'tableHeader' },
                                      { text: "{{ intervention.demande.dateDemande|date('d-m-Y') }}", style: 'tableHeader' },
                                      { text: "PLAGE DE DATES", style: 'tableHeader' },
                                        {% if intervention.plaidoyer %}
                                        { text: "Action éducative", style: 'tableHeader' },
                                        {% elseif intervention.frimousse %}
                                        { text: "Frimousse", style: 'tableHeader' },
                                        {% else %}
                                        { text: "Autre intervention", style: 'tableHeader' },
                                        {% endif %}
                                        { text: "{{ intervention.etablissement.nom | capitalize }}", style: 'tableHeader' },
                                        {% if intervention.plaidoyer %}
                                        { text: "{{ intervention.niveauTheme.niveau | capitalize }}", style: 'tableHeader' },
                                        {% elseif intervention.frimousse %}
                                        { text: "{{ intervention.niveauFrimousse | capitalize }}", style: 'tableHeader' },
                                        {% else %}
                                        { text: "-", style: 'tableHeader' },
                                        {% endif %}
                                        {% if intervention.plaidoyer %}
                                        { text: "{{ intervention.niveauTheme.theme | capitalize }}", style: 'tableHeader' },
                                        {% else %}
                                        { text: "-", style: 'tableHeader' },
                                        {% endif %}
                                        {% if intervention.realisee %}
                                        { text: "Réalisée", style: 'tableHeader' },
                                        {% elseif intervention.benevole %}
                                        { text: "{{ intervention.benevole.prenom | capitalize }} {{ intervention.benevole.nom | capitalize }}", style: 'tableHeader' },
                                        {% else %}
                                        { text: " ", style: 'tableHeader' },
                                        {% endif %}
                                        { text: "{{ intervention.demande.contact.prenom | capitalize }} {{ intervention.demande.contact.nom | capitalize }}", style: 'tableHeader' },
                                        { text: "{{ intervention.demande.contact.email }}", style: 'tableHeader' }
                                    ],
                                {% endfor %}
                            ]
                        },
                        layout: 'lightHorizontalLines'
                    }
                ],
                styles: {
                    header: {
                        fontSize: 13,
                        alignment: 'center'
                    },
                    tableHeader: {
                        fontSize: 9,
                        alignment: 'left'
                    }
                }
            };

            pdfMake.createPdf(docDefinition).download("liste-d'interventions.pdf");
        }

        function deleteInterventions() {
            var conf = confirm('Souhaitez vous vraiment supprimer ces interventions ?');
            if (conf) {
                var selected = [];
                $("input:checkbox[name=type]:checked").each(function () {
                    var $this = $(this);
                    selected.push($this.attr("id"));
                });
                var ids = JSON.stringify(selected);
                $.post("{{ path('intervention_admin_deletes') }}", {'ids': ids},
                    function (data, status) {
                        for (i = 0; i < selected.length; i++) {
                            $("#" + selected[i]).closest('tr').remove();
                        }
                    });
            }
        }

        function desattributeIntervention(event, id) {
            $.post("{{ path('intervention_self_desattribute') }}", {'id': id},
                function (data, status) {
                    $(event).attr('class', 'btn btn-primary');
                    $(event).text('Se l\'attribuer');
                    $(event).attr("onclick", "attributeIntervention(this, " + id + ")");
                });
        }

        function attributeIntervention(event, id) {
            $.post("{{ path('intervention_self_attribute') }}", {'id': id},
                function (data, status) {
                    $(event).hide();
                })
                    .fail(function() {
                        alert( "Cette intervention a déjà été attribuée à un bénévole !" );
                        window.location.replace('{{ path("intervention_list") }}');
                    });
        }

        var benevoles = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("user_admin_benevole_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#attribution_benevole').typeahead(null, {
            name: 'benevoles',
            source: benevoles,
            limit: 50
        });

        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#recherche_avancee_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });

        function sendIdToModal(id) {
            $('#attribution_benevole').val('');
            $("#attribution_idIntervention").attr("value", id);
        }

        function attributeInterventionAdmin(event, username, id) {
            username = parseUsername(username);
            $.post("{{ path('intervention_attribute') }}", {'username': username, 'id': id},
                function (data, status) {
                    var selector = "button[name=attribuer" + id + "]";
                    $(selector).attr('class', 'btn btn-danger');
                    $(selector).text('Retirer ' + data.prenom.charAt(0).toUpperCase() + data.prenom.slice(1) + ' '
                            + data.nom.charAt(0).toUpperCase() + data.nom.slice(1) );
                    $(selector).attr('text-overflow', 'ellipsis');
                    $(selector).attr("onclick", "desattributeInterventionAdmin(this, " + id + ")");
                    $(selector).removeAttr("data-target");
                    $(selector).removeAttr("data-toggle");
                });
        }

        function desattributeInterventionAdmin(event, id) {
            $.post("{{ path('intervention_self_desattribute') }}", {'id': id},
                function (data, status) {
                    $(event).attr('class', 'btn btn-primary');
                    $(event).text('Attribuer à');
                    $(event).attr("onclick", "sendIdToModal(" + id + ")");
                    $(event).attr("data-target", "#myModal");
                    $(event).attr("data-toggle", "modal");
                    $(event).attr("name", "attribuer" + id);
                });
        }

        function parseUsername(username){
            var regexUsername = /\((.*?)\)/;
            if  (regexUsername.exec(username) != null) {
                username = regexUsername.exec(username)[0].substring(1);
                return username.substring(0, username.length - 1)
            } else {
                return null
            }
        }

//        $('#attribuerModal').click(function () {
//            $('#myModal').modal('hide');
//        });

        function openDisplay(button, display) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and (not done anymore ->) add an "active" class to the link that opened the tab
            document.getElementById(display).style.display = "block";
            button.className += " active";
        }

        {% if liste is not empty %}
            var mymap = L.map('mapid');
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                maxZoom: 20,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);
            var markers = [];
            {% for intervention in liste %}
                {% if intervention.etablissement.adresse.geolocalisation is not null %}
                    var lat = {{ intervention.etablissement.adresse.geolocalisation|split('(')[1]|split(' ')[0] }};
                    var lon = {{ intervention.etablissement.adresse.geolocalisation|split(' ')[1]|split(')')[0] }};
                    var redMarker = L.AwesomeMarkers.icon({
                        icon: 'glyphicon-exclamation-sign',
                        markerColor: 'red'
                    });
                    var orangeMarker = L.AwesomeMarkers.icon({
                        icon: 'glyphicon-exclamation-sign',
                        markerColor: 'orange'
                    });
                    var greenMarker = L.AwesomeMarkers.icon({
                        icon: 'glyphicon-ok',
                        markerColor: 'green'
                    });
                    var marker = L.marker([lon, lat]);
                    {% if intervention.realisee %}
                        marker.setIcon(greenMarker);
                    {% elseif (date("now")>=(intervention.dateIntervention)) and intervention.dateIntervention  %}
                        {%  if intervention.benevole %}
                            {% if (user.nom==intervention.benevole.nom or user.nom=="admin" ) %}
                                marker.setIcon(redMarker);
                            {% endif %}
                        {% else %}
                            marker.setIcon(redMarker);
                        {% endif %}
                    {% elseif  (date("now")|date_modify("+5 day"))>=(intervention.dateIntervention) and intervention.dateIntervention %}
                        {%  if intervention.benevole %}
                            {% if (user.nom==intervention.benevole.nom or user.nom=="admin" ) %}
                                marker.setIcon(orangeMarker);
                            {% endif %}
                        {% else %}
                            marker.setIcon(orangeMarker);
                        {% endif %}
                    {% endif %}
                    marker.on('click', function (e) {
                        mymap.setView(e.target.getLatLng());
                    });
                    var alreadyExists = false;
                    for (var i=0; i<markers.length; i++) {
                        if (marker.getLatLng()["lat"] == markers[i].getLatLng()["lat"] && marker.getLatLng()["lon"] == markers[i].getLatLng()["lon"]) {
                            {% if intervention.dateIntervention %}
                                {% set date = intervention.dateIntervention|date("d-m-Y") %}
                            {% else %}
                                {% set date = "Date non définie" %}
                            {% endif %}
                            marker.bindPopup(markers[i].getPopup().getContent() + "<br><br><b>{{ intervention.etablissement.nom }}</b><br>{{ intervention.etablissement.adresse.ville.nom }}<br>{{ date }}<br><a href='{{ path('intervention_view', {id: intervention.id}) }}'>Détails de l'intervention</a>");
                            if (markers[i].icon == redMarker || (markers[i].icon == orangeMarker && marker.icon != redMarker) || (markers[i].icon != greenMarker && marker.icon == greenMarker)) {
                                marker.setIcon(markers[i].icon);
                            }
                            markers[i] = marker;
                            alreadyExists = true;
                            break;
                        }
                    }
                    if (!alreadyExists) {
                        marker.bindPopup("<b>{{ intervention.etablissement.nom }}</b><br>{{ intervention.etablissement.adresse.ville.nom }}<br>{{ date }}<br><a href='{{ path('intervention_view', {id: intervention.id}) }}'>Détails de l'intervention</a>");
                        markers.push(marker);
                    }
                {% endif %}
            {% endfor %}
            if (markers.length > 0) {
                var group = new L.featureGroup(markers).addTo(mymap);
                mymap.fitBounds(group.getBounds());
            }
            mymap.setZoom(9);

            $("body").on('click','#CarteLink', function() {
                mymap.invalidateSize(false);
            });
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>
                {% if onlyMyIntervention %}
                    {{ form_start(form, {'method': 'get', 'action': path('intervention_self'), 'attr': {'class': 'intervention form-sm'}}) }}
                {% elseif onlyNonAttribues %}
                    {{ form_start(form, {'method': 'get', 'action': path('demandes_recentes'), 'attr': {'class': 'intervention form-sm'}}) }}
                {% else %}
                    {{ form_start(form, {'method': 'get', 'action': path('intervention_list'), 'attr': {'class': 'intervention form-sm'}}) }}
                {% endif %}

                <h5>Statut de l'intervention :</h5>
                {{ form_widget(form.statutIntervention) }}
                {{ form_widget(form.statutMesInterventions) }}

                <br/>
                <h5>Type d'intervention :</h5>
                {{ form_widget(form.typeIntervention) }}
                <br/>

                <div id="niveau">
                    <h5> Niveau scolaire</h5>
                    {{ form_widget(form.niveauFrimousse, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                    {{ form_widget(form.niveauPlaidoyer, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                </div>

                <div id="theme">
                    <h5> Thème </h5>
                    {{ form_widget(form.theme, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                </div>

                <br/>
                <h5>Dates d'intervention :</h5>
                {{ form_widget(form.date) }}
                <div id="between_dates">
                    Interventions entre le
                    {{ form_widget(form.start, { 'attr': {'class': 'input-sm'} }) }}
                    et le
                    {{ form_widget(form.end, { 'attr': {'class': 'input-sm'} }) }}
                </div>
                <br/>
                <div id="filtrePar">
                    <h5> Filtre par lieu :</h5>
                    {{ form_widget(form.dansVilleOuParDistance) }}
                </div>
                <div id="distVilleOuDom">
                    <h5> Distance de ville ou domicile ?</h5>
                    {{ form_widget(form.villeOuDomicile) }}
                </div>
                <div id="ville">
                    <h5> Ville :</h5>
                    {{ form_widget(form.ville, { 'attr': {'class': 'input-sm'} }) }}
                </div>
                <div id="distanceKm">
                    <h5> Distance en km :</h5>
                    {{ form_widget(form.distance) }}
                </div>
                <br/>
                <div>
                    <input type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <section id="listeIntervention" class="col-lg-10 col-md-10 col-sm-10">
        <ul class="tab">
            <li><a href="javascript:void(0)" class="tablinks" id="ListeLink" onclick="openDisplay($(this), 'Liste')">Liste</a></li>
            <li><a href="javascript:void(0)" class="tablinks" id="CarteLink" onclick="openDisplay($(this), 'Carte')">Carte</a></li>
        </ul>
        {% if onlyMyIntervention %}
            {% set vue =  'intervention_self' %}
        {% elseif  onlyNonAttribues %}
            {% set vue =  'demandes_recentes' %}
        {% else %}
            {% set vue =  'intervention_list' %}
        {% endif %}
        <div id="Liste" class="tabcontent">
            {% if liste is not empty %}
            <h2>
                Liste des
                {% if onlyNonAttribues %}
                    demandes récentes
                {% elseif typeIntervention == "plaidoyer" %}
                    actions éducatives
                {% elseif typeIntervention == "frimousse" %}
                    interventions frimousses
                {% elseif typeIntervention == "autreIntervention" %}
                    autres interventions
                {% else %}
                    interventions
                {% endif %}
                {% if isCheck is empty %}
                    {% if dateStart is not null %}
                        entre le {{ dateStart.format('d-m-Y') }}
                    {% endif %}
                    {% if dateEnd is not null %}
                        et le {{ dateEnd.format('d-m-Y') }}
                    {% endif %}
                {% endif %}
                :
            </h2>
            <button type="button" class="imprimente" onclick="imprimer()"><span class="glyphicon glyphicon-print"></span></button><br>

            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableIntervention">
                            <thead>
                            <tr>
                                {% set pathReq = [] %}
                                {% if app.request.query.get('recherche_avancee') is not null %}
                                    {% set pathReq = {"recherche_avancee":app.request.query.get('recherche_avancee')} %}
                                {% endif %}
                                {% if app.request.query.get('rowsPerPage') is not null %}
                                    {% set pathReq = pathReq | merge({"rowsPerPage":app.request.query.get('rowsPerPage')}) %}
                                {% endif %}
                                {% if field == "dateIntervention" %}
                                    {% if desc %}
                                        <th>Lieu
                                            <a class="sortButtonLieu" id="sortButtonLieu"
                                               href="{{ path(vue, pathReq | merge({"desc":false, "field":"lieu"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                     id="sortLieu" alt="sort Down"/>
                                            </a>
                                        </th>
                                        <th>Date
                                            <a class="sortButtonDate" id="sortButtonDate"
                                               href="{{ path(vue, pathReq | merge({"desc":false, "field":"dateIntervention"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                     id="sortDate" alt="sort Down"/>
                                            </a>
                                        </th>
                                    {% else %}
                                        <th>Lieu
                                            <a class="sortButtonLieu" id="sortButtonLieu"
                                               href="{{ path(vue, pathReq | merge({"desc":true, "field":"lieu"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-up"
                                                     id="sortLieu" alt="sort Down"/>
                                            </a>
                                        </th>
                                        <th>Date
                                            <a class="sortButtonDate" id="sortButtonDate"
                                               href="{{ path(vue, pathReq | merge({"desc":true, "field":"dateIntervention"}) ) }}">
                                                <img src="{{ asset('img/sort-up.png') }}" class=" sort sort-up"
                                                     id="sortDate" alt="sort Up"/>
                                            </a>
                                        </th>
                                    {% endif %}
                                {% else %}
                                    {% if desc %}
                                        <th>Lieu
                                            <a class="sortButtonLieu" id="sortButtonLieu"
                                               href="{{ path(vue, pathReq | merge({"desc":false, "field":"lieu"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                     id="sortLieu" alt="sort Down"/>
                                            </a>
                                        </th>
                                        <th>Date
                                            <a class="sortButtonDate" id="sortButtonDate"
                                               href="{{ path(vue, pathReq | merge({"desc":false, "field":"dateIntervention"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                     id="sortDate" alt="sort Down"/>
                                            </a>
                                        </th>
                                    {% else %}
                                        <th>Lieu
                                            <a class="sortButtonLieu" id="sortButtonLieu"
                                               href="{{ path(vue, pathReq | merge({"desc":true, "field":"lieu"}) ) }}">
                                                <img src="{{ asset('img/sort-up.png') }}" class="sort sort-up" id="sortLieu"
                                                     alt="sort Up"/>
                                            </a>
                                        </th>
                                        <th>Date
                                            <a class="sortButtonDate" id="sortButtonDate"
                                               href="{{ path(vue, pathReq | merge({"desc":true, "field":"dateIntervention"}) ) }}">
                                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-up"
                                                     id="sortDate" alt="sort Up"/>
                                            </a>
                                        </th>
                                    {% endif %}
                                {% endif %}
                                {% if onlyNonAttribues %}
                                    <th>Date de la Demande</th>
                                {% endif %}
                                <th>Type</th>
                                <th>Etablissement</th>
                                <th>Classe</th>
                                <th>Thème</th>
                                <th>Statut</th>
                                <th>Détails</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>Supprimer</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody id="myTable">
                                {% for intervention in liste %}
                                    {% if (date("now")>=(intervention.dateIntervention)) and not (intervention.realisee) and intervention.dateIntervention  %}
                                        {%  if intervention.benevole %}
                                            {% if (user.nom==intervention.benevole.nom or user.nom=="admin" ) %}
                                                <tr class="dangerTable">
                                            {% endif %}
                                        {% else %}
                                            <tr class="dangerTable">
                                        {% endif %}
                                    {% elseif  (date("now")|date_modify("+5 day"))>=(intervention.dateIntervention) and not (intervention.realisee) and intervention.dateIntervention %}
                                        {%  if intervention.benevole %}
                                            {% if (user.nom==intervention.benevole.nom or user.nom=="admin" ) %}
                                                <tr class="warningTable" >
                                            {% endif %}
                                        {% else %}
                                            <tr class="warningTable" >
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                    <td data-title="Lieu">{{ intervention.etablissement.adresse.ville.nom }}</td>
                                    <td data-title="Date">
                                        {% if intervention.dateIntervention %}
                                            {{ intervention.dateIntervention|date("d-m-Y") }}
                                        {% else %}
                                            <em style="color: #868282">Entre le {{ intervention.demande.dateDebutDisponibilite|date("d-m-Y")  }} et le {{ intervention.demande.dateFinDisponibilite|date("d-m-Y")  }}</em>
                                        {% endif %} </td>
                                    {% if onlyNonAttribues %}
                                        <td data-title="Date Demande">{{ intervention.demande.dateDemande|date("d-m-Y") }}</td>
                                    {% endif %}
                                    <td data-title="Type">
                                        {% if intervention.plaidoyer %}
                                            Action éducative
                                        {% elseif intervention.frimousse %}
                                            Frimousse
                                        {% else %}
                                            Autre intervention
                                        {% endif %}
                                    </td>
                                    <td data-title="Etablissement">
                                        <a href="{{ path('etablissement_view', {'id':intervention.etablissement.id}) }}">
                                            {% if intervention.etablissement.nom %}
                                                {{ intervention.etablissement.nom | capitalize }} -
                                            {% endif %}
                                            {{ intervention.etablissement.typeEnseignement | capitalize }} {{ intervention.etablissement.typeCentre | capitalize }} {{ intervention.etablissement.typeAutreEtablissement | capitalize }}
                                        </a>
                                    </td>
                                    <td data-title="Classe">
                                        {% if intervention.plaidoyer %}
                                            {{ intervention.niveauTheme.niveau | capitalize }}
                                        {% elseif intervention.frimousse %}
                                            {{ intervention.niveauFrimousse | capitalize }}
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>
                                    <td data-title="Thème">
                                        {% if intervention.plaidoyer %}
                                            {{ intervention.niveauTheme.theme | capitalize }}
                                        {% elseif intervention.frimousse %}
                                            -
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>
                                    <td data-title="Statut">


                                        {% if intervention.realisee %}
                                            <p class="text-success"> Réalisée<span class="glyphicon glyphicon-ok"></span>
                                            </p>
                                        {% elseif intervention.benevole %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <button name="desattribution" type="button" class="btn btn-danger"
                                                        onclick="desattributeInterventionAdmin(this, {{ intervention.id }})" style="padding-right: 4px;padding-left: 4px; font-size: 14px; width: 100%; overflow: hidden; text-overflow: ellipsis; ">
                                                    Retirer {{ intervention.benevole.prenom | capitalize }} {{ intervention.benevole.nom | capitalize }}

                                                </button>
                                            {% else %}
                                                Attribuée à {{ intervention.benevole.prenom | capitalize }} {{ intervention.benevole.nom | capitalize }}
                                            {% endif %}
                                        {% else %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <button name="attribuer{{ intervention.id }}" type="button"
                                                        class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                                        onclick="sendIdToModal({{ intervention.id }})"
                                                        style="padding-right: 4px;padding-left: 4px; font-size: 14px; width: 100%; overflow: hidden; text-overflow: ellipsis; ">
                                                    Attribuer à
                                                </button>
                                            {% else %}
                                                <button name="attribution" type="button" class="btn btn-primary"
                                                        onclick="attributeIntervention(this, {{ intervention.id }})">
                                                    Se l'attribuer
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-title="Voir Détails">
                                        <a href="{{ path('intervention_view', {id: intervention.id}) }}"
                                           class="btn btn-primary">Détails</a>
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td data-title="Supprimer">
                                            <div class="checkbox" style="text-align: center">
                                                <label>
                                                    <input type="checkbox" name="type" id="{{ intervention.id }}">
                                                </label>
                                            </div>
                                        </td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="buttons">
                        <button type="button" class="btn btn-danger" onclick="deleteInterventions()">Supprimer</button>
                    </div>
                    <div class="col-md-12 text-center">
                        {% set pathReq = [] %}
                        {% if app.request.query.get('recherche_avancee') is not null %}
                            {% set pathReq = {"recherche_avancee":app.request.query.get('recherche_avancee')} %}
                        {% endif %}
                        {% if app.request.query.get('desc') is not null %}
                            {% set pathReq = pathReq | merge({"desc":app.request.query.get('desc')}) | merge({"field":app.request.query.get('field')}) %}
                        {% endif %}
                        <ul>Par page :
                            <a href="{{ path(vue, pathReq | merge({"rowsPerPage":5}) ) }}">5</a>,
                            <a href="{{ path(vue, pathReq | merge({"rowsPerPage":10}) ) }}">10</a>,
                            <a href="{{ path(vue, pathReq | merge({"rowsPerPage":20}) ) }}">20</a>,
                            <a href="{{ path(vue, pathReq | merge({"rowsPerPage":50}) ) }}">50</a>,
                            <a href="{{ path(vue, pathReq | merge({"rowsPerPage":100}) ) }}">100</a>
                        </ul>
                        <ul class="pagination pagination-lg pager" id="myPager"></ul>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="text-warning">Aucune intervention ne correspond à votre requête, veuillez lancer une nouvelle recherche.</div>
            {% endif %}
        </div>
        <div id="Carte" class="tabcontent">
            {% if liste is not empty %}
                <div id="mapid"></div>
            {% else %}
                <div class="text-warning">Aucune intervention ne correspond à votre requête, veuillez lancer une nouvelle recherche.</div>
            {% endif %}
        </div>
    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Attribuer l'intervention à</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formAttr, {'method': 'post', 'action': path(vue), 'attr': {'class': "{{ vue }} form-sm"}}) }}
                    <h5>Bénévole : {{ form_widget(formAttr.benevole) }}</h5>
                    <div id="benevoleInexistant"> Ce bénévole n'existe pas, veuillez entrer un bénévole qui existe. </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button id="attribuerModal" type="button" class="btn btn-primary"
                            onclick="verify_benevole">
                        Attribuer
                    </button>
                </div>
                {{ form_end(formAttr) }}
            </div>
        </div>
    </div>

{% endblock %}
