{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#between_dates").hide();
            $("#recherche_avancee_date_0").change(function() {
                    if($(this).is(':checked')){
                        $("#between_dates").show();
                    }else{
                        $("#between_dates").hide();
                    }
            });

        });
    </script>
{% endblock %}

{% block body %}

    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>

                {{ form_start(form, {'method': 'post', 'action': path('intervention_list'), 'attr': {'class': 'intervention_list'}}) }}
                <h4>Type d'intervention :</h4>
                {{ form_widget(form.typeIntervention) }}
                <br/>
                {{ form_widget(form.date) }}
                <br/>

                <div id="between_dates">
                    Interventions entre le
                    {{ form_widget(form.start) }}
                    et le
                    {{ form_widget(form.end) }}
                </div>

                <br/>

                <div>
                    <input type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>

    <section class="col-lg-10 col-md-10 col-sm-10">
        <h2>Liste des interventions :</h2>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Voir détails</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for intervention in liste %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ intervention.lieu }}</td>
                    <td>{{ intervention.date }}</td>
                    <td><a href="{#{ path('architecture_intervention_view', {id: intervention.id}) }#}" class="btn btn-primary">Voir détails</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{#{ path('architecture_intervention_delete', {id: intervention.id}) }#}" class="btn btn-danger">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td colspan="5" class="text-center"><a href="{#{ path('architecture_intervention_add') }#}" class="btn btn-primary btn-danger"><i class="glyphicon glyphicon-alert"></i> Ajouter une intervention</a></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </section>


{% endblock %}
