{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css") }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js") }}"></script>
    <script>
        $(document).ready(function() {
            $("#recherche_avancee_date").prop('checked',true);
            $("#between_dates").hide();

            hide_or_show = function() {
                if($(this).is(':checked')){
                    $("#between_dates").hide();
                    $("#recherche_avancee_start").prop('required',false);
                    $("#recherche_avancee_end").prop('required',false);
                }else{
                    $("#between_dates").show();
                    $("#recherche_avancee_start").prop('required',true);
                    $("#recherche_avancee_end").prop('required',true);
                }
            };

            $("#recherche_avancee_date").change(hide_or_show);


            $('#recherche_avancee_start').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr'
            });

            $('#recherche_avancee_end').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr'
            });

        });

    </script>
{% endblock %}



{% block body %}

    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>

                {{ form_start(form, {'method': 'post', 'action': path('intervention_list'), 'attr': {'class': 'intervention_list form-sm'}}) }}
                <h5>Type d'intervention :</h5>
                {{ form_widget(form.typeIntervention) }}
                <br/>

                <h5>Dates d'intervention :</h5>
                {{ form_widget(form.date) }}
                <br/>
                <div id="between_dates">
                    Interventions entre le
                    {{ form_widget(form.start, { 'attr': {'class': 'input-sm'} }) }}
                    et le
                    {{ form_widget(form.end, { 'attr': {'class': 'input-sm'} }) }}
                </div>

                <br/>

                <div>
                    <input id="submit" type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>

    <section class="col-lg-10 col-md-10 col-sm-10">
        <h2>
            Liste des
            {% if typeIntervention == "plaidoyer" %}
                plaidoyers
            {% elseif typeIntervention == "frimousse" %}
                interventions frimousses
            {% elseif typeIntervention == "autreIntervention" %}
                autres interventions
            {% else  %}
                interventions
            {% endif %}
            {% if isCheck is empty %}
                {% if dateStart is not null %}
                    entre le {{ dateStart.format('d-m-Y') }}
                {% endif %}
                {% if dateEnd is not null %}
                    et le {{ dateEnd.format('d-m-Y') }}
                {% endif %}
            {% endif %}
            :
        </h2>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Type</th>
                <th>Voir détails</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for intervention in liste %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ intervention.lieu }}</td>
                    <td>{{ intervention.date|date("d-m-Y") }}</td>
                    <td>A faire</td>
                    <td><a href="{{ path('intervention_view', {id: intervention.id}) }}" class="btn btn-primary">Voir détails</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('intervention_admin_delete', {id: intervention.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td colspan="5" class="text-center"><a href="{{ path('intervention_admin_add') }}" class="btn btn-primary btn-danger"><i class="glyphicon glyphicon-alert"></i> Ajouter une intervention</a></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </section>


{% endblock %}
