{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}

{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Liste des interventions - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css") }}"/>
    <link rel="stylesheet" href="{{ asset("vendor/chosen/chosen.css") }}"/>
    <style>
        #recherche_avancee_ville {
            text-transform: uppercase;
        }

        .twitter-typeahead .tt-query,
        .twitter-typeahead .tt-hint {
            margin-bottom: 0;
        }

        .tt-hint {
            display: none;
            width: 100%;
            height: 43px;
            padding: 10px 18px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #999;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .tt-menu {
            min-width: 160px;
            margin-top: 2px;
            padding: 5px 0;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            max-height: 150px;
            overflow-y: auto;

        }

        .tt-suggestion {
            display: block;
            padding: 3px 20px;
        }

        .tt-suggestion.tt-is-under-cursor {
            color: #fff;
            background-color: #428bca;
        }

        .tt-suggestion.tt-is-under-cursor a {
            color: #fff;
        }

        .tt-suggestion p {
            margin: 0;
        }


    </style>
    <style>

        @media only screen and (max-width: 1090px) {

            .btn-danger{
                max-width: 200px !important;
            }

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
                white-space: normal;
                text-align: left;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            td:before {
                content: attr(data-title);
            }
        }
        .container{
            padding-right: 15px !important;
            padding-left: 20px !important;
        }
        tbody{
            font-size: 15px !important;
        }


        tbody {
            display:block;
            height: 750px;
            overflow:auto;
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }



    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js") }}"></script>
    <script src="{{ asset("vendor/typeahead.js/dist/typeahead.jquery.js") }}"></script>
    <script src="{{ asset("vendor/typeahead.js/dist/bloodhound.js") }}"></script>
    <script src="{{ asset("vendor/chosen/chosen.jquery.js") }}"></script>
    <script>
        $('input:checkbox').removeAttr('checked');

        $(document).ready(function () {

            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage:{{ rowsPerPage }} });

            $("#recherche_avancee_date").prop('checked', true);
            $("#between_dates").hide();

            hide_or_show = function () {
                if ($(this).is(':checked')) {
                    $("#between_dates").hide();
                    $("#recherche_avancee_start").prop('required', false);
                    $("#recherche_avancee_end").prop('required', false);
                } else {
                    $("#between_dates").show();
                    $("#recherche_avancee_start").prop('required', true);
                    $("#recherche_avancee_end").prop('required', true);
                }
            };

            $("#recherche_avancee_date").change(hide_or_show);

            $('#recherche_avancee_start').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr',
                autoclose: true
            }).on('changeDate', function (selected) {
                $('#recherche_avancee_end').datepicker('setStartDate', new Date(selected.date.valueOf()));
            });
            $('#recherche_avancee_end').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr',
                autoclose: true
            }).on('changeDate', function (selected) {
                $('#recherche_avancee_start').datepicker('setEndDate', new Date(selected.date.valueOf()));
            });


            hide_or_show_intervention = function () {
                if ($("#recherche_avancee_typeIntervention_0").is(':checked')) {
                    $("#niveau").hide();
                    $("#theme").hide();
                }
                if ($("#recherche_avancee_typeIntervention_1").is(':checked')) {
                    $("#recherche_avancee_niveauFrimousse_chosen").hide();
                    $("#recherche_avancee_niveauPlaidoyer_chosen").show();
                    $("#theme").show();
                    $("#niveau").show();
                }
                if ($("#recherche_avancee_typeIntervention_2").is(':checked')) {
                    $("#recherche_avancee_niveauFrimousse_chosen").show();
                    $("#recherche_avancee_niveauPlaidoyer_chosen").hide();
                    $("#theme").hide();
                    $("#niveau").show();
                }
                if ($("#recherche_avancee_typeIntervention_3").is(':checked')) {
                    $("#theme").hide();
                    $("#niveau").hide();
                }
            };

            $(".chosen-select").chosen({width: "95%"});


            {% if onlyMyIntervention==1 %}
            $("#recherche_avancee_statutIntervention").hide();
            $("#recherche_avancee_statutMesInterventions").show();
            {% else %}
            $("#recherche_avancee_statutIntervention").show();
            $("#recherche_avancee_statutMesInterventions").hide();
            {% endif %}



            hide_or_show_intervention();

            $("#recherche_avancee_typeIntervention").change(hide_or_show_intervention);


        });


        function deleteInterventions() {
            var conf = confirm('Souhaitez vous vraiment supprimer ces interventions ?');

            if (conf) {
                var selected = [];
                $("input:checkbox[name=type]:checked").each(function () {
                    var $this = $(this);
                    selected.push($this.attr("id"));
                });
                var ids = JSON.stringify(selected);
                $.post("{{ path('intervention_admin_deletes') }}", {'ids': ids},
                    function (data, status) {
                        for (i = 0; i < selected.length; i++) {
                            $("#" + selected[i]).closest('tr').remove();
                        }
                    });
            }
        }

        function desattributeIntervention(event, id) {
            $.post("{{ path('intervention_self_desattribute') }}", {'id': id},
                function (data, status) {
                    $(event).attr('class', 'btn btn-primary');
                    $(event).text('Se l\'attribuer');
                    $(event).attr("onclick", "attributeIntervention(this, " + id + ")");
                });
        }

        function attributeIntervention(event, id) {
            $.post("{{ path('intervention_self_attribute') }}", {'id': id},
                function (data, status) {
                    $(event).attr('class', 'btn btn-danger');
                    $(event).text('Se la désattribuer');
                    $(event).attr("onclick", "desattributeIntervention(this, " + id + ")");
                })
                    .fail(function() {
                        alert( "Cette intervention a déjà été attribuée à un bénévole !" );
                        window.location.replace('{{ path("intervention_list") }}');
                    });
        }

        var benevoles = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("user_admin_benevole_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#attribution_benevole').typeahead(null, {
            name: 'benevoles',
            source: benevoles,
            limit: 50
        });

        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#recherche_avancee_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });

        function sendIdToModal(id) {
            $("#attribution_idIntervention").attr("value", id);
        }

        function attributeInterventionAdmin(event, username, id) {
            $.post("{{ path('intervention_attribute') }}", {'username': username, 'id': id},
                function (data, status) {
                    var selector = "button[name=attribuer" + id + "]";
                    $(selector).attr('class', 'btn btn-danger');
                    $(selector).text('Retirer ' + data.prenom + ' ' + data.nom );
                    $(selector).attr("onclick", "desattributeInterventionAdmin(this, " + id + ")");
                    $(selector).removeAttr("data-target");
                    $(selector).removeAttr("data-toggle");
                });
        }

        function desattributeInterventionAdmin(event, id) {
            $.post("{{ path('intervention_self_desattribute') }}", {'id': id},
                function (data, status) {
                    $(event).attr('class', 'btn btn-primary');
                    $(event).text('Attribuer l\'intervention à');
                    $(event).attr("onclick", "sendIdToModal(" + id + ")");
                    $(event).attr("data-target", "#myModal");
                    $(event).attr("data-toggle", "modal");
                    $(event).attr("name", "attribuer" + id);
                });
        }

        $('#attribuerModal').click(function () {
            $('#myModal').modal('hide');
        });


        //        $('#recherche_avancee_statutIntervention_2').hide();
        //        $('#recherche_avancee_statutIntervention_2').next('label:first').html().hide();
        //        $('#recherche_avancee_statutIntervention_2').next('label:first').html().hide();
    </script>
{% endblock %}

{% block body %}


    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>
                {% if onlyMyIntervention %}
                    {{ form_start(form, {'method': 'get', 'action': path('intervention_self'), 'attr': {'class': 'intervention_self form-sm'}}) }}
                {% else %}
                    {{ form_start(form, {'method': 'get', 'action': path('intervention_list'), 'attr': {'class': 'intervention_list form-sm'}}) }}

                {% endif %}

                <h5>Statut de l'intervention :</h5>
                {{ form_widget(form.statutIntervention) }}
                {{ form_widget(form.statutMesInterventions) }}

                <br/>
                <h5>Type d'intervention :</h5>
                {{ form_widget(form.typeIntervention) }}
                <br/>

                <div id="niveau">
                    <h5> Niveau scolaire</h5>
                    {{ form_widget(form.niveauFrimousse, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                    {{ form_widget(form.niveauPlaidoyer, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                </div>

                <div id="theme">
                    <h5> Thème </h5>
                    {{ form_widget(form.theme, { 'attr': {'class': 'input-sm chosen-select'} }) }}
                </div>

                <br/>
                <h5>Dates d'intervention :</h5>
                {{ form_widget(form.date) }}
                <div id="between_dates">
                    Interventions entre le
                    {{ form_widget(form.start, { 'attr': {'class': 'input-sm'} }) }}
                    et le
                    {{ form_widget(form.end, { 'attr': {'class': 'input-sm'} }) }}
                </div>
                <br/>
                <h5> Ville </h5>
                {{ form_widget(form.ville, { 'attr': {'class': 'input-sm'} }) }}
                <div>
                    <input id="submit" type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <section id="listeIntervention" class="col-lg-10 col-md-10 col-sm-10">
        <h2>
            Liste des
            {% if typeIntervention == "plaidoyer" %}
                plaidoyers
            {% elseif typeIntervention == "frimousse" %}
                interventions frimousses
            {% elseif typeIntervention == "autreIntervention" %}
                autres interventions
            {% else %}
                interventions
            {% endif %}
            {% if isCheck is empty %}
                {% if dateStart is not null %}
                    entre le {{ dateStart.format('d-m-Y') }}
                {% endif %}
                {% if dateEnd is not null %}
                    et le {{ dateEnd.format('d-m-Y') }}
                {% endif %}
            {% endif %}
            :
        </h2>
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="tableIntervention">
                        <thead>
                        <tr>
                            {% set pathReq = [] %}
                            {% if app.request.query.get('recherche_avancee') is not null %}
                                {% set pathReq = {"recherche_avancee":app.request.query.get('recherche_avancee')} %}
                            {% endif %}
                            {% if app.request.query.get('rowsPerPage') is not null %}
                                {% set pathReq = pathReq | merge({"rowsPerPage":app.request.query.get('rowsPerPage')}) %}
                            {% endif %}
                            {% if field == "dateIntervention" %}
                                {% if desc %}
                                    <th>Lieu
                                        <a class="sortButtonLieu" id="sortButtonLieu"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":false, "field":"lieu"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                 id="sortLieu" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Date
                                        <a class="sortButtonDate" id="sortButtonDate"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":false, "field":"dateIntervention"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                 id="sortDate" alt="sort Down"/>
                                        </a>
                                    </th>
                                {% else %}
                                    <th>Lieu
                                        <a class="sortButtonLieu" id="sortButtonLieu"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":true, "field":"lieu"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-up"
                                                 id="sortLieu" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Date
                                        <a class="sortButtonDate" id="sortButtonDate"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":true, "field":"dateIntervention"}) ) }}">
                                            <img src="{{ asset('img/sort-up.png') }}" class=" sort sort-up"
                                                 id="sortDate" alt="sort Up"/>
                                        </a>
                                    </th>
                                {% endif %}
                            {% else %}
                                {% if desc %}
                                    <th>Lieu
                                        <a class="sortButtonLieu" id="sortButtonLieu"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":false, "field":"lieu"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                 id="sortLieu" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Date
                                        <a class="sortButtonDate" id="sortButtonDate"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":false, "field":"dateIntervention"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                 id="sortDate" alt="sort Down"/>
                                        </a>
                                    </th>
                                {% else %}
                                    <th>Lieu
                                        <a class="sortButtonLieu" id="sortButtonLieu"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":true, "field":"lieu"}) ) }}">
                                            <img src="{{ asset('img/sort-up.png') }}" class="sort sort-up" id="sortLieu"
                                                 alt="sort Up"/>
                                        </a>
                                    </th>
                                    <th>Date
                                        <a class="sortButtonDate" id="sortButtonDate"
                                           href="{{ path('intervention_list', pathReq | merge({"desc":true, "field":"dateIntervention"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-up"
                                                 id="sortDate" alt="sort Up"/>
                                        </a>
                                    </th>
                                {% endif %}
                            {% endif %}
                            <th>Type</th>
                            <th>Etablissement</th>
                            <th>Classe</th>
                            <th>Thème</th>
                            <th>Statut</th>
                            <th>Voir détails</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Supprimer</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        {% for intervention in liste %}
                            {% if (date("now")>=(intervention.dateIntervention)) and not (intervention.realisee) and intervention.dateIntervention %}
                            <tr class="dangerTable">
                            {% elseif  (date("now")|date_modify("+5 day"))>=(intervention.dateIntervention) and not (intervention.realisee) and intervention.dateIntervention %}
                            <tr class="warningTable" >
                            {% else %}
                            <tr>
                            {% endif %}
                                <td data-title="Lieu">{{ intervention.etablissement.adresse.ville.nom }}</td>
                                <td data-title="Date">
                                    {% if intervention.dateIntervention %}
                                        {{ intervention.dateIntervention|date("d-m-Y") }}
                                    {% else %} -
                                    {% endif %} </td>
                                <td data-title="Type">
                                    {% if intervention.plaidoyer %}
                                        Plaidoyer
                                    {% elseif intervention.frimousse %}
                                        Frimousse
                                    {% else %}
                                        Autre intervention
                                    {% endif %}
                                </td>
                                <td data-title="Etablissement">
                                    <a href="{{ path('etablissement_view', {'id':intervention.etablissement.id}) }}">
                                        {% if intervention.etablissement.nom %}
                                            {{ intervention.etablissement.nom | capitalize }} -
                                        {% endif %}
                                        {{ intervention.etablissement.typeEnseignement | capitalize }} {{ intervention.etablissement.typeCentre | capitalize }} {{ intervention.etablissement.typeAutreEtablissement | capitalize }}
                                    </a>
                                </td>
                                <td data-title="Classe">
                                    {% if intervention.plaidoyer %}
                                        {{ intervention.niveauTheme.niveau | capitalize }}
                                    {% elseif intervention.frimousse %}
                                        {{ intervention.niveauFrimousse | capitalize }}
                                    {% else %}
                                        -
                                    {% endif %}

                                </td>
                                <td data-title="Thème">
                                    {% if intervention.plaidoyer %}
                                        {{ intervention.niveauTheme.theme | capitalize }}
                                    {% elseif intervention.frimousse %}
                                        -
                                    {% else %}
                                        -
                                    {% endif %}

                                </td>
                                <td data-title="Statut">


                                    {% if intervention.realisee %}
                                        <p class="text-success"> Réalisée <span class="glyphicon glyphicon-ok"></span>
                                        </p>
                                    {% elseif intervention.benevole %}
                                        {% if user==intervention.benevole %}
                                            <button name="desattribution" type="button" class="btn btn-danger"
                                                    onclick="desattributeIntervention(this, {{ intervention.id }})">
                                                Se la désattribuer
                                            </button>
                                        {% else %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <button name="desattribution" type="button" class="btn btn-danger"
                                                        onclick="desattributeInterventionAdmin(this, {{ intervention.id }})" style="padding-right: 4px;padding-left: 4px; font-size: 14px; width: 100%; overflow: hidden; text-overflow: ellipsis; ">
                                                    Retirer {{ intervention.benevole.prenom | capitalize }} {{ intervention.benevole.nom | capitalize }}.

                                                </button>
                                            {% else %}
                                                Attribuée à {{ intervention.benevole.prenom | capitalize }} {{ intervention.benevole.nom | capitalize }}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <button name="attribuer{{ intervention.id }}" type="button"
                                                    class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                                    onclick="sendIdToModal({{ intervention.id }})">
                                                Attribuer à
                                            </button>
                                        {% else %}
                                            <button name="attribution" type="button" class="btn btn-primary"
                                                    onclick="attributeIntervention(this, {{ intervention.id }})">
                                                Se l'attribuer
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td data-title="Voir Détails">
                                    <a href="{{ path('intervention_view', {id: intervention.id}) }}"
                                       class="btn btn-primary">Voir détails</a>
                                </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td data-title="Supprimer">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="type" id="{{ intervention.id }}">
                                        </label>
                                    </div>
                                </td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <button type="button" class="btn btn-danger" onclick="deleteInterventions()">Supprimer</button>
                <div class="col-md-12 text-center">
                    {% set pathReq = [] %}
                    {% if app.request.query.get('recherche_avancee') is not null %}
                        {% set pathReq = {"recherche_avancee":app.request.query.get('recherche_avancee')} %}
                    {% endif %}
                    {% if app.request.query.get('desc') is not null %}
                        {% set pathReq = pathReq | merge({"desc":app.request.query.get('desc')}) | merge({"field":app.request.query.get('field')}) %}
                    {% endif %}
                    <ul>Par page :
                        <a href="{{ path('intervention_list', pathReq | merge({"rowsPerPage":5}) ) }}">5</a>,
                        <a href="{{ path('intervention_list', pathReq | merge({"rowsPerPage":10}) ) }}">10</a>,
                        <a href="{{ path('intervention_list', pathReq | merge({"rowsPerPage":20}) ) }}">20</a>,
                        <a href="{{ path('intervention_list', pathReq | merge({"rowsPerPage":50}) ) }}">50</a>,
                        <a href="{{ path('intervention_list', pathReq | merge({"rowsPerPage":100}) ) }}">100</a>
                    </ul>
                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Attribuer l'intervention à</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formAttr, {'method': 'post', 'action': path('intervention_list'), 'attr': {'class': 'intervention_list form-sm'}}) }}
                    <h5>Bénévole : {{ form_widget(formAttr.benevole) }}</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="attribuerModal" type="button" class="btn btn-primary"
                            onclick="attributeInterventionAdmin(this, $('#attribution_benevole').val(), $('#attribution_idIntervention').val())">
                        Attribuer
                    </button>
                </div>
                {{ form_end(formAttr) }}
            </div>
        </div>
    </div>

{% endblock %}
