<h2>Modifier Mot de Passe</h2>
<hr>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div class="butons">
    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-danger" style="margin-left:calc(50% - 140px)">Annuler</a>
    <input type="submit" class="btn btn-success" value="{{ 'Changer mot de passe'|trans }}" />
</div>
<style>
    .required{
        display: inline;
    }

    .required:after{
        content: "*";
        display: inline;
    }
    
    .butons{
        text-align: center;
    }

    h2 {
        font-family: 'Ubuntu Condensed', sans-serif;
        margin-top: 50px;
        margin-left: 20px;
    }
    form{
        max-width: 600px !important;
        margin: auto !important;
        margin-top: 40px !important;
        padding-right: 0px !important;
    }
    .col-sm-2{
        width: 50% !important;
    }
    .col-sm-10{
        width: 50% !important;
    }

    input[type="text"], input[type="password"]{
        width: 100%;
    }

    @media (max-width: 610px){

        .col-sm-2{
            width: 90% !important;
        }
        .col-sm-10{
            width: 90% !important;
        }
    }
</style>
{{ form_end(form) }}
