{# version 1.00, date 14/05/2016, auteur Florian Leriche #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Ajouter un établissement - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('css/styleFormEtablissement.css') }}"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/typeahead.js/dist/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('vendor/typeahead.js/dist/bloodhound.js') }}"></script>
    <script>
        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#etablissement_adresse_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });

        $(document).ready(function() {
            $('#typeEnseignement').show();
            $('#typeCentre').hide();
            $('#typeAutreEtablissement').hide();

            function checkTypeEtablissement(){
                if($('#etablissement_TypeGeneral').find(":selected").text() == "Enseignement"){
                    $('#typeEnseignement').show();
                    $('#typeCentre').hide();
                    $('#typeAutreEtablissement').hide();
                }else if ($('#etablissement_TypeGeneral').find(":selected").text() == "Centre de loisirs"){
                    $('#typeCentre').show();
                    $('#typeEnseignement').hide();
                    $('#typeAutreEtablissement').hide();
                    $('#etablissement_uai').hide();
                    $('#uai_label').hide();
                }
                else
                {
                    $('#typeAutreEtablissement').show();
                    $('#typeCentre').hide();
                    $('#typeEnseignement').hide();
                }
            }
            checkTypeEtablissement();

            $('#etablissement_TypeGeneral').on('change', checkTypeEtablissement);

            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#etablissement_emails');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_email').click(function(e) {
                addEmail($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
            if (index == 0) {
                addEmail($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addEmail($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, '')
                                .replace(/__name__/g,"")
                        ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" class="btn" style="padding-top: 0px !important; padding-bottom: 0px !important;  border-color:#fff; color:#3c3c3c; display: inline; font-weight: 600; font-size: 25px; padding: 5px; height: 30px">×</a>');


                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });

        document.getElementById('etablissement_TypeGeneral').addEventListener('change',function(e){
            switch (e.target.value){
                case 'ens' :
                    keepInstitute();
                    break;
                case 'centre' :
                    keepCenter();
                    break;
                case 'autre' :
                    keepOther();
                    break;
            }
        });

        switch ($("#etablissement_TypeGeneral").val()){
            case 'ens' :
                $(".form-group:eq(4)").fadeIn("fast").removeAttr("disabled");
                $(".form-group:eq(6)").fadeOut("fast").prop("disabled",true);
                $(".form-group:eq(5)").fadeOut("fast").prop("disabled",true);
                break;
            case 'centre' :
                $(".form-group:eq(6)").fadeIn("fast").removeAttr("disabled");
                $(".form-group:eq(4)").fadeOut("fast").prop("disabled",true);
                $(".form-group:eq(5)").fadeOut("fast").prop("disabled",true);
                break;
            case 'autre' :
                $(".form-group:eq(5)").fadeIn("medium").removeAttr("disabled");
                $(".form-group:eq(6)").fadeOut("slow").prop("disabled",true);
                $(".form-group:eq(4)").fadeOut("slow").prop("disabled",true);
                break;
        }

        function keepInstitute(){
            $(".form-group:eq(5)").fadeIn("fast").removeAttr("disabled");
            $(".form-group:eq(6)").fadeOut("fast").prop("disabled",true);
            $(".form-group:eq(7)").fadeOut("fast").prop("disabled",true);
        }

        function keepCenter(){
            $(".form-group:eq(7)").fadeIn("fast").removeAttr("disabled");
            $(".form-group:eq(5)").fadeOut("fast").prop("disabled",true);
            $(".form-group:eq(6)").fadeOut("fast").prop("disabled",true);
        }

        function keepOther(){
            $(".form-group:eq(6)").fadeIn("medium").removeAttr("disabled");
            $(".form-group:eq(7)").fadeOut("slow").prop("disabled",true);
            $(".form-group:eq(5)").fadeOut("slow").prop("disabled",true);
        }

        $(":submit").on('click', function( e ) {
            e.preventDefault();
            var erreur = false;

            if ($('#etablissement_telFixe').val().trim().length==0) {
                if ($('#erreurTelFixeVide').prev()[0]==undefined) {
                    $('#etablissement_telFixe').after('<p id="erreurTelFixeVide"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurTelFixeVide').show();
                }
                erreur = true;
            } else {
                $('#erreurTelFixeVide').hide();
            }

            if (($('#etablissement_telFixe').val().trim().length!=10 || isNaN($('#etablissement_telFixe').val().trim())) && $('#etablissement_telFixe').val().trim().length!=0) {
                if ($('#erreurTelFixeNonConforme').prev()[0]==undefined) {
                    $('#etablissement_telFixe').after('<p id="erreurTelFixeNonConforme"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Veuillez entrer un numéro de téléphone valide</p>');
                } else {
                    $('#erreurTelFixeNonConforme').show();
                }
                erreur = true;
            } else {
                $('#erreurTelFixeNonConforme').hide();
            }

            if ($('#etablissement_adresse_adresse').val().trim().length==0) {
                if ($('#erreurAdresse').prev()[0]==undefined) {
                    $('#etablissement_adresse_adresse').after('<p id="erreurAdresse"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurAdresse').show();
                }
                erreur = true;
            } else {
                $('#erreurAdresse').hide();
            }

            if ($('#etablissement_adresse_ville').val().trim().length==0) {
                if ($('#erreurVille').prev()[0]==undefined) {
                    $('#etablissement_adresse_ville').after('<p id="erreurVille"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurVille').show();
                }
                erreur = true;
            }
            else {
                $('#erreurVille').hide();
            }

            if ($('#etablissement_adresse_ville').val().trim().length>0 && $('#etablissement_adresse_ville').val().indexOf(' (') < 0) {
                if ($('#erreurCodePostal').prev()[0]==undefined) {
                    $('#etablissement_adresse_ville').after('<p id="erreurCodePostal"  style="color: red; font-size: 13px; font-style: italic">Sélectionnez un champ valide dans la liste déroulante proposée</p>');
                } else {
                    $('#erreurCodePostal').show();
                }
                erreur = true;
            } else {
                $('#erreurCodePostal').hide();
            }

            if (!erreur) {
                var adresse = $("#etablissement_adresse_adresse").val() + ' ' + $("#etablissement_adresse_ville").val();
                var geolocalisation = '';
                $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + adresse, function (data) {
                    switch (data.length) {
                        case 0 :
                            var ville = $("#etablissement_adresse_ville").val();
                            $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + ville, function (dataVille) {
                                if (dataVille.length > 0) {
                                    geolocalisation = 'SRID=4326;POINT(' + dataVille[0]['lon'] + ' ' + dataVille[0]['lat'] + ')';
                                    $("#etablissement_adresse_geolocalisation").val(geolocalisation);
                                    $('#etablissement_adresse_codePostal').val($("#etablissement_adresse_ville").val().split(' (')[1].split(')')[0]);
                                    $("#etablissement_adresse_ville").val($("#etablissement_adresse_ville").val().split(' (')[0]);
                                    $(".etablissement_admin_add").submit();
                                }
                                else {
                                    //Que fait-on si 0 match ?
                                }
                            });
                            break;
                        case 1 :
                            geolocalisation = 'SRID=4326;POINT(' + data[0]['lon'] + ' ' + data[0]['lat'] + ')';
                            $("#etablissement_adresse_geolocalisation").val(geolocalisation);
                            $('#etablissement_adresse_codePostal').val($("#etablissement_adresse_ville").val().split(' (')[1].split(')')[0]);
                            $("#etablissement_adresse_ville").val($("#etablissement_adresse_ville").val().split(' (')[0]);
                            $(".etablissement_admin_add").submit();
                            break;
                        default :
                            var modal_content = "";
                            data.forEach(function (item) {
                                var latlon = item["lat"] + "," + item["lon"];
                                modal_content += "<div class='row'><label class='radio-inline'><input type='radio' name='type' id='" + latlon + "'>" + item["display_name"] + "</label></div>";
                            });
                            $('#choices').html(modal_content);
                            $("input:radio[name=type]:first").attr('checked', true);
                            $("#myModal").modal('show');
                    }
                });
            }
        });

        function setGeolocalisation(content){
            var latlon = content.split(',');
            var geolocalisation = 'SRID=4326;POINT(' + latlon[1] + ' ' + latlon[0] + ')';
            $("#etablissement_adresse_geolocalisation").val(geolocalisation);
            $('#etablissement_adresse_codePostal').val($("#etablissement_adresse_ville").val().split(' (')[1].split(')')[0]);
            $("#etablissement_adresse_ville").val($("#etablissement_adresse_ville").val().split(' (')[0]);
            $(".etablissement_admin_add").submit();
        }


    </script>
{% endblock %}


{% block body %}

    <h1>Ajout d'un établissement</h1>
    <hr>

        {{ form_start(form, {'method': 'post', 'action': path('etablissement_admin_add'), 'attr': {'class': 'etablissement_admin_add'}}) }}

        <h5> Nom :</h5>
        {{ form_widget(form.nom) }}

        <div class="emailDiv">
            <h5> Email :</h5>
            {{ form_widget(form.emails) }}
            <a href="#" id="add_email" class="btn btn-default" >Ajouter</a>
        </div>

        <h5> Téléphone fixe* :</h5>
        {{ form_widget(form.telFixe) }}

        <h5> Type d'établissement :</h5>
        {{ form_widget(form.TypeGeneral) }}

        <div id="typeEnseignement">
            <h5> Type d'enseignement :</h5>
            {{ form_widget(form.typeEnseignement) }}
        </div>

        <div id="typeCentre">
            <h5> Type Centre de loisir :</h5>
            {{ form_widget(form.typeCentre) }}
        </div>

        <div id="typeAutreEtablissement">
            <h5> Type Autre Établissement :</h5>
            {{ form_widget(form.typeAutreEtablissement) }}
        </div>

    <h5 id="uai_label"> UAI :</h5>
    {{ form_widget(form.uai) }}

    <h5> Adresse* :</h5>
    {{ form_widget(form.adresse.adresse) }}

    <h5> Complément :</h5>
    {{ form_widget(form.adresse.complement) }}

    <h5> Ville* :</h5>
    {{ form_widget(form.adresse.ville) }}


    <div>
            <a href="{{ path('etablissement_list') }}" class="btn btn-danger" style="margin-left:calc(50% - 140px)">Annuler</a>
            <input type="submit" value="Inscrire" class="btn btn-success"/>
        </div>
        {{ form_end(form) }}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Plusieurs résultats concordent avec l'adresse que vous avez donnée !</h4>
                </div>
                <div class="modal-body">
                    <p> Veuillez choisir l'adresse dans la liste ci-dessous : </p>
                    <div id="choices"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button id="realiserModal" type="button" class="btn btn-primary"
                                onclick="setGeolocalisation($('input:radio[name=type]:checked').attr('id'))">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


