{# version 1.00, date 08/09/2016, auteur Julie Pain #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}

    Consulter un établissement - {{ parent() }}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <section class="jumbotron col-sm-12 col-lg-9 col-lg-offset-1">
            <div class="infoPrincip">
                <div class="row">
                    <h2 class="col-lg-9 titre">Etablissement</h2><br><br>
                    <h4 class="col-lg-9">
                        {% if etablissement.typeEnseignement %}
                            Enseignement
                        {% elseif etablissement.typeCentre %}
                            Centre de Loisirs
                        {% else %}
                            Autre établissement
                    {% endif %}
                    </h4>
                    <img src="{{ asset('img/logo-gris.png') }}" class="logoGris" alt="logo Unicef">
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-user"></span> &nbsp Nom :
                                </dt>
                            </div>

                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <em>{% if etablissement.nom is not empty %}
                                    {{ etablissement.nom }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </em>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-earphone"></span> &nbsp Téléphone :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <em>{% if etablissement.telFixe is not empty %}
                                        {{ etablissement.telFixe }}
                                    {% else %}
                                        -
                                    {% endif %}</em>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>&nbsp E-mails :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">


                                {% if etablissement.emails is not empty %}
                                    <ul class="list-group col-sm-12 " style="list-style-type: none;">
                                        {% for email in etablissement.emails %}
                                           <li> <em>{{ email }}</em> </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div class="col-sm-7">
                                        -
                                    </div>
                                {% endif %}
                            </div>


                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-home"></span> &nbsp Adresse :
                                </dt>
                            </div>
                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                <em> {{ etablissement.adresse.adresse }} {{ etablissement.adresse.complement }}, {{ etablissement.adresse.codePostal.code }} {{ etablissement.adresse.ville.nom }} <br/>


                                </em>
                            </div>

                            {{ block('contenu') }}
                        </dl>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="row-fuild">
                            {% if etablissement.adresse.geolocalisation is not null %}
                                {% set lat = etablissement.adresse.geolocalisation|split('(')[1]|split(' ')[0] %}
                                {% set lon = etablissement.adresse.geolocalisation|split(' ')[1]|split(')')[0] %}
                                <iframe class="container span12"
                                        src="http://www.openstreetmap.org/export/embed.html?bbox={{ lat-0.1 }},{{ lon-0.1 }},{{ lat+0.1 }},{{ lon+0.1 }}&amp;marker={{ lon }},{{ lat }}&amp;layer=mapnik"
                                        style="
                                            border: 1px solid black;
                                            height: 350px ;
                                            padding: 0px !important;
                                            "></iframe>
                            {% else %}
                                Les coordonnées de l'établissement ne sont pas renseignées
                            {% endif %}
                        </div>
                    </div>


                </div>


            </div>
        </section>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="buttons">
            <a href="{{ path("etablissement_admin_edit", {'id': etablissement.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> </span>&nbsp Modifier</a>
            <a href="{{ path("etablissement_admin_delete", {'id': etablissement.id}) }}" class="btn btn-danger" onclick="return confirm('Souhaitez vous vraiment supprimer l\'établissment {{ etablissement.nom }} ?')"><span class="glyphicon glyphicon-trash">  </span>&nbsp Supprimer </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
    <div class="row">
        <div class="col-sm-12 col-sm-12 col-lg-9 col-lg-offset-1 infoContainer">
            <div class="col-sm-4 containerOne">
                <div class="circle circleOne">
                    <img src="{{ asset('img/bell.png') }}" alt="bell" >
                </div>
                <!-- Si { interventions demadées !=null } -->
                <h3>Interventions demandées</h3>
                <div class="row">
                    {% if listeInterventionsDemandeesNonRealisees is not empty  %}
                        <div class="scrollspy-example col-lg-offset-1 col-sm-11" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                                    height: 200px;
                                    overflow: auto;
                                    position: relative;
                                    border:1px solid #cccccc;
                                    padding:10px;
                                 ">
                            {% for intervention in listeInterventionsDemandeesNonRealisees %}
                                <a href="{{ path('intervention_view', {'id': intervention.id})  }}" style="color:white">
                                    {% if intervention.plaidoyer %}
                                        Action éducative -
                                    {% elseif intervention.frimousse %}
                                        Frimousse -
                                    {% else %}
                                        Autre intervention -
                                    {% endif %}
                                    {{ intervention.etablissement.adresse.ville.nom }}
                                    </br>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-lg-offset-1 col-sm-7">
                            Aucune
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 containerTwo">
                <div class="circle circleTwo">
                    <img src="{{ asset('img/speech-bubbles.png') }}" alt="speech bubble">
                </div>
                <h3>Interventions réalisées</h3>
                <div class="row">
                    {% if listeInterventionsRealisees is not empty  %}
                        <div class="scrollspy-example col-lg-offset-1 col-sm-11" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                                    height: 200px;
                                    overflow: auto;
                                    position: relative;
                                    border:1px solid #cccccc;
                                    padding:10px;">                            {% for intervention in listeInterventionsRealisees %}
                                <a href="{{ path('intervention_view', {'id': intervention.id}) }}"  style="color:white">
                                    {% if intervention.plaidoyer %}
                                        Action éducative -
                                    {% elseif intervention.frimousse %}
                                        Frimousse -
                                    {% else %}
                                        Autre intervention -
                                    {% endif %}
                                    {{ intervention.etablissement.adresse.ville.nom }}
                                    </br>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-lg-offset-1 col-sm-7">
                            Aucune
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 containerThree">
                <div class="circle circleThree">
                    <img src="{{ asset('img/telephone.png') }}" alt="phone" >
                </div>
                <h3>Contacts</h3>
                <div class="row">
                            {% if etablissement.contacts is not empty%}
                                {% for contact in etablissement.contacts %}
                                    <div class="well col-lg-offset-1 col-sm-12 col-xs-12">
                                        <dl class="dl-horizontal">
                                            <div class="col-sm-6 col-xs-12">
                                                <dt>
                                                    Nom:
                                                </dt>
                                            </div>

                                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                                <em>{% if contact.nom is not empty %}
                                                    {{ contact.nom |capitalize }}
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </em>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <dt>
                                                    Prénom :
                                                </dt>
                                            </div>
                                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                                <em>
                                                    <em>{% if contact.prenom is not empty %}
                                                            {{ contact.prenom |capitalize }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </em>
                                                </em>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <dt>
                                                    Tel fixe :
                                                </dt>
                                            </div>
                                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                                <em>{% if contact.telFixe is not empty %}
                                                        {{ contact.telFixe }}
                                                    {% else %}
                                                        -
                                                    {% endif %}</em>
                                            </div>


                                            <div class="col-sm-6 col-xs-12">
                                                <dt>
                                                    Tel portable :
                                                </dt>
                                            </div>
                                            <div class="col-sm-6 col-xs-offset-1 col-xs-11 col-sm-offset-0">
                                                <em>{% if contact.telPortable is not empty %}
                                                        {{ contact.telPortable }}
                                                    {% else %}
                                                        -
                                                    {% endif %}</em>
                                            </div>

                                        </dl>
                                    </div>
                                {% endfor %}
                            {% else %}
                                &nbsp &nbsp &nbsp <em>Aucun contact</em>
                            {% endif %}

                </div>
            </div>

    </div>
</div>

{% endblock %}

{% block contenu %}

{% endblock %}
