{# version 1.00, date 03/10/2016, auteur Florian Leriche #}
{% extends "InterventionBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        document.getElementById('etablissement_TypeGeneral').addEventListener('change',function(e){
            switch (e.target.value){
                case 'ens' :
                    keepInstitute();
                    $('#etablissement_uai').show();
                    $('#uai').show();
                    break;
                case 'centre' :
                    keepCenter();
                    $('#etablissement_uai').hide();
                    $('#uai').hide();
                    $('#etablissement_uai').val('');
                    break;
                case 'autre' :
                    keepOther();
                    $('#etablissement_uai').hide();
                    $('#uai').hide();
                    $('#etablissement_uai').val('');
                    break;
            }
        });

        switch ($("#etablissement_TypeGeneral").val()){
            case 'ens' :
                keepInstitute();
                $('#etablissement_uai').show();
                $('#uai').show();
                break;
            case 'centre' :
                keepCenter();
                $('#etablissement_uai').hide();
                $('#uai').hide();
                $('#etablissement_uai').val('');
                break;
            case 'autre' :
                keepOther();
                $('#etablissement_uai').hide();
                $('#uai').hide();
                $('#etablissement_uai').val('');
                break;
        }

        function keepInstitute(){
            $("#typeEnseignement").show().removeAttr("disabled");
            $("#typeAutreEtablissement").hide().prop("disabled",true);
            $("#typeCentre").hide().prop("disabled",true);
        }

        function keepCenter(){
            $("#typeCentre").show().removeAttr("disabled");
            $("#typeAutreEtablissement").hide().prop("disabled",true);
            $("#typeEnseignement").hide().prop("disabled",true);

        }

        function keepOther(){
            $("#typeAutreEtablissement").show().removeAttr("disabled");
            $("#typeEnseignement").hide().prop("disabled",true);
            $("#typeCentre").hide().prop("disabled",true);
        }

        document.getElementById("etablissement_Valider").className = "btn btn-primary";

        $(document).ready(function() {


            if({{ etablissement.typeEnseignement | length }} > 0){

                $("#etablissement_TypeGeneral").val("Enseignement");

                var typeEnseignement = "{{ etablissement.typeEnseignement }}";

                if(typeEnseignement == "college"){
                    $('#etablissement_typeEnseignement_2').prop("checked", true);
                }else if(typeEnseignement == "maternelle"){
                    $('#etablissement_typeEnseignement_0').prop("checked", true);
                } else if(typeEnseignement == "elementaire"){
                    $('#etablissement_typeEnseignement_1').prop("checked", true);
                } else if(typeEnseignement == "lycee"){
                    $('#etablissement_typeEnseignement_3').prop("checked", true);
                }else {
                    $('#etablissement_typeEnseignement_4').prop("checked", true);
                }
            } else if ({{ etablissement.typeCentre | length }} > 0){
                $("#etablissement_TypeGeneral").val("Centre de loisirs");

                var typeCentre = "{{ etablissement.typeCentre }}";

                if(typeCentre == "maternelle"){
                    $('#etablissement_typeCentre_0').prop("checked", true);
                }else if(typeCentre == "elementaire"){
                    $('#etablissement_typeCentre_1').prop("checked", true);
                } else if(typeCentre == "adolescent"){
                    $('#etablissement_typeCentre_2').prop("checked", true);
                } else{
                    $('#etablissement_typeCentre_3').prop("checked", true);
                }

            }else{
                $("#etablissement_TypeGeneral").val("Autre");

                var typeAutre = "{{ etablissement.typeAutreEtablissement }}";

                if(typeAutre == "mairie"){
                    $('#etablissement_typeAutre_0').prop("checked", true);
                }else if(typeAutre == "maison de retraite"){
                    $('#etablissement_typeAutre_1').prop("checked", true);
                } else{
                    $('#etablissement_typeAutre_2').prop("checked", true);
                }
            }



            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#etablissement_emails');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_email').click(function(e) {
                addEmail($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
            if (index == 0) {
                var emails = JSON.parse('{{ emails|raw }}');
                var i = 0;
                emails.forEach(function () {
                    addEmail($container);
                    $("input[id=etablissement_emails_"+i+"]").val(emails[i]);
                    i++;
                })
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire
            function addEmail($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype');

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" class="btn btn-danger" style="display: inline; font-weight: 600; font-size: 25px; padding: 5px; height: 30px">×</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}
    <style>

        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';
        h1{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }

        #etablissement_emails label{
            font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
            font-size: 15px !important;
        }

        #etablissement label{
            font-size: 15px !important;
            font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
        }

        div{
            box-shadow: none !important;
        }

        input[type="text"], select{
            width: 350px !important;
            margin-left: 10px !important;
        }
        input:focus, select:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: #CCCCCC !important;
        }

        .btn-default{
            border-radius: 10px !important;
            background-color: #3fb618 !important;
            border-color: #3fb618 !important;
        }

        hr{
            margin-top: 0px;
        }


        .btn-primary{
            margin-left: 30%;
        }

        .required{
            display: inline;
        }

        .required:after{
            content: "*";
            display: inline;
        }

        .emailDiv .col-sm-2{
            width: 0px !important;
        }

        .emailDiv .col-sm-10{
            padding-left: 15px !important;
        }

        .form-group a{
            border-radius: 100px !important;
            line-height : 1em !important;
            outline: hidden !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        form{
            max-width: 450px;
            margin:auto;
        }
        @media(max-width: 767px){
            h3{
                margin-left: 10px !important;
            }
        }

        h2, h3{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }
        h5{
            font-weight: 600;
        }

    </style>
    <h1>Modifier établissement</h1>
    <hr>

    {{ form_start(form, {'method': 'post', 'action': path('etablissement_admin_add'), 'attr': {'class': 'etablissement_admin_add'}}) }}

    <h5> Nom :</h5>
    {{ form_widget(form.nom) }}

    <div class="emailDiv">
        <h5> Email :</h5>
        {{ form_widget(form.emails) }}
        <a href="#" id="add_email" class="btn btn-success" >Ajouter</a>
    </div>

    <h5> Téléphone fixe* :</h5>
    {{ form_widget(form.telFixe) }}

    <h5> Type d'établissement :</h5>
    {{ form_widget(form.TypeGeneral) }}

    <div id="typeEnseignement">
        <h5> Type d'enseignement :</h5>
        {{ form_widget(form.typeEnseignement) }}
    </div>

    <div id="typeCentre">
        <h5> Type Centre de loisir :</h5>
        {{ form_widget(form.typeCentre) }}
    </div>

    <div id="typeAutreEtablissement">
        <h5> Type Autre Établissement :</h5>
        {{ form_widget(form.typeAutreEtablissement) }}
    </div>

    <h5 id="uai"> UAI :</h5>
    {{ form_widget(form.uai) }}

    <h5> Adresse :</h5>
    {{ form_widget(form.adresse.adresse) }}

    <h5> Complément :</h5>
    {{ form_widget(form.adresse.complement) }}

    <h5> Ville :</h5>
    {{ form_widget(form.adresse.ville) }}

    <h5> Code Postal :</h5>
    {{  form_widget(form.adresse.codePostal) }}


    {{ form_end(form) }}

{% endblock %}
