{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Liste des bénévoles - {{ parent() }}

{% endblock %}

{% block body %}
    <h1>Liste des Bénévoles</h1>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Responsabilité</th>
        <th>Activité</th>
        <th>Consulter</th>
        <th>Supprimer</th>
    </tr>
    {% for benevole in listBenevoles|sort %}
    <tr id="checkboxes">
        <td>{{ benevole.nom }}</td>
        <td>{{ benevole.prenom }}</td>
        <td id="idBenevole" hidden="hidden">{{ benevole.id }}</td>
        <td name="resp">{{ benevole.responsabiliteActivite }}</td>
        <td name="act">{{ benevole.activitesPotentielles }}</td>
        <td>
            <a href="{{ path('user_admin_profil_benevole', {'username': benevole.username}) }}">
                <button type="button" class="btn btn-primary">Consulter le profil</button>
            </a>
        </td>
        <td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="type" id="{{ benevole.username }}">
                </label>
            </div>
        </td>
            {#<a href="{{ path("user_admin_delete", {'username': benevole.username}) }}">#}
                {#<button type="button" class="btn btn-danger" onclick="ajaxGet('{{ path("user_admin_delete", {'username': benevole.username}) }}', supprimerBenevole())">Supprimer</button>#}
            {#</a>#}
        </td>
    </tr>
    {% endfor %}
    </thead>
</table>
    <a style="margin-left: 80%" href="{{ path('user_admin_register') }}">
        <button type="button" class="btn btn-default">Ajouter un bénévole</button>
    </a>
        <button type="button" class="btn btn-danger" onclick="deleteBenevoles()">Supprimer</button>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="application/javascript">


        function formatMultiple(name){
            var tdElements = document.getElementsByName(name);
            for(var i= 0; i<tdElements.length;i++ ){
                listElement = document.createElement('ul');
                var text = tdElements[i].textContent;
                text = text.replace(/[{()}]/g, '');
                text = text.split(',');
                for(var j =0; j < text.length;j++){
                    if(text[j].trim() != '') {
                        itemElement = document.createElement('li');
                        itemElement.textContent = text[j];
                        listElement.appendChild(itemElement);
                    }
                }
                tdElements[i].innerHTML ='';
                tdElements[i].appendChild(listElement);
            }
         }

        formatMultiple("act");
        formatMultiple("resp");

        function deleteBenevoles() {
            var selected = [];

            $("input:checkbox:checked").each(function(){
                var $this = $(this);
                selected.push($this.attr("id"));
            });

            var usernames = JSON.stringify(selected)

            $.post("{{ path('user_admin_deletes') }}", {'usernames':usernames},
                    function(data, status){
                        for(i=0;i<selected.length;i++){
                            $("#"+selected[i]).closest('tr').remove();
                        }
                    });
        }

    </script>
{% endblock %}
