{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Liste des bénévoles - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <script src="{{ asset("vendor/pdfmake/build/pdfmake.min.js") }}"></script>
    <script src="{{ asset("vendor/pdfmake/build/vfs_fonts.js") }}"></script>
    <style>
        #recherche_avancee_ville {
            text-transform: uppercase;
        }
        .twitter-typeahead .tt-query,
        .twitter-typeahead .tt-hint {
            margin-bottom: 0;
        }
        .tt-hint {
            display: none;
            width: 100%;
            height: 43px;
            padding: 10px 18px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #999;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        .tt-menu {
            min-width: 160px;
            margin-top: 2px;
            padding: 5px 0;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            max-height: 150px;
            overflow-y: auto;

        }
        .tt-suggestion {
            display: block;
            padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
            color: #fff;
            background-color: #428bca;
        }
        .tt-suggestion.tt-is-under-cursor a {
            color: #fff;
        }
        .tt-suggestion p {
            margin: 0;
        }



    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/typeahead.js/dist/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('vendor/typeahead.js/dist/bloodhound.js') }}"></script>
    <script type="application/javascript">
        $('input:checkbox').removeAttr('checked');

        function formatMultiple(name) {
            var tdElements = document.getElementsByName(name);
            for (var i = 0; i < tdElements.length; i++) {
                listElement = document.createElement('ul');
                var text = tdElements[i].textContent;
                text = text.replace(/[{()}]/g, '');
                text = text.split(',');
                for (var j = 0; j < text.length; j++) {
                    if (text[j].trim() != '') {
                        itemElement = document.createElement('li');
                        itemElement.textContent = text[j];
                        listElement.appendChild(itemElement);
                    }
                }
                tdElements[i].innerHTML = '';
                tdElements[i].appendChild(listElement);
            }
        }

        function imprimer(){
            var docDefinition = {
                pageOrientation: 'landscape',
                content: [
                    {text: "Liste de benevoles", style: ['header']},
                    {text: " ", style: ['header']},
                    {
                        style: 'table',
                        table: {
                            headerRows: 1,
                            widths: [80, 80, 150, 100, 100, 150],
                            body: [
                                [{ text: 'Nom', style: 'tableHeader' },
                                    { text: 'Prenom', style: 'tableHeader'},
                                    { text: 'Email', style: 'tableHeader' },
                                    { text: 'Téléphone portable', style: 'tableHeader' },
                                    { text: 'Téléphone fixe', style: 'tableHeader' },
                                    { text: 'Adresse', style: 'tableHeader' }],
                                {% for benevole in listBenevoles %}
                                [ "{{ benevole.nom | capitalize}}",
                                    "{{ benevole.prenom | capitalize }}",
                                    "{{ benevole.email }}",
                                    "{{ benevole.telFixe }}",
                                    "{{ benevole.telPortable }}",
                                    "{{ benevole.adresse.getAdresse() }}, {{ benevole.adresse.codePostal.code }} {{ benevole.adresse.ville.nom }}"
                                ],
                                {% endfor %}
                            ]
                        },
                        layout: 'lightHorizontalLines'
                    }
                ],
                styles: {
                    header: {
                        fontSize: 13,
                        alignment: 'center'
                    },
                    table: {
                        fontSize: 9,
                        alignment: 'left'
                    }
                }
            };
            pdfMake.createPdf(docDefinition).open();
        }

        function deleteBenevoles() {
            var conf = confirm('Souhaitez vous vraiment supprimer ces bénévoles ?');

            if(conf) {
                var selected = [];

                $("input:checkbox:checked").each(function () {
                    var $this = $(this);
                    selected.push($this.attr("id"));
                });

                var usernames = JSON.stringify(selected)

                $.post("{{ path('user_admin_deletes') }}", {'usernames': usernames},
                        function (data, status) {
                            for (i = 0; i < selected.length; i++) {
                                $("#" + selected[i]).closest('tr').remove();
                            }
                        });
            }
        }

        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#recherche_avancee_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });


//if($('#recherche_avancee_activitesToutes').is(':checked')){
//        $("#recherche_avancee_activites").hide();
//        $("#recherche_avancee_activites_0").prop('checked',false);
//        $("#recherche_avancee_activites_1").prop('checked',false);
//        $("#recherche_avancee_activites_2").prop('checked',false);
//        $("#recherche_avancee_activites_3").prop('checked',false);
//        $("#recherche_avancee_activites_4").prop('checked',false);
//        }else{
//            $("#recherche_avancee_activites").show();
//        }
//
//        if($('#recherche_avancee_respoActivitesToutes').is(':checked')){
//            $("#recherche_avancee_responsabilitesActivites").hide();
//            $("#recherche_avancee_responsabilitesActivites_0").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_1").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_2").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_3").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_4").prop('checked',false);
//        }else{
//            $("#recherche_avancee_responsabilitesActivites").show();
//        }
//
//        hide_or_show = function() {
//            if($('#recherche_avancee_activitesToutes').is(':checked')){
//                $("#recherche_avancee_activites").hide();
//                $("#recherche_avancee_activites_0").prop('checked',false);
//                $("#recherche_avancee_activites_1").prop('checked',false);
//                $("#recherche_avancee_activites_2").prop('checked',false);
//                $("#recherche_avancee_activites_3").prop('checked',false);
//                $("#recherche_avancee_activites_4").prop('checked',false);
//            }else{
//                $("#recherche_avancee_activites").show();
//            }
//
//            if($('#recherche_avancee_respoActivitesToutes').is(':checked')){
//                $("#recherche_avancee_responsabilitesActivites").hide();
//                $("#recherche_avancee_responsabilitesActivites_0").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_1").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_2").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_3").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_4").prop('checked',false);
//            }else{
//                $("#recherche_avancee_responsabilitesActivites").show();
//            }
//        };
//
//        $("#recherche_avancee_activitesToutes").change(hide_or_show);
//        $("#recherche_avancee_respoActivitesToutes").change(hide_or_show);
        $(document).ready(function() {
            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage:{{ rowsPerPage }} });
        });
    </script>
{% endblock %}

{% block body %}

    <style>
        .col-sm-10{
            padding-left: 0px !important;
            text-align: left;
        }

        hr{
            margin-top: 10px !important;
        }

        tbody {
            display:block;

            max-height: 59vh;
            overflow:auto;
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }



        @media only screen and (max-width: 980px) {

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #ccc; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
                white-space: normal;
                text-align:left;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            td:before { content: attr(data-title); }
        }
    </style>

    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>

                {{ form_start(form, {'method': 'get', 'action': path('user_admin_list'), 'attr': {'class': 'user_admin_list form-sm'}}) }}
                {#<h5>Activité :</h5>#}
                {#{{ form_widget(form.activitesToutes) }}#}
                {#{{ form_widget(form.activites) }}#}
                {#<br/>#}

                {#<h5>Responsabilité :</h5>#}
                {#{{ form_widget(form.respoActivitesToutes) }}#}
                {#{{ form_widget(form.responsabilitesActivites) }}#}
                {#<br/>#}

                <h5>Ville :</h5>
                {{ form_widget(form.ville) }}
                <br/>
                <br/>

                <div>
                    <input id="submit" type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {#{{ form_end(form) }}#}

            </div>
        </div>
    </section>

    <section class="col-lg-10 col-md-10 col-sm-10">
        <h1>Liste des Bénévoles</h1>

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                {% set pathReq = [] %}
                {% if app.request.query.get('rowsPerPage') is not null %}
                    {% set pathReq = pathReq | merge({"rowsPerPage":app.request.query.get('rowsPerPage')})%}
                {% endif %}
                {% if field == "nom" %}
                    {% if desc %}
                        <th>Nom
                            <a class="sortButtonNom" id="sortButtonNom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"nom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                     id="sortNom" alt="sort Down"/>
                            </a>
                        </th>
                        <th>Prénom
                            <a class="sortButtonPrenom" id="sortButtonPrenom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"prenom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                     id="sortPrenom" alt="sort Down"/>
                            </a>
                        </th>
                    {% else %}
                        <th>Nom
                            <a class="sortButtonNom" id="sortButtonNom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"nom"}) ) }}">
                                <img src="{{ asset('img/sort-up.png') }}" class="sort sort-up"
                                     id="sortNom" alt="sort Down"/>
                            </a>
                        </th>
                        <th>Prénom
                            <a class="sortButtonPrenom" id="sortButtonPrenom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"prenom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-up"
                                     id="sortPrenom" alt="sort Up"/>
                            </a>
                        </th>
                    {% endif %}
                {% else %}
                    {% if desc %}
                        <th>Nom
                            <a class="sortButtonNom" id="sortButtonNom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"nom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                     id="sortNom" alt="sort Down"/>
                            </a>
                        </th>
                        <th>Prénom
                            <a class="sortButtonPrenom" id="sortButtonPrenom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"prenom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                     id="sortPrenom" alt="sort Down"/>
                            </a>
                        </th>
                    {% else %}
                        <th>Nom
                            <a class="sortButtonBom" id="sortButtonNom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"nom"}) ) }}">
                                <img src="{{ asset('img/sort-down.png') }}" class="sort sort-up" id="sortNom"
                                     alt="sort Up"/>
                            </a>
                        </th>
                        <th>Prénom
                            <a class="sortButtonPrenom" id="sortButtonPrenom"
                               href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"prenom"}) ) }}">
                                <img src="{{ asset('img/sort-up.png') }}" class=" sort sort-up"
                                     id="sortPrenom" alt="sort Up"/>
                            </a>
                        </th>
                    {% endif %}
                {% endif %}

                <th>Responsabilité</th>
                <th>Activité</th>
                <th>Consulter</th>
                <th>Supprimer</th>
            </tr>


            </thead>
            <tbody id="myTable">
            {% if listBenevoles is not empty %}
            {% for benevole in listBenevoles %}
                <tr id="checkboxes">
                    <td data-title="Nom">{{ benevole.nom | capitalize }}</td>
                    <td data-title="Prénom">{{ benevole.prenom | capitalize }}</td>
                    <td id="idBenevole" hidden="hidden" data-title="#"  data-title="id">{{ benevole.id }}</td>
                    <td name="resp"  data-title="Responsabilité">
                        {% if (benevole.responsabiliteActivite == "" or benevole.responsabiliteActivite == NULL or benevole.responsabiliteActivite is empty) %}
                             -

                        {% else %}

                                {% if ('plaidoyers' in benevole.responsabiliteActivite ) %}
                                        Action éducative <br>
                                {% endif %}
                                {% if ('frimousses' in benevole.responsabiliteActivite) %}
                                        Frimousse <br>
                                {% endif %}
                                {% if ('actions_ponctuelles' in benevole.responsabiliteActivite) %}
                                        Actions ponctuelles <br>
                                {% endif %}
                                {% if ('projets' in benevole.responsabiliteActivite) %}
                                        Projets <br>
                                {% endif %}
                                {% if ('autre' in benevole.responsabiliteActivite) %}
                                        Autre,
                                {% endif %}
                                {% if ('admin_comite' in benevole.responsabiliteActivite) %}
                                        Administrateur du comité <br>
                                {% endif %}
                                {% if ('admin_region' in benevole.responsabiliteActivite) %}
                                        Administrateur de la région <br>
                                {% endif %}

                        {% endif %}
                    </td>
                    <td name="act" data-title="Activité">
                        {% if (benevole.activitesPotentielles == "" or benevole.activitesPotentielles == NULL or benevole.activitesPotentielles is empty) %}
                            -
                        {% else %}
                                {% for activite in benevole.activitesPotentielles %}
                                    {% if ('plaidoyers' == activite) %}
                                        Action éducative <br>
                                    {% endif %}
                                    {% if ('frimousses' == activite) %}
                                        Frimousse <br>
                                    {% endif %}
                                    {% if ('actions_ponctuelles' == activite) %}
                                        Actions ponctuelles <br>
                                    {% endif %}
                                    {% if ('projets' == activite) %}
                                        Projets <br>
                                    {% endif %}
                                    {% if ('projets' == activite) %}
                                        Autre <br>
                                    {% endif %}
                                    {% if ('admin_comite' == activite) %}
                                        Administrateur du comité <br>
                                    {% endif %}
                                    {% if ('admin_region' == activite) %}
                                        Administrateur de la région <br>
                                    {% endif %}
                                {% endfor %}



                        {% endif %}
                    </td>
                    <td data-title="Consulter">
                        <a href="{{ path('user_admin_profil_benevole', {'username': benevole.username}) }}">
                            <button type="button" class="btn btn-primary">Consulter le profil</button>
                        </a>
                    </td>
                    <td data-title="Supprimer">
                        <div class="checkbox" style="text-align: center;">
                            <label>
                                <input type="checkbox" name="type" id="{{ benevole.username }}">
                            </label>
                        </div>
                    </td>
                    {#<a href="{{ path("user_admin_delete", {'username': benevole.username}) }}">#}
                    {#<button type="button" class="btn btn-danger" onclick="ajaxGet('{{ path("user_admin_delete", {'username': benevole.username}) }}', supprimerBenevole())">Supprimer</button>#}
                    {#</a>#}
                </tr>
            {% endfor %}
            {% else %}
                <tr></tr>
            {% endif %}
            </tbody>
        </table>
    </section>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="buttons">
            <a href="{{ path('fos_user_admin_register') }}  " class="btn btn-primary btn-success">
                <em class="glyphicon glyphicon-alert"></em> Ajouter un bénévole
            </a>
            <button type="button" class="btn btn-danger" onclick="deleteBenevoles()">Supprimer</button>
            {% if listBenevoles %}
                <button type="button" class="btn btn-primary" onclick="imprimer()">Imprimer</button>
            {% endif %}
        </div>

    {% endif %}

    <div class="col-md-12 text-center">
        {% set pathReq = [] %}
        {% if app.request.query.get('desc') is not null %}
            {% set pathReq = pathReq | merge({"desc":app.request.query.get('desc')}) | merge({"field":app.request.query.get('field')})%}
        {% endif %}
        <ul>Par page :
            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":5}) ) }}">5</a>,
            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":10}) ) }}">10</a>,
            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":20}) ) }}">20</a>,
            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":50}) ) }}">50</a>,
            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":100}) ) }}">100</a>
        </ul>
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>

{% endblock %}


