{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Liste des bénévoles - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel='stylesheet' href="{{ asset('css/twitterTypeahead.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <style>
        #mapid {  height: 500px; }

        /* Style the list */
        ul.tab {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Float the list items side by side */
        ul.tab li {float: left;}

        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of links on hover */
        ul.tab li a:hover {background-color: #ddd;}

        /* Create an active/current tablink class */
        ul.tab li a:focus, .active {background-color: #ccc;}

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        #recherche_avancee_ville {
            text-transform: uppercase;
        }

        .col-sm-10{
            padding-left: 0px !important;
            text-align: left;
        }

        hr{
            margin-top: 10px !important;
        }

        tbody {
            display:block;

            max-height: 59vh;
            overflow:auto;
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }



        @media only screen and (max-width: 980px) {

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #ccc; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
                white-space: normal;
                text-align:left;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            td:before { content: attr(data-title); }
        }

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/typeahead.js/dist/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('vendor/typeahead.js/dist/bloodhound.js') }}"></script>
    <script src="{{ asset("vendor/pdfmake/build/pdfmake.min.js") }}"></script>
    <script src="{{ asset("vendor/pdfmake/build/vfs_fonts.js") }}"></script>
    <script src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
    <script type="application/javascript">
        $('input:checkbox').removeAttr('checked');

        function formatMultiple(name) {
            var tdElements = document.getElementsByName(name);
            for (var i = 0; i < tdElements.length; i++) {
                listElement = document.createElement('ul');
                var text = tdElements[i].textContent;
                text = text.replace(/[{()}]/g, '');
                text = text.split(',');
                for (var j = 0; j < text.length; j++) {
                    if (text[j].trim() != '') {
                        itemElement = document.createElement('li');
                        itemElement.textContent = text[j];
                        listElement.appendChild(itemElement);
                    }
                }
                tdElements[i].innerHTML = '';
                tdElements[i].appendChild(listElement);
            }
        }

        function imprimer(){
            var docDefinition = {
                pageOrientation: 'landscape',
                content: [
                    {text: "Liste de benevoles", style: ['header']},
                    {text: " ", style: ['header']},
                    {
                        style: 'table',
                        table: {
                            headerRows: 1,
                            widths: [80, 80, 150, 100, 100, 150],
                            body: [
                                [{ text: 'Nom', style: 'tableHeader' },
                                    { text: 'Prenom', style: 'tableHeader'},
                                    { text: 'Email', style: 'tableHeader' },
                                    { text: 'Téléphone portable', style: 'tableHeader' },
                                    { text: 'Téléphone fixe', style: 'tableHeader' },
                                    { text: 'Adresse', style: 'tableHeader' }],
                                {% for benevole in listBenevoles %}
                                [ "{{ benevole.nom | capitalize}}",
                                    "{{ benevole.prenom | capitalize }}",
                                    "{{ benevole.email }}",
                                    "{{ benevole.telFixe }}",
                                    "{{ benevole.telPortable }}",
                                    "{{ benevole.adresse.getAdresse() }}, {{ benevole.adresse.codePostal.code }} {{ benevole.adresse.ville.nom }}"
                                ],
                                {% endfor %}
                            ]
                        },
                        layout: 'lightHorizontalLines'
                    }
                ],
                styles: {
                    header: {
                        fontSize: 13,
                        alignment: 'center'
                    },
                    table: {
                        fontSize: 9,
                        alignment: 'left'
                    }
                }
            };
            pdfMake.createPdf(docDefinition).download("liste-de-benevoles.pdf");
        }

        function deleteBenevoles() {
            var conf = confirm('Souhaitez vous vraiment supprimer ces bénévoles ?');

            if(conf) {
                var selected = [];

                $("input:checkbox:checked").each(function () {
                    var $this = $(this);
                    selected.push($this.attr("id"));
                });

                var usernames = JSON.stringify(selected)

                $.post("{{ path('user_admin_deletes') }}", {'usernames': usernames},
                        function (data, status) {
                            for (i = 0; i < selected.length; i++) {
                                $("#" + selected[i]).closest('tr').remove();
                            }
                        });
            }
        }

        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#recherche_avancee_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });


//if($('#recherche_avancee_activitesToutes').is(':checked')){
//        $("#recherche_avancee_activites").hide();
//        $("#recherche_avancee_activites_0").prop('checked',false);
//        $("#recherche_avancee_activites_1").prop('checked',false);
//        $("#recherche_avancee_activites_2").prop('checked',false);
//        $("#recherche_avancee_activites_3").prop('checked',false);
//        $("#recherche_avancee_activites_4").prop('checked',false);
//        }else{
//            $("#recherche_avancee_activites").show();
//        }
//
//        if($('#recherche_avancee_respoActivitesToutes').is(':checked')){
//            $("#recherche_avancee_responsabilitesActivites").hide();
//            $("#recherche_avancee_responsabilitesActivites_0").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_1").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_2").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_3").prop('checked',false);
//            $("#recherche_avancee_responsabilitesActivites_4").prop('checked',false);
//        }else{
//            $("#recherche_avancee_responsabilitesActivites").show();
//        }
//
//        hide_or_show = function() {
//            if($('#recherche_avancee_activitesToutes').is(':checked')){
//                $("#recherche_avancee_activites").hide();
//                $("#recherche_avancee_activites_0").prop('checked',false);
//                $("#recherche_avancee_activites_1").prop('checked',false);
//                $("#recherche_avancee_activites_2").prop('checked',false);
//                $("#recherche_avancee_activites_3").prop('checked',false);
//                $("#recherche_avancee_activites_4").prop('checked',false);
//            }else{
//                $("#recherche_avancee_activites").show();
//            }
//
//            if($('#recherche_avancee_respoActivitesToutes').is(':checked')){
//                $("#recherche_avancee_responsabilitesActivites").hide();
//                $("#recherche_avancee_responsabilitesActivites_0").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_1").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_2").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_3").prop('checked',false);
//                $("#recherche_avancee_responsabilitesActivites_4").prop('checked',false);
//            }else{
//                $("#recherche_avancee_responsabilitesActivites").show();
//            }
//        };
//
//        $("#recherche_avancee_activitesToutes").change(hide_or_show);
//        $("#recherche_avancee_respoActivitesToutes").change(hide_or_show);
        $(document).ready(function() {
            openDisplay($('#Liste'), 'Liste');

            if($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked')){
                $('#ville').show();
                $('#distanceKm').hide();
                $("#recherche_avancee_distance").val("");
                $('#distVilleOuDom').hide();
                $('#recherche_avancee_villeOuDomicile:first-child').hide();
            }else if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked')){
                if($('#recherche_avancee_villeOuDomicile_0').is(':checked')){
                    $('#ville').show();
                    $('#distanceKm').show();
                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                }else{
                    $('#ville').hide();
                    $('#distanceKm').show();
                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                }
            }else {
                $('#ville').hide();
                $("#recherche_avancee_distance").val("");
                $('#distanceKm').hide();
                $('#distVilleOuDom').hide();
                $('#recherche_avancee_villeOuDomicile div:first-child').hide();
            }

            $('#recherche_avancee_villeOuDomicile div:first-child').hide();

            $('#recherche_avancee_dansVilleOuParDistance_placeholder').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_placeholder').is(':checked')) {
                    $('#ville').hide();
                    $('#distanceKm').hide();
                    $('#distVilleOuDom').hide();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                    $('#recherche_avancee_villeOuDomicile div:first-child').prop('checked', true);
                    $("#recherche_avancee_distance").val("");
                }
            });

            $('#recherche_avancee_dansVilleOuParDistance_0').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked')) {
                    $('#ville').show();
                    $('#distanceKm').hide();
                    $('#distVilleOuDom').hide();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                    $('#recherche_avancee_villeOuDomicile div:first-child').prop('checked', true);
                    $("#recherche_avancee_distance").val("");
                }
            });

            $('#recherche_avancee_dansVilleOuParDistance_1').click(function() {
                if($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked')) {
                    $('#distanceKm').show();
                    $('#ville').hide();
                    $('#distVilleOuDom').show();
                    $('#recherche_avancee_villeOuDomicile_placeholder').prop('checked', true);

                    $('#recherche_avancee_villeOuDomicile div:first-child').hide();
                    $('#recherche_avancee_villeOuDomicile_1').prop('checked', true);
                    $('#recherche_avancee_ville').val('');
                }
            });

            $('#recherche_avancee_villeOuDomicile_0').click(function() {
                if($('#recherche_avancee_villeOuDomicile_0').is(':checked')) {
                    $('#ville').show();
                    $('#recherche_avancee_ville').val('');
                }
            });

            $('#recherche_avancee_villeOuDomicile_1').click(function() {
                if($('#recherche_avancee_villeOuDomicile_1').is(':checked')) {
                    $('#ville').hide();
                    $('#recherche_avancee_ville').val('');
                }
            });

            $('#myTable').pageMe({
                pagerSelector: '#myPager',
                showPrevNext: true,
                hidePageNumbers: false,
                perPage:{{ rowsPerPage }} });
        });

        $(':submit').on('click', function (e) {
            e.preventDefault();
            var erreur = false;

            if (($('#recherche_avancee_dansVilleOuParDistance_0').is(':checked') || ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && ($('#recherche_avancee_villeOuDomicile_0').is(':checked')))) && $('#recherche_avancee_ville').val().trim().length==0) {
                if ($('#erreurVille').prev()[0]==undefined) {
                    $('#recherche_avancee_ville').after('<p id="erreurVille"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurVille').show();
                }
                erreur = true;
            } else {
                $('#erreurVille').hide();
            }

            if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && $('#recherche_avancee_distance').val().trim().length==0) {
                if ($('#erreurDistance').prev()[0]==undefined) {
                    $('#recherche_avancee_distance').after('<p id="erreurDistance"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Ce champ est obligatoire</p>');
                } else {
                    $('#erreurDistance').show();
                }
                erreur = true;
            } else {
                $('#erreurDistance').hide();
            }

            if ($('#recherche_avancee_ville').val().trim().length!=0 && $('#recherche_avancee_ville').val().indexOf(' (') < 0) {
                if ($('#erreurCodePostal').prev()[0]==undefined) {
                    $('#recherche_avancee_ville').after('<p id="erreurCodePostal"  style="color: red; font-size: 13px; font-style: italic">&nbsp &nbsp Sélectionnez un code postal</p>');
                } else {
                    $('#erreurCodePostal').show();
                }
                erreur = true;
            } else {
                $('#erreurCodePostal').hide();
            }

            if (!erreur){
                if ($('#recherche_avancee_dansVilleOuParDistance_1').is(':checked') && $('#recherche_avancee_villeOuDomicile_0').is(':checked')) {
                    var ville = $('#recherche_avancee_ville').val();
                    var geolocalisation = '';
                    $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + ville, function (dataVille) {
                        if (dataVille.length > 0) {
                            geolocalisation = 'SRID=4326;POINT(' + dataVille[0]['lon'] + ' ' + dataVille[0]['lat'] + ')';
                            $("#recherche_avancee_geolocalisation").val(geolocalisation);
                            $("#recherche_avancee_ville").val($("#recherche_avancee_ville").val().split(' (')[0]);
                            $(".user_admin_list").submit();
                        }
                        else {
                            //Que fait-on si 0 match ?
                        }
                    });
                }
                else {
                    $("#recherche_avancee_ville").val($("#recherche_avancee_ville").val().split(' (')[0]);
                    $(".user_admin_list").submit();
                }
            }
        });

        function openDisplay(button, display) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and (not done anymore ->) add an "active" class to the link that opened the tab
            document.getElementById(display).style.display = "block";
            button.className += " active";
        }

        {% if listBenevoles is not empty %}
            var mymap = L.map('mapid');
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                maxZoom: 20,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);
            var markers = [];
            {% for benevole in listBenevoles %}
                var lat = {{ benevole.adresse.geolocalisation|split('(')[1]|split(' ')[0] }};
                var lon = {{ benevole.adresse.geolocalisation|split(' ')[1]|split(')')[0] }};
                var marker = L.marker([lon, lat]).bindPopup("<b>{{ benevole.nom|upper }} {{ benevole.prenom|capitalize }}</b><br>{{ benevole.adresse.ville.nom }}<br><a href='{{ path('user_admin_profil_benevole', {username: benevole.username}) }}'>Détails de {{ benevole.prenom|capitalize }}</a>");
                marker.on('click', function (e) {
                    mymap.setView(e.target.getLatLng());
                });
                markers.push(marker);
            {% endfor %}
            var group = new L.featureGroup(markers).addTo(mymap);
            mymap.fitBounds(group.getBounds());
            mymap.setZoom(9);

            $("body").on('click','#CarteLink', function() {
                mymap.invalidateSize(false);
            });
        {% endif %}
    </script>
{% endblock %}

{% block body %}

    <section class="col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div class='well'>

                {{ form_start(form, {'method': 'get', 'action': path('user_admin_list'), 'attr': {'class': 'user_admin_list form-sm'}}) }}
                {#<h5>Activité :</h5>#}
                {#{{ form_widget(form.activitesToutes) }}#}
                {#{{ form_widget(form.activites) }}#}
                {#<br/>#}

                {#<h5>Responsabilité :</h5>#}
                {#{{ form_widget(form.respoActivitesToutes) }}#}
                {#{{ form_widget(form.responsabilitesActivites) }}#}
                {#<br/>#}

                <div id="filtrePar">
                    <h5> Filtre par lieu :</h5>
                    {{ form_widget(form.dansVilleOuParDistance) }}
                </div>
                <div id="distVilleOuDom">
                    <h5> Distance de ville ou domicile ?</h5>
                    {{ form_widget(form.villeOuDomicile) }}
                </div>
                <div id="ville">
                    <h5> Ville :</h5>
                    {{ form_widget(form.ville, { 'attr': {'class': 'input-sm'} }) }}
                </div>
                <div id="distanceKm">
                    <h5> Distance en km :</h5>
                    {{ form_widget(form.distance) }}
                </div>
                {{ form_widget(form.geolocalisation) }} {#A enlever lorsque le form_end est présent#}
                <br/>

                <div>
                    <input type="submit" value="OK" class="btn btn-primary"/>
                </div>
                {#{{ form_end(form) }}#}

            </div>
        </div>
    </section>

    <section class="col-lg-10 col-md-10 col-sm-10">
        <ul class="tab">
            <li><a href="javascript:void(0)" class="tablinks" id="ListeLink" onclick="openDisplay($(this), 'Liste')">Liste</a></li>
            <li><a href="javascript:void(0)" class="tablinks" id="CarteLink" onclick="openDisplay($(this), 'Carte')">Carte</a></li>
        </ul>
        <div id="Liste" class="tabcontent">
            {% if listBenevoles is not empty %}
            <h1>Liste des Bénévoles</h1>
            <button type="button" class="imprimente" onclick="imprimer()"><span class="glyphicon glyphicon-print"></span></button>
            <div class="container">
                <div class="row">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            {% set pathReq = [] %}
                            {% if app.request.query.get('rowsPerPage') is not null %}
                                {% set pathReq = pathReq | merge({"rowsPerPage":app.request.query.get('rowsPerPage')})%}
                            {% endif %}
                            {% if field == "nom" %}
                                {% if desc %}
                                    <th>Nom
                                        <a class="sortButtonNom" id="sortButtonNom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"nom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                 id="sortNom" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Prénom
                                        <a class="sortButtonPrenom" id="sortButtonPrenom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"prenom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                 id="sortPrenom" alt="sort Down"/>
                                        </a>
                                    </th>
                                {% else %}
                                    <th>Nom
                                        <a class="sortButtonNom" id="sortButtonNom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"nom"}) ) }}">
                                            <img src="{{ asset('img/sort-up.png') }}" class="sort sort-up"
                                                 id="sortNom" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Prénom
                                        <a class="sortButtonPrenom" id="sortButtonPrenom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"prenom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-up"
                                                 id="sortPrenom" alt="sort Up"/>
                                        </a>
                                    </th>
                                {% endif %}
                            {% else %}
                                {% if desc %}
                                    <th>Nom
                                        <a class="sortButtonNom" id="sortButtonNom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"nom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-down"
                                                 id="sortNom" alt="sort Down"/>
                                        </a>
                                    </th>
                                    <th>Prénom
                                        <a class="sortButtonPrenom" id="sortButtonPrenom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":false, "field":"prenom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class=" sort sort-down"
                                                 id="sortPrenom" alt="sort Down"/>
                                        </a>
                                    </th>
                                {% else %}
                                    <th>Nom
                                        <a class="sortButtonBom" id="sortButtonNom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"nom"}) ) }}">
                                            <img src="{{ asset('img/sort-down.png') }}" class="sort sort-up" id="sortNom"
                                                 alt="sort Up"/>
                                        </a>
                                    </th>
                                    <th>Prénom
                                        <a class="sortButtonPrenom" id="sortButtonPrenom"
                                           href="{{ path('user_admin_list', pathReq | merge({"desc":true, "field":"prenom"}) ) }}">
                                            <img src="{{ asset('img/sort-up.png') }}" class=" sort sort-up"
                                                 id="sortPrenom" alt="sort Up"/>
                                        </a>
                                    </th>
                                {% endif %}
                            {% endif %}

                            <th>Responsabilité</th>
                            <th>Activité</th>
                            <th>Consulter</th>
                            <th>Supprimer</th>
                        </tr>

                        </thead>
                        <tbody id="myTable">
                        {% if listBenevoles is not empty %}
                        {% for benevole in listBenevoles %}
                            <tr id="checkboxes">
                                <td data-title="Nom">{{ benevole.nom | capitalize }}</td>
                                <td data-title="Prénom">{{ benevole.prenom | capitalize }}</td>
                                <td id="idBenevole" hidden="hidden" data-title="#"  data-title="id">{{ benevole.id }}</td>
                                <td name="resp"  data-title="Responsabilité">
                                    {% if (benevole.responsabiliteActivite == "" or benevole.responsabiliteActivite == NULL or benevole.responsabiliteActivite is empty) %}
                                         -

                                    {% else %}

                                            {% if ('plaidoyers' in benevole.responsabiliteActivite ) %}
                                                    Action éducative <br>
                                            {% endif %}
                                            {% if ('frimousses' in benevole.responsabiliteActivite) %}
                                                    Frimousse <br>
                                            {% endif %}
                                            {% if ('actions_ponctuelles' in benevole.responsabiliteActivite) %}
                                                    Actions ponctuelles <br>
                                            {% endif %}
                                            {% if ('projets' in benevole.responsabiliteActivite) %}
                                                    Projets <br>
                                            {% endif %}
                                            {% if ('autre' in benevole.responsabiliteActivite) %}
                                                    Autre,
                                            {% endif %}
                                            {% if ('admin_comite' in benevole.responsabiliteActivite) %}
                                                    Administrateur du comité <br>
                                            {% endif %}
                                            {% if ('admin_region' in benevole.responsabiliteActivite) %}
                                                    Administrateur de la région <br>
                                            {% endif %}

                                    {% endif %}
                                </td>
                                <td name="act" data-title="Activité">
                                    {% if (benevole.activitesPotentielles == "" or benevole.activitesPotentielles == NULL or benevole.activitesPotentielles is empty) %}
                                        -
                                    {% else %}
                                            {% for activite in benevole.activitesPotentielles %}
                                                {% if ('plaidoyers' == activite) %}
                                                    Action éducative <br>
                                                {% endif %}
                                                {% if ('frimousses' == activite) %}
                                                    Frimousse <br>
                                                {% endif %}
                                                {% if ('actions_ponctuelles' == activite) %}
                                                    Actions ponctuelles <br>
                                                {% endif %}
                                                {% if ('projets' == activite) %}
                                                    Projets <br>
                                                {% endif %}
                                                {% if ('projets' == activite) %}
                                                    Autre <br>
                                                {% endif %}
                                                {% if ('admin_comite' == activite) %}
                                                    Administrateur du comité <br>
                                                {% endif %}
                                                {% if ('admin_region' == activite) %}
                                                    Administrateur de la région <br>
                                                {% endif %}
                                            {% endfor %}



                                    {% endif %}
                                </td>
                                <td data-title="Consulter">
                                    <a href="{{ path('user_admin_profil_benevole', {'username': benevole.username}) }}">
                                        <button type="button" class="btn btn-primary">Consulter le profil</button>
                                    </a>
                                </td>
                                <td data-title="Supprimer">
                                    <div class="checkbox" style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="type" id="{{ benevole.username }}">
                                        </label>
                                    </div>
                                </td>
                                {#<a href="{{ path("user_admin_delete", {'username': benevole.username}) }}">#}
                                {#<button type="button" class="btn btn-danger" onclick="ajaxGet('{{ path("user_admin_delete", {'username': benevole.username}) }}', supprimerBenevole())">Supprimer</button>#}
                                {#</a>#}
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr></tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="buttons">
                            <a href="{{ path('fos_user_admin_register') }}  " class="btn btn-primary btn-success">
                                <em class="glyphicon glyphicon-alert"></em> Ajouter un bénévole
                            </a>
                            <button type="button" class="btn btn-danger" onclick="deleteBenevoles()">Supprimer</button>

                        </div>

                    {% endif %}

                    <div class="col-md-12 text-center">
                        {% set pathReq = [] %}
                        {% if app.request.query.get('desc') is not null %}
                            {% set pathReq = pathReq | merge({"desc":app.request.query.get('desc')}) | merge({"field":app.request.query.get('field')})%}
                        {% endif %}
                        <ul>Par page :
                            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":5}) ) }}">5</a>,
                            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":10}) ) }}">10</a>,
                            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":20}) ) }}">20</a>,
                            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":50}) ) }}">50</a>,
                            <a href="{{ path('user_admin_list', pathReq | merge({"rowsPerPage":100}) ) }}">100</a>
                        </ul>
                        <ul class="pagination pagination-lg pager" id="myPager"></ul>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="text-warning">Aucun bénévole ne correspond à votre requête, veuillez lancer une nouvelle recherche.</div>
            {% endif %}
        </div>
        <div id="Carte" class="tabcontent">
            {% if listBenevoles is not empty %}
                <div id="mapid"></div>
            {% else %}
                <div class="text-warning">Aucun bénévole ne correspond à votre requête, veuillez lancer une nouvelle recherche.</div>
            {% endif %}
        </div>
    </section>

{% endblock %}


