{# version 1.00, date 05/10/2016, auteur Mélissa Bignoux #}
{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/moment/moment.js') }}" xmlns:white-space="http://www.w3.org/1999/xhtml"></script>
    <script src="{{ asset('vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}"></script>
    <style>
        h1{
            margin-top: 60px;
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-left: 50px;
        }
        hr{
            width: 90%;
            margin-left: 50px;
        }
        table a:not(.btn), .table a:not(.btn){
            text-decoration: none !important;
        }
        .fc-month-view span.fc-title {
            white-space: normal;
        }
        #carre {
            width: 10%;
            padding-bottom: 30%; /* = width for a square aspect ratio */
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var interventions = [];
            var typeIntervention ;

            {% for intervention in interventionsNonRealisees %}
                {% if intervention.dateIntervention is not null  %}
                    {% if intervention.plaidoyer %}
                        typeIntervention = "Action éducative";
                    {% elseif intervention.frimousse %}
                        typeIntervention = "Frimousse";
                    {% else %}
                        typeIntervention = "Autre intervention";
                    {% endif %}
                    {% if intervention.etablissement.nom != null  %}
                        typeEtablissement = "{{ intervention.etablissement.nom }}"
                    {% elseif  intervention.etablissement.nom == null %}
                        {% if intervention.etablissement.typeEnseignement is not empty %}
                            {% if intervention.etablissement.typeEnseignement == "maternelle" %}
                                typeEtablissement = "Ecole maternelle";
                            {% elseif intervention.etablissement.typeEnseignement == "elementaire" %}
                                typeEtablissement = "Ecole élémentaire";
                            {% elseif intervention.etablissement.typeEnseignement == "college" %}
                                typeEtablissement = "Collège";
                            {% elseif intervention.etablissement.typeEnseignement == "lycee" %}
                                typeEtablissement = "Lycée";
                            {% elseif intervention.etablissement.typeEnseignement == "superieur" %}
                                typeEtablissement = "Supérieur";
                            {% endif %}
                        {% elseif intervention.etablissement.typeCentre is not empty %}
                            {% if intervention.etablissement.typeCentre == "maternelle" %}
                                typeEtablissement = "Centre de loisirs maternelle";
                            {% elseif intervention.etablissement.typeCentre == "elementaire" %}
                                typeEtablissement = "Centre de loisirs élémentaire";
                            {% elseif intervention.etablissement.typeCentre == "adolescent" %}
                                typeEtablissement = "Centre de loisirs adolescent";
                            {% elseif intervention.etablissement.typeCentre == "autre" %}
                                typeEtablissement = "Centre de loisirs autre";
                            {% endif %}
                        {% elseif intervention.etablissement.typeAutreEtablissement is not empty %}
                            {% if intervention.etablissement.typeAutreEtablissement == "mairie" %}
                            typeEtablissement = "mairie";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "maison de retraite" %}
                                typeEtablissement = "maison de retraite";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "autre" %}
                                typeEtablissement = "maison de retraite";
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if intervention.benevole is not null %}
                        {% if user.id == intervention.benevole.id %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}T{{ intervention.heure }}',
                                allDay: false,
                                url: '{{ path('intervention_view', {id: intervention.id}) }}' });
                        {% else %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}T{{ intervention.heure }}',
                                allDay: false,
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : 'grey' });
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for intervention in interventionsRealisees %}
                {% if intervention.dateIntervention is not null  %}
                    {% if intervention.plaidoyer %}
                        typeIntervention = "Action éducative";
                    {% elseif intervention.frimousse %}
                        typeIntervention = "Frimousse";
                    {% else %}
                        typeIntervention = "Autre intervention";
                    {% endif %}
                    {% if intervention.etablissement.nom != null  %}
                            typeEtablissement = "{{ intervention.etablissement.nom }}"
                    {% elseif  intervention.etablissement.nom == null %}
                        {% if intervention.etablissement.typeEnseignement is not empty %}
                            {% if intervention.etablissement.typeEnseignement == "maternelle" %}
                                typeEtablissement = "Ecole maternelle";
                            {% elseif intervention.etablissement.typeEnseignement == "elementaire" %}
                                typeEtablissement = "Ecole élémentaire";
                            {% elseif intervention.etablissement.typeEnseignement == "college" %}
                                typeEtablissement = "Collège";
                            {% elseif intervention.etablissement.typeEnseignement == "lycee" %}
                                typeEtablissement = "Lycée";
                            {% elseif intervention.etablissement.typeEnseignement == "superieur" %}
                                typeEtablissement = "Supérieur";
                            {% endif %}
                        {% elseif intervention.etablissement.typeCentre is not empty %}
                            {% if intervention.etablissement.typeCentre == "maternelle" %}
                                typeEtablissement = "Centre de loisirs maternelle";
                            {% elseif intervention.etablissement.typeCentre == "elementaire" %}
                                typeEtablissement = "Centre de loisirs élémentaire";
                            {% elseif intervention.etablissement.typeCentre == "adolescent" %}
                                typeEtablissement = "Centre de loisirs adolescent";
                            {% elseif intervention.etablissement.typeCentre == "autre" %}
                                typeEtablissement = "Centre de loisirs autre";
                            {% endif %}
                        {% elseif intervention.etablissement.typeAutreEtablissement is not empty %}
                            {% if intervention.etablissement.typeAutreEtablissement == "mairie" %}
                            typeEtablissement = "mairie";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "maison de retraite" %}
                            typeEtablissement = "maison de retraite";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "autre" %}
                            typeEtablissement = "maison de retraite";
                            {% endif %}
                         {% endif %}
                    {% endif %}
                    {% if intervention.benevole is not null %}
                        {% if user.id == intervention.benevole.id %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}T{{ intervention.heure }}',
                                allDay: false,
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : '#82C46C' });
                        {% else %}
                            interventions.push({ title  : typeIntervention +  ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}T{{ intervention.heure }}',
                                allDay: false,
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : 'grey' });
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            $('#calendar').fullCalendar({
                locale: "fr",
                events: interventions,
                weekends: false,
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventLimit: 2,
                views: {
                    basic: {
                        eventLimit: 2
                    },
                    agenda: {
                        eventLimit: 2
                    },
                    week: {
                        eventLimit: 2
                    },
                    agendaDay: {
                        eventLimit: 2
                    },
                    month: {
                        eventLimit: 2
                    },
                    basicWeek: {
                        eventLimit: 2
                    },
                    basicDay: {
                        eventLimit: 2
                    },
                    agendaWeek: {
                        eventLimit: 2
                    },

                }

            })


        });

    </script>
{% endblock %}

{% block title %}

    Mon planning - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('vendor/fullcalendar/dist/fullcalendar.css') }}"

    />
{% endblock %}
{% block body %}
   <h1> Votre planning  </h1><hr>

    <div class="row">

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div  id="calendar">
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4"> <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="bonjour" style="text-align:center"><strong>Légendes</strong></h4>
                <span class="legende1"></span>Interventions d'autres bénévoles
                </br>
                <span class="legende2"></span> Mes interventions réalisées
                </br>
                <span class="legende3"></span> Mes interventions à réaliser
                </br>
            </div>
        </div>
    </div>

    </div>


{% endblock %}
