{# version 1.00, date 05/10/2016, auteur Mélissa Bignoux #}
{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/moment/moment.js') }}" xmlns:white-space="http://www.w3.org/1999/xhtml"></script>
    <script src="{{ asset('vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}"></script>
    <style>
        .fc-month-view span.fc-title{
            white-space: normal;

        #carre {
            width: 10%;
            padding-bottom: 30%; /* = width for a square aspect ratio */
        }
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var interventions = [];
            var typeIntervention ;

            {% for intervention in interventionsNonRealisees %}
                {% if intervention.dateIntervention is not null  %}
                    {% if intervention.plaidoyer %}
                        typeIntervention = "Action éducative";
                    {% elseif intervention.frimousse %}
                        typeIntervention = "Frimousse";
                    {% else %}
                        typeIntervention = "Autre intervention";
                    {% endif %}
                    {% if intervention.etablissement.nom != null  %}
                        typeEtablissement = "{{ intervention.etablissement.nom }}"
                    {% elseif  intervention.etablissement.nom == null %}
                        {% if intervention.etablissement.typeEnseignement is not empty %}
                            {% if intervention.etablissement.typeEnseignement == "maternelle" %}
                                typeEtablissement = "Ecole maternelle";
                            {% elseif intervention.etablissement.typeEnseignement == "elementaire" %}
                                typeEtablissement = "Ecole élémentaire";
                            {% elseif intervention.etablissement.typeEnseignement == "college" %}
                                typeEtablissement = "Collège";
                            {% elseif intervention.etablissement.typeEnseignement == "lycee" %}
                                typeEtablissement = "Lycée";
                            {% elseif intervention.etablissement.typeEnseignement == "superieur" %}
                                typeEtablissement = "Supérieur";
                            {% endif %}
                        {% elseif intervention.etablissement.typeCentre is not empty %}
                            {% if intervention.etablissement.typeCentre == "maternelle" %}
                                typeEtablissement = "Centre de loisirs maternelle";
                            {% elseif intervention.etablissement.typeCentre == "elementaire" %}
                                typeEtablissement = "Centre de loisirs élémentaire";
                            {% elseif intervention.etablissement.typeCentre == "adolescent" %}
                                typeEtablissement = "Centre de loisirs adolescent";
                            {% elseif intervention.etablissement.typeCentre == "autre" %}
                                typeEtablissement = "Centre de loisirs autre";
                            {% endif %}
                        {% elseif intervention.etablissement.typeAutreEtablissement is not empty %}
                            {% if intervention.etablissement.typeAutreEtablissement == "mairie" %}
                            typeEtablissement = "mairie";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "maison de retraite" %}
                                typeEtablissement = "maison de retraite";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "autre" %}
                                typeEtablissement = "maison de retraite";
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if intervention.benevole is not null %}
                        {% if user.id == intervention.benevole.id %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}',
                                url: '{{ path('intervention_view', {id: intervention.id}) }}' });
                        {% else %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}',
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : 'grey' });
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for intervention in interventionsRealisees %}
                {% if intervention.dateIntervention is not null  %}
                    {% if intervention.plaidoyer %}
                        typeIntervention = "Action éducative";
                    {% elseif intervention.frimousse %}
                        typeIntervention = "Frimousse";
                    {% else %}
                        typeIntervention = "Autre intervention";
                    {% endif %}
                    {% if intervention.etablissement.nom != null  %}
                            typeEtablissement = "{{ intervention.etablissement.nom }}"
                    {% elseif  intervention.etablissement.nom == null %}
                        {% if intervention.etablissement.typeEnseignement is not empty %}
                            {% if intervention.etablissement.typeEnseignement == "maternelle" %}
                                typeEtablissement = "Ecole maternelle";
                            {% elseif intervention.etablissement.typeEnseignement == "elementaire" %}
                                typeEtablissement = "Ecole élémentaire";
                            {% elseif intervention.etablissement.typeEnseignement == "college" %}
                                typeEtablissement = "Collège";
                            {% elseif intervention.etablissement.typeEnseignement == "lycee" %}
                                typeEtablissement = "Lycée";
                            {% elseif intervention.etablissement.typeEnseignement == "superieur" %}
                                typeEtablissement = "Supérieur";
                            {% endif %}
                        {% elseif intervention.etablissement.typeCentre is not empty %}
                            {% if intervention.etablissement.typeCentre == "maternelle" %}
                                typeEtablissement = "Centre de loisirs maternelle";
                            {% elseif intervention.etablissement.typeCentre == "elementaire" %}
                                typeEtablissement = "Centre de loisirs élémentaire";
                            {% elseif intervention.etablissement.typeCentre == "adolescent" %}
                                typeEtablissement = "Centre de loisirs adolescent";
                            {% elseif intervention.etablissement.typeCentre == "autre" %}
                                typeEtablissement = "Centre de loisirs autre";
                            {% endif %}
                        {% elseif intervention.etablissement.typeAutreEtablissement is not empty %}
                            {% if intervention.etablissement.typeAutreEtablissement == "mairie" %}
                            typeEtablissement = "mairie";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "maison de retraite" %}
                            typeEtablissement = "maison de retraite";
                            {% elseif intervention.etablissement.typeAutreEtablissement == "autre" %}
                            typeEtablissement = "maison de retraite";
                            {% endif %}
                         {% endif %}
                    {% endif %}
                    {% if intervention.benevole is not null %}
                        {% if user.id == intervention.benevole.id %}
                            interventions.push({ title  : typeIntervention + ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}',
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : '#82C46C' });
                        {% else %}
                            interventions.push({ title  : typeIntervention +  ' - ' + typeEtablissement + ' - {{ intervention.etablissement.adresse.ville.nom }} '   ,
                                start  : '{{ intervention.dateIntervention|date("Y-m-d") }}',
                                url: '{{ path('intervention_view', {id: intervention.id}) }}',
                                color  : 'grey' });
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            $('#calendar').fullCalendar({
                locale:"fr",
                events: interventions
            })


        });

    </script>
{% endblock %}

{% block title %}

    Mon planning - {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('vendor/fullcalendar/dist/fullcalendar.css') }}"

    />
{% endblock %}
{% block body %}
   <h2 style="text-align:center"> Votre planning  </h2>

    <div class="row">
        <div class="col-xs-9 col-md-2"> <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <h4 style="text-align:center"> Légendes </h4>
                        <button type="button" class="btn btn-default btn-xs"></button>
                         Interventions d'autres bénévoles
                        </br>
                        <button type="button" class="btn btn-success btn-xs"></button> Mes interventions réalisées
                        </br>
                        <button type="button" class="btn btn-primary btn-xs"></button> Mes interventions à réaliser
                        </br>
                    </div>
                </div>
            </div></div>
        <div class="col-xs-3 col-md-10">
            <div  id="calendar">
            </div>
        </div>
    </div>



{% endblock %}
