{# version 1.00, date 17/11/2016, auteur Kafui Atanley #}
{% extends "InterventionBundle::layout.html.twig" %}
{% block title %}

    Ajouter une vente - {{ parent() }}

{% endblock %}

{%  block body %}
    <style>
        h1, h2, h3{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }
        h5{
            font-weight: 600;
        }
        .formContainer{
            max-width: 450px;
            margin: auto;
        }
        .btn{
            margin-left: calc(50% - 40px);
        }
    </style>
    <h1>Ajout d'une vente </h1><hr>
    <div class="formContainer">
        {{ form_start(form) }}

        <h5>Chiffre affaire</h5>
        {{ form_widget(form.chiffreAffaire) }}

        <h5>Date vente</h5>
        {{ form_widget(form.dateVente) }}

        <h5>Remarques</h5>
        {{ form_widget(form.remarques) }}

        <input type="submit" class="btn btn-success"/>
        {{ form_end(form) }}
    </div>

{% endblock %}
