{# version 1.00, date 22/11/2016, auteur Kafui Atanley #}

{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}
    Liste des Ventes - {{ parent() }}

{% endblock %}


{% block body %}
    <style>
        h1, h2, h3{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }
        .btn{
            margin-top: 0px;
        }
        section{
            margin-top:0px !important;
        }

        @media only screen and (max-width: 600px) {

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #ccc; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
                white-space: normal;
                text-align:left;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            td:before { content: attr(data-title); }
        }

    </style>
    <div class="row">
        <h1> Liste des Ventes</h1><hr>
    </div>
    <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">


        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Date de la vente
                                </th>
                                <th>
                                    Lieu
                                </th>
                                <th>
                                    Chiffre d'affaire
                                </th>
                                <th>
                                    Voir Détails
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if ventes is not empty %}
                                {% for vente in ventes %}
                                    <tr>
                                        <td data-title="dateVente">
                                           {{ vente.dateVente| date("d-m-y") }}
                                        </td>
                                        <td data-title="adresse">
                                            {{ vente.etablissement.adresse.adresse }}
                                            (à changer)
                                        </td>
                                        <td data-title="chiffreAffaire">
                                            {{ vente.chiffreAffaire }} €
                                        </td>
                                        <td data-title="details">
                                             <a class="btn-primary btn" href="{{ path('vente_view' , {'id':vente.id}) }}">Détails</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
