{# version 1.00, date 22/11/2016, auteur Kafui Atanley #}

{% extends "InterventionBundle::layout.html.twig" %}

{% block title %}
    Liste des Ventes - {{ parent() }}

{% endblock %}


{% block body %}
    <style>
        h1, h2, h3{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }
        .btn{
            margin-left: calc(50% - 40px);
        }
        section{
            margin-top:0px !important;
        }
    </style>
    <div class="row">
        <h1> Liste des Ventes</h1><hr>
    </div>
    <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">


        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Date de la vente
                                </th>
                                <th>
                                    Lieu
                                </th>
                                <th>
                                    Chiffre d'affaire
                                </th>
                                <th>
                                    Voir Détails
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if ventes is not empty %}
                                {% for vente in ventes %}
                                    <tr>
                                        <td>
                                           {{ vente.dateVente| date("d-m-y") }}
                                        </td>
                                        <td>
                                            {{ vente.etablissement.adresse.adresse }}
                                            (à changer)
                                        </td>
                                        <td>
                                            {{ vente.chiffreAffaire }} €
                                        </td>
                                        <td>
                                             <a class="btn-default btn" href="{{ path('vente_view' , {'id':vente.id}) }}">Détails</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
