{% extends "UserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #user_registration_adresse_ville {
            text-transform: uppercase;
        }

        .twitter-typeahead .tt-query,
        .twitter-typeahead .tt-hint {
            margin-bottom: 0;
        }

        .tt-hint {
            display: none;
            width: 100%;
            height: 43px;
            padding: 10px 18px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #999;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .tt-menu {
            min-width: 160px;
            margin-top: 2px;
            padding: 5px 0;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            max-height: 150px;
            overflow-y: auto;

        }

        .tt-suggestion {
            display: block;
            padding: 3px 20px;
        }

        .tt-suggestion.tt-is-under-cursor {
            color: #fff;
            background-color: #428bca;
        }

        .tt-suggestion.tt-is-under-cursor a {
            color: #fff;
        }

        .tt-suggestion p {
            margin: 0;
        }

        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';

        #user_registration{
            margin-top:60px;
        }

        h1{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }

        div{
            box-shadow: none !important;
        }

        input[type="text"], select{
            max-width: 350px !important;
        }
        input:focus, select:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: #CCCCCC !important;
        }

        .btn-default{
            border-radius: 10px !important;
            background-color: #3fb618 !important;
            border-color: #3fb618 !important;
        }

        hr{
            margin-top: 0px;
        }


        .btn-primary{
            margin-left: 30%;
        }

        form{
            padding-left: 25vw;
        }

        @media(max-width: 1060px){
            form{
                padding-left: 0vw;
            }
        }
        @media(max-width: 1260px) and (min-width: 1060px){
            form{
                padding-left: 15vw;
            }
        }



        .required{
            display: inline;
        }

        .required:after{
            content: "*";
            display: inline;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/typeahead.js/dist/typeahead.jquery.js') }}"></script>
    <script src="{{ asset('vendor/typeahead.js/dist/bloodhound.js') }}"></script>
    <script>

        function preCheck(actsOrResp, resp) {
            for (var i = 0; i < actsOrResp.length; i++) {
                var query = "input[value='" + actsOrResp[i] + "']";
                var checkedElts = document.querySelectorAll(query);
                if (actsOrResp[i] == 'admin_region' || actsOrResp[i] == 'admin_comite') {
                    checkedElts[0].checked = true;
                }
                else{
                    checkedElts[1].checked = true;
                    if(resp){
                        checkedElts[0].checked = true;
                        checkedElts[1].disabled = true;
                    }
                }
            }
        }

        var jsonResponsabilities = {{ responsabiliteActivite|raw }};
        var jsonActivities = {{ activitesPotentielles|raw }};
        preCheck(jsonActivities, false);
        preCheck(jsonResponsabilities, true);

        var onResponsabiliteChecked = function (responsabilite, activite) {
            if ($(responsabilite).is(':checked')) {
                $(activite).prop("disabled", true);
                $(activite).prop("checked", true);
            } else {
                $(activite).prop("checked", false);
                $(activite).prop("disabled", false);
            }
        };

        for(i=0; i<4; i++){
            var responsabilite = "#user_registration_responsabiliteActivite_" + i;
            var activite = "#user_registration_activitesPotentielles_" + i;
            if ($(responsabilite).is(':checked')) {
                $(activite).prop("disabled", true);
                $(activite).prop("checked", true);
            }
        }

        $(document).ready(function() {
            for(i=0; i<4; i++){
                responsabiliteChecked("#user_registration_responsabiliteActivite_" + i, "#user_registration_activitesPotentielles_" + i);
            }
        });

        function responsabiliteChecked(responsabilite, activite) {
            $(responsabilite).change(function () {
                onResponsabiliteChecked($(this), activite);
            });
        }

        var villes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#user_registration_adresse_ville').typeahead(null, {
            name: 'villes',
            source: villes,
            limit: 50
        });

        var codesPostaux = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
            remote: {
                url: '{{ path("architecture_code_autocomplete") }}?term=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#user_registration_adresse_codePostal').typeahead(null, {
            name: 'codesPostaux',
            source: codesPostaux,
            limit: 5
        });


        $('#user_registration_adresse_ville').change(function () {
            var ville = $(user_registration_adresse_ville).val().toUpperCase();
            $('#user_registration_adresse_codePostal').val("");
            $.post("{{ path('architecture_code_postal') }}", {'ville': ville},
                function (data, status) {
                    $('#user_registration_adresse_codePostal').val(data.codePostal);
                });
        });

        $('#user_registration_adresse_codePostal').change(function () {
            var codePostal = $(user_registration_adresse_codePostal).val();
            $('#user_registration_adresse_ville').val("");
            $.post("{{ path('architecture_ville') }}", {'codePostal': codePostal},
                function (data, status) {
                    $('#user_registration_adresse_ville').val(data.ville);
                });
        });

        $(":submit").on('click', function( e ) {
            e.preventDefault();
            if ($('#user_registration_telPortable').val().trim().length==0 && $('#user_registration_telFixe').val().trim().length==0) {
                if($('#erreurTelephone').prev()[0]==undefined){
                    $('#user_registration_telPortable').after('<p id="erreurTelephone"  style="color: red; font-size: 13px; font-style: italic">Vous devez remplir au moins le téléphone fixe ou le téléphone portable</p>');
                }
            }
            else{
                var adresse = $("#user_registration_adresse_adresse").val() + ' ' + $('#user_registration_adresse_codePostal').val() + ' ' + $("#user_registration_adresse_ville").val();
                var previousAdresse = "{{ benevole.adresse.adresse }} " + "{{ benevole.adresse.codePostal.code }} " + "{{ benevole.adresse.ville.nom }}";
                if (adresse != previousAdresse) {
                    var geolocalisation = '';
                    $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + adresse, function (data) {
                        switch (data.length) {
                            case 0 :
                                var ville = $("#user_registration_adresse_ville").val();
                                //Match numéro département avec nom ?
                                $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + ville, function (dataVille) {
                                    if (dataVille.length > 0) {
                                        geolocalisation = 'SRID=4326;POINT(' + dataVille[0]['lon'] + ' ' + dataVille[0]['lat'] + ')';
                                        $("#user_registration_adresse_geolocalisation").val(geolocalisation);
                                        $(".user_admin_edit").submit();
                                    }
                                    else {
                                        //Que fait-on si 0 match ?
                                    }
                                });
                                break;
                            case 1 :
                                geolocalisation = 'SRID=4326;POINT(' + data[0]['lon'] + ' ' + data[0]['lat'] + ')';
                                $("#user_registration_adresse_geolocalisation").val(geolocalisation);
                                $(".user_admin_edit").submit();
                                break;
                            default :
                                var modal_content = "";
                                data.forEach(function (item) {
                                    var latlon = item["lat"] + "," + item["lon"];
                                    modal_content += "<div class='row'><label class='radio-inline'><input type='radio' name='type' id='" + latlon + "'>" + item["display_name"] + "</label></div>";
                                });
                                $('#choices').html(modal_content);
                                $("input:radio[name=type]:first").attr('checked', true);
                                $("#myModal").modal('show');
                        }
                    });
                }
                else {
                    $(".user_admin_edit").submit();
                }
            }

        });

        function setGeolocalisation(content){
            var latlon = content.split(',');
            var geolocalisation = 'SRID=4326;POINT(' + latlon[1] + ' ' + latlon[0] + ')';
            $("#user_registration_adresse_geolocalisation").val(geolocalisation);
            $(".user_admin_edit").submit();
        }
    </script>
{% endblock %}

{% block title %}

    Modification Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <h1>Modification du bénévole {{ benevole.nom }}</h1>

    {{ form(form, {'attr': {'class': 'user_admin_edit'}}) }}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Plusieurs résultats concordent avec l'adresse que vous avez donnée !</h4>
                </div>
                <div class="modal-body">
                    <p> Veuillez choisir l'adresse dans la liste ci-dessous : </p>
                    <div id="choices"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button id="realiserModal" type="button" class="btn btn-primary"
                                onclick="setGeolocalisation($('input:radio[name=type]:checked').attr('id'))">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
