{# version 1.00, date 14/09/2016, auteur Florian Leriche #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12 col-lg-9 col-lg-offset-1">
                <div class="infoPrincip">
                    <div class="row">
                        <h2 class="col-lg-9 titre" style="margin-top: 40px;"> {{ user.nom | upper }} &nbsp {{ user.prenom | capitalize}}</h2>
                        <img src="{{ asset('img/logo-gris.png') }}" class="logoGris" alt ="Logo gris">
                    </div>
                    <hr>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-8">
                                {% if (user.email == "" or user.email == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    <a href="mailto:{{ user.email}}">{{ user.email}}</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-8">
                                {% if (user.telFixe == "" or user.telFixe == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telFixe}}
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-8">
                                {% if (user.telPortable == "" or user.telPortable == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telPortable}}
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <dl>
                                    <dt >
                                        <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                    </dt>
                                </dl>

                            </div>
                            <div  class="col-sm-8">
                                {{ user.adresse.getAdresse()}},
                                {% if user.adresse.complement is not empty %}
                                    {{ user.adresse.complement}},
                                {% endif %}
                                {{ user.adresse.codePostal.code}}
                                {{ user.adresse.ville.nom}}
                            </div>
                        </dl>

                    </div>
                </div>


            </section>
        </div>
        <div class="row">
            <div class="buttons">
                <a href="{{ path("fos_user_profile_edit", {'username': user.username}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> &nbsp Modifier </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-sm-12 col-lg-9 col-lg-offset-1 infoContainer">
                <div class="col-sm-4 containerOne">
                    <div class="circle circleOne">
                        <img src="{{ asset('img/location.png') }}" alt="Location">
                    </div>
                    <h3>Comité(s) de rattachement : </h3>
                    <div class="row">
                        {#{% if user.comite is not empty %}#}
                        <ul class="list-group col-lg-offset-1 col-sm-7 ">
                            {#{% for comite in user.comite %}#}
                            <li class="list-group-item">
                                {#{% for dep in c.departement %}#}
                                {#<li> {{ dep.nom }} </li>#}
                                {#{% endfor %}#}
                                Seine-Maritime
                            </li>
                            {#{% endfor %}#}
                        </ul>
                        {#{% else %}#}
                        {#<div class="col-lg-offset-1 col-sm-7">#}
                        {#Aucun#}
                        {#</div>#}
                        {#{% endif %}#}
                    </div>
                </div>
                <div class="col-sm-4 containerTwo">
                    <div class="circle circleTwo">
                        <img src="{{ asset('img/briefcase.png') }}">
                    </div>

                    <h3>Responsabilités : </h3>
                    {% if (user.responsabiliteActivite is not empty) %}
                        <ul class="list-group col-lg-offset-1 col-sm-7 ">
                            {% if ('plaidoyers' in user.responsabiliteActivite ) %}
                                <li class="list-group-item">
                                    Plaidoyer
                                </li>
                            {% endif %}
                            {% if ('frimousses' in user.responsabiliteActivite) %}
                                <li class="list-group-item">
                                    Frimousse
                                </li>
                            {% endif %}
                            {% if ('actions_ponctuelles' in user.responsabiliteActivite) %}
                                <li class="list-group-item">
                                    Actions ponctuelles
                                </li>
                            {% endif %}
                            {% if ('projets' in user.responsabiliteActivite) %}
                                <li class="list-group-item">
                                    Projets
                                </li>
                            {% endif %}
                            {% if ('admin_comite' in user.responsabiliteActivite) %}
                                <li class="list-group-item">
                                    Administrateur du comité
                                </li>
                            {% endif %}
                            {% if ('admin_region' in user.responsabiliteActivite) %}
                                <li class="list-group-item">
                                    Administrateur de la région
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <div class="col-lg-offset-1 ">
                            Aucune
                        </div>

                    {% endif %}


                </div>
                <div class="col-sm-4 containerThree">
                    <div class="circle circleThree">
                        <img src="{{ asset('img/help.png') }}">
                    </div>
                    <h3>Domaines d'activités : </h3>
                    <div class="row">
                        {% if (user.activitesPotentielles is not empty) %}
                            <ul class="list-group col-lg-offset-1 col-sm-7 ">
                                {% if ('plaidoyers' in user.activitesPotentielles ) %}
                                    <li class="list-group-item">
                                        Plaidoyer
                                    </li>
                                {% endif %}
                                {% if ('frimousses' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Frimousse
                                    </li>
                                {% endif %}
                                {% if ('actions_ponctuelles' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Actions ponctuelles
                                    </li>
                                {% endif %}
                                {% if ('projets' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Projets
                                    </li>
                                {% endif %}
                                {% if ('autre' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Autre
                                    </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <div class="col-lg-offset-1 col-sm-7">
                                Aucun
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 infoContainer">
                <div class="col-sm-6 containerFour">
                    <div class="circle circleFour">
                        <img src="{{ asset('img/speech-bubbles.png') }}">
                    </div>
                    <h3>Interventions : </h3>
                    <div class="row">
                        {% if listeInterventions is not empty %}
                            <div class="scrollspy-example col-lg-offset-1 col-sm-11" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                                    height: auto;
                                    overflow: auto;
                                    position: relative;
                                    border:1px solid #cccccc;
                                    padding:10px;">
                                {% for intervention in listeInterventions %}
                                    <a href="{{ path('intervention_view', {'id': intervention.id}) }}" >
                                        {% if intervention.plaidoyer %}
                                            Plaidoyer -
                                        {% elseif intervention.frimousse %}
                                            Frimousse -
                                        {% else %}
                                            Autre intervention -
                                        {% endif %}
                                        {{ intervention.etablissement.adresse.ville.nom }}
                                        </br>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="col-lg-offset-1 col-sm-7">
                                Aucune
                            </div>
                        {% endif %}
                    </div>
                    <h3>Projets en cours : </h3>
                    <div class="row">
                        {% if user.projet is not empty %}
                            <div class="scrollspy-example col-lg-offset-1 col-sm-11" data-offset="0" data-target="#navbar-example" data-spy="scroll" style="
                                    height: 200px;
                                    overflow: auto;
                                    position: relative;
                                    border:1px solid #cccccc;
                                    padding:10px;">
                                {% for projet in user.projet %}
                                    <a href="" >
                                        {{ projet.getNom() }}
                                        </br>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                                <div class="col-lg-offset-1 col-sm-7">
                                    Aucun
                                </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
{% endblock %}
