{% extends "ArchitectureBundle:Benevole:layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div >
                    <div class="row">
                        <h2 class="col-lg-offset-1 col-lg-9">{{ user.nom}} {{ user.prenom}}</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                               <a href="">{{ user.email}}</a>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.telFixe}}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.telPortable}}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                BLABLA
                            </div>
                        </dl>

                    </div>
                </div>
                <div class="pull-right">
                    <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier</span> </a>
                </div>

            </section>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Commité(s) de rattachement : </h3>
                <div class="row">
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        <li class="list-group-item">
                            Seine-Maritime
                        </li>
                        <li class="list-group-item">
                            Eure
                        </li>
                    </ul>
                </div>
                <h3>Domaines d'activités : </h3>
                <div class="row">
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-ok"></span>  Plaidoyer
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-ok"></span>  Frimousse
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-remove"></span>  Actions ponctuelles
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6">
                <h3>Projets en cours : </h3>
                <div class="row">
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        <li class="list-group-item">
                            <i> Nom du projet 1 </i>
                        </li>
                        <li class="list-group-item">
                            <i> Nom du projet 2</i>
                        </li>
                        <li class="list-group-item">
                            <i> Nom du projet 3</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
