{% extends "ArchitectureBundle:Benevole:layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div >
                    <div class="row">
                        <h2 class="col-lg-offset-1 col-lg-9">{{ user.nom}} {{ user.prenom}}</h2>
                    </div>

                    <hr>
                    <!--<div class="progress">
                        <div class="progress-bar" style="width: 0%;"></div>
                    </div>-->


                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.email}}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.telFixe}}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.telPortable}}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                BLABLA
                            </div>
                        </dl>

                    </div>
                </div>
            </section>
        </div>

        <h3>Commité(s) de rattachement : </h3>
        <h3>Domaines d'activités : </h3>
        <div class="row">
            <ul class="list-group col-lg-offset-1 col-sm-3 ">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok"></span>  Plaidoyer
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok"></span>  Frimousse
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-remove"></span>  Actions ponctuelles
                </li>
            </ul>

        </div>
        <h3>Projets en cours : </h3>
    </div>

{% endblock %}
