{# version 1.00, date 14/09/2016, auteur Florian Leriche #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}
        <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div >
                    <div class="row">
                        <h2 class="col-lg-offset-1 col-lg-9">{{ benevole.prenom}} {{ benevole.nom}} </h2>
                    </div>
                    <hr>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (benevole.email == "" or benevole.email == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    <a href="mailto:{{ benevole.email}}">{{ benevole.email}}</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (benevole.telFixe == "" or benevole.telFixe == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ benevole.telFixe}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (benevole.telPortable == "" or benevole.telPortable == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ benevole.telPortable}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ benevole.adresse.getAdresse()}},
                                {{ benevole.adresse.getCodePostal()}}
                                {{ benevole.adresse.getVille()}}
                            </div>
                        </dl>

                    </div>
                </div>
                <div class="pull-right">
                    <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier</span> </a>
                </div>

            </section>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Comité(s) de rattachement : </h3>
                <div class="row">
                    for()
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        <li class="list-group-item">
                            Seine-Maritime
                            {{ benevole.comite[0].getNomDepartement() }}
                        </li>
                        <li class="list-group-item">
                            Eure
                        </li>
                    </ul>
                </div>
                <h3>Domaines d'activités : </h3>
                <div class="row">
                    {% if (benevole.activitesPotentielles == "" or benevole.activitesPotentielles == NULL) %}
                        Aucun
                    {% else %}
                        <ul class="list-group col-lg-offset-1 col-sm-7 ">
                            {% if ('plaidoyer' in benevole.activitesPotentielles ) %}
                                <li class="list-group-item">
                                    Plaidoyer
                                </li>
                            {% endif %}
                            {% if ('frimousse' in benevole.activitesPotentielles) %}
                                <li class="list-group-item">
                                    Frimousse
                                </li>
                            {% endif %}
                            {% if ('actions_ponctuelles' in benevole.activitesPotentielles) %}
                                <li class="list-group-item">
                                    Actions ponctuelles
                                </li>
                            {% endif %}
                            {% if ('projets' in benevole.activitesPotentielles) %}
                                <li class="list-group-item">
                                    Projets
                                </li>
                            {% endif %}
                            {% if ('projets' in benevole.activitesPotentielles) %}
                                <li class="list-group-item">
                                    Autre
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Projets en cours : </h3>
                <div class="row">
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        <li class="list-group-item">
                            <i> Nom du projet 1 </i>
                        </li>
                        <li class="list-group-item">
                            <i> Nom du projet 2</i>
                        </li>
                        <li class="list-group-item">
                            <i> Nom du projet 3</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Responsabilités : </h3>
                {% if (benevole.responsabiliteActivite == "" or benevole.responsabiliteActivite == NULL) %}
                    Aucune
                {% else %}
                    <ul class="list-group col-lg-offset-1 col-sm-7 ">
                        {% if ('plaidoyer' in benevole.responsabiliteActivite ) %}
                            <li class="list-group-item">
                                Plaidoyer
                            </li>
                        {% endif %}
                        {% if ('frimousse' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Frimousse
                            </li>
                        {% endif %}
                        {% if ('actions_ponctuelles' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Actions ponctuelles
                            </li>
                        {% endif %}
                        {% if ('projets' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Projets
                            </li>
                        {% endif %}
                        {% if ('projets' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Autre
                            </li>
                        {% endif %}
                        {% if ('admin_comite' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Administrateur du comité
                            </li>
                        {% endif %}
                        {% if ('admin_region' in benevole.responsabiliteActivite) %}
                            <li class="list-group-item">
                                Administrateur de la région
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>


    <a href="{{ path("user_admin_delete", {'username': benevole.username}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier </span> </a>
    <a href="{{ path("user_admin_delete", {'username': benevole.username}) }}" class="btn btn-danger" onclick="return confirm('Souhaitez vous vraiment supprimer l\'utilisateur {{ benevole.username }} ?')"><span class="glyphicon glyphicon-pencil"> Supprimer </span> </a>
{% endblock %}
