{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div class="infoPrincip">
                    <div class="row">
                        <h2 class="col-lg-9 titre" style="margin-top: 40px;">{{ user.nom | upper }} {{ user.prenom | capitalize }}</h2>
                        <img src="{{ asset('img/logo-gris.png') }}" class="logoGris">
                    </div>
                    <hr>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.email == "" or user.email == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    <a href="mailto:{{ user.email}}">{{ user.email}}</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.telFixe == "" or user.telFixe == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telFixe}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.telPortable == "" or user.telPortable == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telPortable}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.adresse.getAdresse() == "" or user.adresse.getAdresse() == "blabla") %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.adresse.getAdresse()}}
                                {% endif %}
                            </div>
                        </dl>

                    </div>
                </div>


            </section>
        </div>
        <div class="row">
            <div class="buttons">
                <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier</span> </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 infoContainer">
                <div class="col-sm-4 containerOne">
                    <div class="circle circleOne">
                        <img src="{{ asset('img/location.png') }}">
                    </div>
                <h3>Commité(s) de rattachement : </h3>
                <div class="row">
                    <ul class="list-group col-lg-offset-1 col-sm-11 ">
                        <li class="list-group-item">
                            Seine-Maritime
                        </li>
                        <li class="list-group-item">
                            Eure
                        </li>
                    </ul>
                </div>
                    </div>
                <div class="col-sm-4 containerTwo">
                    <div class="circle circleTwo">
                        <img src="{{ asset('img/briefcase.png') }}">
                    </div>
                    <h3>Domaines d'activités : </h3>
                    <div class="row">
                        <ul class="list-group col-lg-offset-1 col-sm-11 ">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-ok"></span> &nbsp Plaidoyer
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-ok"></span>  &nbsp Frimousse
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-remove"></span>  &nbsp Actions ponctuelles
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-4 containerThree">
                    <div class="circle circleThree">
                        <img src="{{ asset('img/help.png') }}">
                    </div>
                    <h3>Projets en cours : </h3>
                    <div class="row">
                        <ul class="list-group col-lg-offset-1 col-sm-11">
                            <li class="list-group-item">
                                <i> Nom du projet 1 </i>
                            </li>
                            <li class="list-group-item">
                                <i> Nom du projet 2</i>
                            </li>
                            <li class="list-group-item">
                                <i> Nom du projet 3</i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
