{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "UserBundle::layout.html.twig" %}

{% block title %}

    Profil - {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <section class="jumbotron col-sm-12">
                <div class="infoPrincip">
                    <div class="row">
                        <h2 class="col-lg-9 titre" style="margin-top: 40px;">{{ user.nom | upper }} {{ user.prenom | capitalize }}</h2>
                        <img src="{{ asset('img/logo-gris.png') }}" class="logoGris">
                    </div>
                    <hr>
                    <div class="row">
                        <dl class="dl-horizontal">
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-envelope"></span>  Email :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.email == "" or user.email == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    <a href="mailto:{{ user.email}}">{{ user.email}}</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-phone-alt"></span>  Téléphone fixe :
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.telFixe == "" or user.telFixe == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telFixe}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt>
                                    <span class="glyphicon glyphicon-phone"></span>  Téléphone portable : </dt>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {% if (user.telPortable == "" or user.telPortable == NULL) %}
                                    {{ "Non renseigné" }}
                                {% else %}
                                    {{ user.telPortable}}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <dt >
                                    <span class="glyphicon glyphicon-home"></span>  Adresse :</td>
                                </dt>
                            </div>
                            <div  class="col-sm-9">
                                {{ user.adresse.getAdresse()}},
                                {{ user.adresse.codePostal.code}}
                                {{ user.adresse.ville.nom}}
                            </div>
                        </dl>

                    </div>
                </div>


            </section>
        </div>
        <div class="row">
                <div class="col-sm-offset-4 col-sm-2 buttons">
                    <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Modifier</span> </a>
                </div>
                <div class="col-sm-2 buttons">
                    <a href="{{ path("fos_user_change_password") }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> Changer mot de passe</span> </a>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12 infoContainer">
                <div class="col-sm-4 containerOne">
                    <div class="circle circleOne">
                        <img src="{{ asset('img/location.png') }}">
                    </div>
                <h3>Commité(s) de rattachement : </h3>
                <div class="row">
                    {% if user.comite is not empty %}
                        <ul class="list-group col-lg-offset-1 col-sm-7 ">
                            {% for comite in user.comite %}
                                <li class="list-group-item">
                                    {% for dep in comite.departement %}
                                    <li> {{ dep.nom }} </li>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="col-lg-offset-1 col-sm-7">
                            Aucun
                        </div>
                    {% endif %}
                </div>
                    </div>
                <div class="col-sm-4 containerTwo">
                    <div class="circle circleTwo">
                        <img src="{{ asset('img/briefcase.png') }}">
                    </div>
                    <h3>Domaines d'activités : </h3>
                    <div class="row">
                        {% if (user.activitesPotentielles == "" or user.activitesPotentielles == NULL) %}
                            <div class="col-lg-offset-1 col-sm-7">
                                Aucun
                            </div>
                        {% else %}
                            <ul class="list-group col-lg-offset-1 col-sm-7 ">
                                {% if ('plaidoyer' in user.activitesPotentielles ) %}
                                    <li class="list-group-item">
                                        Plaidoyer
                                    </li>
                                {% endif %}
                                {% if ('frimousse' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Frimousse
                                    </li>
                                {% endif %}
                                {% if ('actions_ponctuelles' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Actions ponctuelles
                                    </li>
                                {% endif %}
                                {% if ('projets' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Projets
                                    </li>
                                {% endif %}
                                {% if ('projets' in user.activitesPotentielles) %}
                                    <li class="list-group-item">
                                        Autre
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4 containerThree">
                    <div class="circle circleThree">
                        <img src="{{ asset('img/help.png') }}">
                    </div>
                    <h3>Projets en cours : </h3>
                    <div class="row">
                        {% if user.projet is not empty %}
                        <ul class="list-group col-lg-offset-1 col-sm-7 ">
                            {% for projet in user.projet %}
                                <li class="list-group-item">
                                    {{ projet.nom }}
                                </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <div class="col-lg-offset-1 col-sm-7">
                                Aucun
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
