{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Mailing - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    #mailing_ville, #mailing_codePostal {
    text-transform: uppercase;
    }
    .twitter-typeahead .tt-query,
    .twitter-typeahead .tt-hint {
    margin-bottom: 0;
    }
    .tt-hint {
        display: none;
        width: 100%;
        height: 43px;
        padding: 10px 18px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #999;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .tt-menu {
        min-width: 160px;
        margin-top: 2px;
        padding: 5px 0;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        max-height: 150px;
        overflow-y: auto;
        font-size: 14px !important;
        font-family:"Open Sans", sans-serif !important;
        font-weight: 400;
    }
    .tt-suggestion {
        display: block;
        padding: 3px 20px;
    }
    .tt-suggestion.tt-is-under-cursor {
        color: #fff;
        background-color: #428bca;
    }
    .tt-suggestion.tt-is-under-cursor a {
        color: #fff;
    }
    .tt-suggestion p {
        margin: 0;
    }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('vendor/typeahead.js/dist/typeahead.jquery.js') }}"></script>
<script src="{{ asset('vendor/typeahead.js/dist/bloodhound.js') }}"></script>
<script>
    var villes = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
        remote: {
            url: '{{ path("architecture_ville_autocomplete") }}?term=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#mailing_ville').typeahead(null, {
        name: 'villes',
        source: villes,
        limit: 50
    });

    var codesPostaux = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        {#//prefetch: '{{ path("architecture_ville_autocomplete") }}',#}
        remote: {
            url: '{{ path("architecture_code_autocomplete") }}?term=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#mailing_codePostal').typeahead(null, {
        name: 'codesPostaux',
        source: codesPostaux,
        limit: 5
    });


    $('#mailing_ville').change(function () {
        var ville = $(mailing_ville).val().toUpperCase();
        $('#mailing_codePostal').val("");
        $.post("{{ path('architecture_code_postal') }}", {'ville': ville},
                function (data, status) {
                    $('#mailing_codePostal').val(data.codePostal);
                });
    });

    $('#mailing_codePostal').change(function () {
        var codePostal = $(mailing_codePostal).val();
        $('#mailing_ville').val("");
        $.post("{{ path('architecture_ville') }}", {'codePostal': codePostal},
                function (data, status) {
                    $('#mailing_ville').val(data.ville);
                });
    });

    $('#mailing_typeInstitute_0').on('click', function () {
        if ($(this).is(':checked')) {
            var i = 1;
            $('#mailing_typeInstitute').children().each(function () {
                $('#mailing_typeInstitute_' + i).prop('checked',true);
                i++;
            });
        }
    });

    $('#mailing_typeCenter_0').on('click', function () {
        if ($(this).is(':checked')) {
            var i = 1;
            $('#mailing_typeCenter').children().each(function () {
                $('#mailing_typeCenter_' + i).prop('checked',true);
                i++;
            });
        }
    });

    $('#mailing_typeAutre_0').on('click', function () {
        if ($(this).is(':checked')) {
            var i = 1;
            $('#mailing_typeAutre').children().each(function () {
                $('#mailing_typeAutre_' + i).prop('checked',true);
                i++;
            });
        }
    });

    for (var i=1; i<6; i++) {
        $('#mailing_typeInstitute_' + i).on('click', function () {
            if ($(this).not(':checked')) {
                $('#mailing_typeInstitute_0').prop('checked', false);
            }
        });
        $('#mailing_typeCenter_' + i).on('click', function () {
            if ($(this).not(':checked')) {
                $('#mailing_typeCenter_0').prop('checked', false);
            }
        });
        $('#mailing_typeAutre_' + i).on('click', function () {
            if ($(this).not(':checked')) {
                $('#mailing_typeAutre_0').prop('checked', false);
            }
        });
    }

    $(document).ready(function () {

        if ($('#mailing_dansVilleOuParDistance_placeholder').is(':checked')) {
            $('#mailing_ville').parent().parent().parent().hide();
            $('#mailing_distance').parent().parent().hide();
            $('#mailing_ville').val('');
            $('#mailing_distance').val('');
        }
        else if ($('#mailing_dansVilleOuParDistance_0').is(':checked')) {
            $('#mailing_ville').parent().parent().parent().show();
            $('#mailing_distance').parent().parent().hide();
            $('#mailing_distance').val('');
        }
        else {
            $('#mailing_ville').parent().parent().parent().show();
            $('#mailing_distance').parent().parent().show();
        }

        $('#mailing_dansVilleOuParDistance_placeholder').click(function() {
            if($('#mailing_dansVilleOuParDistance_placeholder').is(':checked')) {
                $('#mailing_ville').parent().parent().parent().hide();
                $('#mailing_distance').parent().parent().hide();
                $('#mailing_ville').val('');
                $('#mailing_distance').val('');
            }
        });

        $('#mailing_dansVilleOuParDistance_0').click(function() {
            if($('#mailing_dansVilleOuParDistance_0').is(':checked')) {
                $('#mailing_ville').parent().parent().parent().show();
                $('#mailing_distance').parent().parent().hide();
                $('#mailing_ville').val('');
                $('#mailing_distance').val('');
            }
        });

        $('#mailing_dansVilleOuParDistance_1').click(function() {
            if($('#mailing_dansVilleOuParDistance_1').is(':checked')) {
                $('#mailing_ville').parent().parent().parent().show();
                $('#mailing_distance').parent().parent().show();
                $('#mailing_ville').val('');
            }
        });
    });

    $(':submit').on('click', function (e) {
        e.preventDefault();
        if ($('#mailing_dansVilleOuParDistance_1').is(':checked')) {
            var ville = $('#mailing_ville').val();
            var geolocalisation = '';
            //Match numéro département avec nom ?
            $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q='+ville, function (dataVille) {
                console.log("length: " + dataVille.length);
                if (dataVille.length > 0) {
                    geolocalisation = 'SRID=4326;POINT(' + dataVille[0]['lon'] + ' ' + dataVille[0]['lat'] + ')';
                    $("#mailing_geolocalisation").val(geolocalisation);
                    $(".etablissements_mailing").submit();
                }
                else {
                    //Que fait-on si 0 match ?
                }
            });
        }
        else {
            $(".etablissements_mailing").submit();
        }
    });
</script>
{% endblock %}

{% block body %}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';
        h1{
            font-family: 'Ubuntu Condensed', sans-serif;
            margin-top: 40px;
        }

        div{
            box-shadow: none !important;
        }

        input[type="text"], select{
            width: 350px !important;
        }
        input:focus, select:focus{
            outline: none !important;
            box-shadow: none !important;
            border-color: #CCCCCC !important;
        }

        .btn-default{
            border-radius: 10px !important;
            background-color: #3fb618 !important;
            border-color: #3fb618 !important;
        }

        hr{
            margin-top: 0px;
        }


        .btn-primary{
            margin-left: 30%;
        }


        label{
            font-size: 16px !important;
            font-family: "Open Sans", sans-serif;
        }


    </style>
    <h1>Mailing<h1>
    <hr>
    <div class='well'>

        {{ form_start(form, {'method': 'post', 'action': path('etablissements_mailing'), 'attr': {'class': 'etablissements_mailing'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Envoyer" class="btn btn-primary"  style="margin-top: 60px; margin-bottom: 20px;"/>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}