{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><em class="glyphicon glyphicon-user"></em> &nbsp {{  app.user.username  }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Modifier mot de passe</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion <em class="glyphicon glyphicon-log-out"></em></a></li>
            </ul>
        </li>
    </ul>

    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{{ path('architecture_homepage') }}">Connexion</a>
        </li>
    </ul>
    {% endif %}


