{# version 1.00, date 13/05/2016, auteur Matthieu Martins-Baltar #}
{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $.fn.pageMe = function (opts) {


            var $this = this,
                    defaults = {
                        perPage: 7,
                        showPrevNext: false,
                        hidePageNumbers: false
                    },
                    settings = $.extend(defaults, opts);
            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');
            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }
            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext)
                $('<li><a href="#" class="premiere_link">Première</a></li>').appendTo(pager);
            if (settings.showPrevNext)
                $('<li><a href="#" class="prev_link"><</a></li>').appendTo(pager);

            var curr = 0;

            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext)
                $('<li><a href="#" class="next_link">></a></li>').appendTo(pager);
            if (settings.showPrevNext)
                $('<li><a href="#" class="derniere_link">Dernière</a></li>').appendTo(pager);

            goTo(1);
            pager.find('.prev_link').hide();
            pager.find('.premiere_link').hide();


            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }

            if(numPages<=5){
                pager.find('.derniere_link').hide();
            }

            children.hide();
            children.slice(0, perPage).show();


            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });

            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });

            pager.find('li .premiere_link').click(function () {
                goTo(0);
                return false;
            });

            pager.find('li .derniere_link').click(function () {
                goTo(numPages-1);
                return false;
            });

            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function hideTout(){
                var pagesLinks = document.getElementsByClassName("page_link");
                for(i=0; i<numPages; i++){
                    pagesLinks[i].style.display="none";
                }
            }

            function goTo(page) {

                var pageTest = page+1;
                console.log(pageTest);

                var pagesLinks = document.getElementsByClassName("page_link");

                var startAt = page * perPage,
                        endOn = startAt + perPage;

                //Tiene al menos 2 elementos antes de él
                if(pageTest-2>0){
                    //Tiene al menos 2 elementos delante de él
                    if(pageTest+2<=(numPages)){
                        hideTout();
                        (pagesLinks[(pageTest-3)]).style.display="inline";
                        (pagesLinks[(pageTest-2)]).style.display="inline";
                        (pagesLinks[(pageTest)-1]).style.display="inline";
                        (pagesLinks[(pageTest)]).style.display="inline";
                        (pagesLinks[(pageTest+1)]).style.display="inline";
                    }
                    //Es el ultimo o anteultimo elemento (No tiene 2 elementos delante de él)
                    else{
                        //Es el ultimo
                        if(pageTest==numPages){
                                var i = pageTest-4;
                                if(i<=0){
                                    i=1;
                                }
                                hideTout();
                                while(i<=pageTest){
                                    (pagesLinks[i-1]).style.display="inline";
                                    i++;
                                }
                        }
                        //es el anteultimo
                        else{
                            var i = pageTest-3;
                            if(i<=0){
                                i=1;
                            }
                            hideTout();
                            while(i<=pageTest){
                                pagesLinks[i-1].style.display="inline";
                                i++;
                            }
                        }
                    }
                }
                //Es el primer o segundo elemento
                else{
                    var i = 1;
                    hideTout();
                    while(i<=numPages && i<=5){
                        pagesLinks[i-1].style.display="inline";
                        i++;
                    }
                }

                children.css('display', 'none').slice(startAt, endOn).show();
                if (page >= 1){
                    pager.find('.premiere_link').show();
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                    pager.find('.premiere_link').hide();
                }
                if (page < (numPages - 1)){
                    pager.find('.next_link').show();
                    pager.find('.derniere_link').show();
                }
                else{
                    pager.find('.next_link').hide();
                    pager.find('.derniere_link').hide();
                }
                pager.data("curr", page);
            }
        };




    </script>

{% endblock %}

{% block title %}
    Unicef
{% endblock %}


{% block brand %}
    <img style="max-height: 100%" src="{{ asset("img/unicef-logo-blanche.jpg") }}" alt="Unicef Logo"/>
{% endblock %}


{% block body %}
    <h2>Hello world!</h2>
    <p>
        Bonjour le monde!
    </p>
{% endblock %}


{% block navbarButtons %}
    <ul class="nav navbar-nav ">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path('architecture_homepage') }}">Accueil{#<span class="sr-only">(page courante)</span>#}</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Établissements<span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('etablissement_list') }}">Liste</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('etablissement_admin_add') }}" class="bg-danger"><em
                                        class="glyphicon glyphicon-alert"></em> Ajouter</a></li>
                    {% endif %}
                    <li><a href="{{ path('etablissements_mailing') }}">Mailing</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Interventions<span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('intervention_list') }}">Liste</a></li>
                    <li><a href="{{ path('intervention_attributed') }}">Mes interventions</a></li>
                    <li><a href="{{ path('fos_user_planning_show') }}">Mon planning</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bénévoles<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('user_admin_list') }}" class="bg-danger"><em
                                        class="glyphicon glyphicon-alert"></em> Liste</a></li>
                        <li><a href="{{ path('fos_user_admin_register') }}" class="bg-danger"><em
                                        class="glyphicon glyphicon-alert"></em> Ajouter</a></li>
                    </ul>
                </li>
            {% endif %}
        {% endif %}
        {% include "ArchitectureBundle::boutonDeConnexion.html.twig" %}
        <ul class="nav navbar-right navbar-nav ">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown" style="background-color:red;" >
                    <a style="background-color:red;"><em class="glyphicon glyphicon-alert"></em> Espace Admin</a>
                </li>
            {% endif %}
        </ul>
    </ul>
{% endblock %}
