{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Liste des volontaires :</h2>

    {% for volunteer in volunteers %}
        <div>
            <ul>
                <li>Nom : {{ volunteer.nom }}</li>
                <li>Prenom : {{ volunteer.prenom }}</li>
                <li>Email : {{ volunteer.email }}</li>
                <li>Téléphone Fixe : {{ volunteer.telFixe }}</li>
                <li>Téléphone Portable: {{ volunteer.telPortable }}</li>
            </ul>
        </div>
    {% endfor %}


{% endblock %}