{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('vendor/jq/jqPlugin.js') }}"></script>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function () {
            drawChart(0);
            drawVisualization();
            drawThemes(0);
            drawNiveaux(0);
        });

        var interventions = {{ interventions|raw }};
        interventions.forEach(function (value, i) {
            $('#selectYears').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i + 1) + '/' + (new Date().getFullYear() - i)
            }));
        });
        $('#selectYears').change(function () {
            drawChart($('#selectYears').val());
        });

        var themes = {{ themes|raw }};
        themes.forEach(function (value, i) {
            $('#selectYearsThemes').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i + 1) + '/' + (new Date().getFullYear() - i)
            }));
        });
        $('#selectYearsThemes').change(function () {
            drawThemes($('#selectYearsThemes').val());
        });

        var niveaux = {{ niveaux|raw }};
        niveaux.forEach(function (value, i) {
            $('#selectYearsNiveaux').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i + 1) + '/' + (new Date().getFullYear() - i)
            }));
        });
        $('#selectYearsNiveaux').change(function () {
            drawNiveaux($('#selectYearsNiveaux').val());
        });

        var topEtablissements = {{ topEtablissements|raw }};
        for(i=0; i<topEtablissements.length; i++){
            var id = topEtablissements[i]['etabId'];
            console.log(id);
            var html = "<p style='margin-top: 10px;'><span class='index'>"+ (i+1) +"</span>"+topEtablissements[i]['etabNom']+"<span style='float:right;'>"+topEtablissements[i]['count1']+" Interventions</span></p>";
            $("#topTen").append(html);
        }

        // Callback pour créer le diagramme, l'instancier et le dessiner.
        function drawChart(index) {

            {#interventions = {{ interventions|raw }};#}
            // Création de la datatable pour populer le diagramme.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Intervention');
            data.addColumn('number', 'Nombre');
            data.addRows([
                ['Plaidoyer', parseInt(interventions[index]['plaidoyers'])],
                ['Frimousse', parseInt(interventions[index]['frimousses'])],
                ['Autre', parseInt(interventions[index]['autres'])]
            ]);

            // Options du diagramme.
            var currentDate = new Date();
            var options = {
                'width':600,
                'height':300,
                'is3D': true,
                'animation':{
                    duration: 2000,
                    easing: 'out',
                    startup: true
                }
            };

            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons).


            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons)
            if(parseInt(interventions[index]['plaidoyers']) == 0 && parseInt(interventions[index]['frimousses'])==0 && parseInt(interventions[index]['autres'])==0){
                $("#chart_intervention").html("<h4 style='text-align: center'>Il n'y a pas de données disponibles</h4>");
            }else{
                var chart = new google.visualization.PieChart(document.getElementById('chart_intervention'));
                chart.draw(data, options);
            }
        }

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var currentDate = new Date().getFullYear();
            var data = google.visualization.arrayToDataTable([
                ['Années scolaires', 'Plaidoyers', 'Frimousses', 'Autres'],
                ['dummy', 0, 0, 0]
            ]);

            interventions.forEach(function (value, i) {
                data.addRow(['' + (currentDate - i + 1) + '/' + (currentDate - i), parseInt(value['plaidoyers']), parseInt(value['frimousses']), parseInt(value['autres'])]);
                if(data.getFormattedValue(0,0) == 'dummy')
                    data.removeRow(0);
            });

            var options = {
                vAxis: {title: "Nombre d'intervention"},
                hAxis: {title: 'Année scolaire'},
                seriesType: 'bars',
                series: {5: {type: 'line'}},
                'animation':{
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_intervention_years'));
            chart.draw(data, options);
        }

        function drawThemes(index) {

            var data = google.visualization.arrayToDataTable([
                ['Element', 'Nombre de plaidoyers', { role: 'style' }],
                ['Convention internationale des droits de l\'enfant', parseInt(themes[index]['convention internationale des droits de l enfant']), 'silver'],
                ['Education', parseInt(themes[index]['education']), 'silver'],
                ['Santé en générale', parseInt(themes[index]['sante en generale']), 'silver'],
                ['Santé et alimentation', parseInt(themes[index]['sante et alimentation']), 'silver'],
                ['VIH et sida', parseInt(themes[index]['VIH et sida']), 'silver'],
                ['Eau', parseInt(themes[index]['eau']), 'silver'],
                ['Urgences mondiales', parseInt(themes[index]['urgences mondiales']), 'silver'],
                ['Travail des enfants', parseInt(themes[index]['travail des enfants']), 'silver'],
                ['Enfants soldats', parseInt(themes[index]['enfants et soldats']), 'silver'],
                ['harcelement', parseInt(themes[index]['harcelement']), 'silver'],
                ['Rôle de l\'unicef', parseInt(themes[index]['role unicef']), 'silver'],
                ['Millénaire pour le développement', parseInt(themes[index]['millenaire dev']), 'silver'],
                ['Discrimination', parseInt(themes[index]['discrimination']), 'silver']
            ]);

            var options = {
                colors: ['silver', 'silver'],
                hAxis: {
                    title: 'Thèmes',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                },
                vAxis: {
                    title: 'Nombre de plaidoyers'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_intervention_themes'));
            chart.draw(data, options);
        }

        function drawNiveaux(index) {

            var data = google.visualization.arrayToDataTable([
                ['Element', 'Nombre d\'actions éducatives', { role: 'style' }],
                ['Maternelle', parseInt(niveaux[index]['maternelle']), 'silver'],
                ['Elémentaire', parseInt(niveaux[index]['elementaire']), 'silver'],
                ['College', parseInt(niveaux[index]['college']), 'silver'],
                ['Lycée', parseInt(niveaux[index]['lycee']), 'silver'],
                ['Supérieur', parseInt(niveaux[index]['superieur']), 'silver']
            ]);

            var options = {
                colors: ['silver', 'silver'],
                hAxis: {
                    title: 'Type d\'enseignement',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                },
                vAxis: {
                    title: 'Nombre de plaidoyers'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_intervention_niveaux'));
            chart.draw(data, options);
        }

    </script>
{% endblock %}

{% block body%}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';
        #chart_intervention, .topTen{
            max-width: 500px;
            margin: auto;
            margin-bottom: 100px;
        }
        #chart_intervention_years{
            max-width: 900px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 100px;
        }
        #chart_intervention_themes{
            max-width: 1100px;
            min-height: 400px;
            margin: auto;
            margin-bottom: 100px;
        }
        #chart_intervention_niveaux{
            max-width: 1100px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 100px;
        }
        h1{
            margin-top: 50px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        h4{
            margin-top: 30px;
            margin-left: 20px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        select{
            display: block;
            margin: auto;
        }
        section{
            width: 650px !important;
            margin: auto;
        }
        .index{
            width: 25px;
            height: 25px;
            background-color: #333;
            color: #fff;
            display: inline-block;
            border-radius: 20px;
            text-align: center;
            font-weight: bold;
            padding-top: 1px;
            margin-right: 15px;
        }
    </style>
    <h1>Statistiques</h1><hr>
    <h4>Nombre d'intervention(s) réalisée(s) durant année</h4>
    <select id="selectYears"></select>
    <div id="chart_intervention"></div>

    <h4>Intervention(s) réalisée(s) par année scolaire</h4>
    <div id="chart_intervention_years"></div>

    <h4>Nombre de plaidoyers réalisés par thème</h4>
    <select id="selectYearsThemes"></select>
    <div id="chart_intervention_themes"></div>

    <h4>Nombre de plaidoyers réalisés par niveau scolaire</h4>
    <select id="selectYearsNiveaux"></select>
    <div id="chart_intervention_niveaux"></div>

    <h4>Ranking d'Établissements par nombre d'Interventions réalisées</h4>
    <div class="topTen">
        <section class="accueilSq gauche" id="topTen">
            <img src="{{ asset('img/logo-gris.png') }}" alt="logo" class="logoGauche">

        </section>
    </div>
{% endblock %}