{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var ventesYear = {{ ventesYear|raw }};
        var ventesMonths = {{ ventesMonth|raw }};
        var caYear = {{ caYear|raw }};
        var caMonths = {{ caMonth|raw }};

        ventesYear.forEach(function (value, i) {
            $('#selectYears').append($('<option>', {
                value: i,
                text: (new Date().getFullYear() - ventesYear.length + i + 1) + '/' + (new Date().getFullYear() - ventesYear.length + i + 2)
            }));
        });

        $('#selectYears').val(ventesYear.length-1);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function () {
            drawChartOneYear(ventesYear.length-1);
            drawChartCAOneYear(ventesYear.length-1);
            drawChartAllYears();
            drawChartCAAllYears();
        });

        $('#selectYears').change(function () {
            drawChartOneYear(parseInt($('#selectYears').val()));
            drawChartCAOneYear(parseInt($('#selectYears').val()));
        });

        function drawChartOneYear(index) {
            // Création de la datatable pour populer le diagramme.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vente');
            data.addColumn('number', 'Nombre');
            var months = ['Septembre', 'Octobre', 'Novembre', 'Décembre', 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août'];
            for (var i=0; i<ventesMonths[index].length; i++) {
                data.addRow([months[i], parseInt(ventesMonths[index][i])]);
            }

            // Options du diagramme.
            var currentDate = new Date();
            var options = {
                vAxis: {title: "Nombre de ventes"},
                hAxis: {title: 'Mois'},
                seriesType: 'bars',
                animation:{
                    duration: 2000,
                    easing: 'out',
                    startup: true
                }
            };

            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons).
            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente'));
            chart.draw(data, options);
        }

        function drawChartCAOneYear(index) {
            // Création de la datatable pour populer le diagramme.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vente');
            data.addColumn('number', "Chiffre d'affaires");
            var months = ['Septembre', 'Octobre', 'Novembre', 'Décembre', 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août'];
            for (var i=0; i<ventesMonths[index].length; i++) {
                var chiffreDAffaire = 0;
                caMonths[index][i].forEach(function (value) {
                    chiffreDAffaire += value["chiffreAffaire"];
                });
                data.addRow([months[i], chiffreDAffaire]);
            }

            // Options du diagramme.
            var currentDate = new Date();
            var options = {
                vAxis: {title: "Chiffre d'affaires"},
                hAxis: {title: 'Mois'},
                seriesType: 'bars',
                animation:{
                    duration: 2000,
                    easing: 'out',
                    startup: true
                }
            };

            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons).
            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente_CA'));
            chart.draw(data, options);
        }

        function drawChartAllYears() {
            // Some raw data (not necessarily accurate)
            var currentDate = new Date().getFullYear() + 1;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vente');
            data.addColumn('number', 'Nombre');

            ventesYear.forEach(function (value, i) {
                data.addRow(['' + (currentDate - ventesYear.length + i) + '/' + (currentDate - ventesYear.length + i + 1), parseInt(ventesYear[i])]);
            });

            var options = {
                vAxis: {title: "Nombre de ventes"},
                hAxis: {title: 'Année scolaire'},
                seriesType: 'bars',
                animation:{
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente_years'));
            chart.draw(data, options);
        }

        function drawChartCAAllYears() {
            // Some raw data (not necessarily accurate)
            var currentDate = new Date().getFullYear() + 1;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vente');
            data.addColumn('number', "Chiffre d'affaires");

            ventesYear.forEach(function (value, i) {
                var chiffreDAffaire = 0;
                caYear[i].forEach(function (value) {
                    chiffreDAffaire += value["chiffreAffaire"];
                });
                data.addRow(['' + (currentDate - ventesYear.length + i) + '/' + (currentDate - ventesYear.length + i + 1), chiffreDAffaire]);
            });

            var options = {
                vAxis: {title: "Chiffre d'affaires"},
                hAxis: {title: 'Année scolaire'},
                seriesType: 'bars',
                width: ventesYear.length*200,
                height: 300,
                animation:{
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_vente_years_CA'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';
        h1{
            margin-top: 50px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        h4{
            margin-top: 30px;
            margin-left: 20px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        select{
            display: block;
            margin: auto;
        }
        #chart_vente, #chart_vente_CA{
            max-width: 1100px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 40px;
        }
        #chart_vente_years, #chart_vente_years_CA{
            max-width: 600px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 40px;
        }
        .btn{
            display: block;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body%}
    <h1>Statistiques sur les ventes</h1>
    <hr>
    <h4>Nombre de vente(s)/don(s) réalisé(es) sur une année scolaire </h4>
    <select id="selectYears"></select>
    <div id="chart_vente"></div>
    <h4>Chiffre d'affaires sur une année scolaire </h4>
    <div id="chart_vente_CA"></div>
    <h4>Nombre de vente(s)/don(s) réalisé(es) par année scolaire </h4>
    <div id="chart_vente_years"></div>
    <h4>Chiffre d'affaires par année scolaire </h4>
    <div id="chart_vente_years_CA"></div>

    <button type="button" class="btn btn-primary" onclick="window.print();"> Imprimer </button>
{% endblock %}

{#https://developers.google.com/chart/interactive/docs/gallery#}