{% extends "ArchitectureBundle::layoutArchitecture.html.twig" %}

{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('vendor/jq/jqPlugin.js') }}"></script>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function () {
            drawChart(0);
            drawVisualization();
            drawThemes(0);
            drawNiveaux(0);
        });

        var interventions = {{ interventions|raw }};
        interventions.forEach(function (value, i) {
            $('#selectYears').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i) + '/' + (new Date().getFullYear() - i + 1)
            }));
        });
        $('#selectYears').change(function () {
            drawChart($('#selectYears').val());
        });

        var themes = {{ themes|raw }};
        themes.forEach(function (value, i) {
            $('#selectYearsThemes').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i) + '/' + (new Date().getFullYear() - i + 1)
            }));
        });


        $('#selectYearsThemes').change(function () {
            drawThemes($('#selectYearsThemes').val());
        });

        var niveaux = {{ niveaux|raw }};
        niveaux.forEach(function (value, i) {
            $('#selectYearsNiveaux').append($('<option>', {
                value: i,
                text: '' + (new Date().getFullYear() - i) + '/' + (new Date().getFullYear() - i + 1)
            }));
        });
        $('#selectYearsNiveaux').change(function () {
            drawNiveaux($('#selectYearsNiveaux').val());
        });

        var topEtablissements = {{ topEtablissements|raw }};
        for(i=0; i<topEtablissements.length; i++){
            var html = "<p style='margin-top: 10px;'><span class='index'>"+ (i+1) +"</span>"+topEtablissements[i]['etabNom']+"<span style='float:right;'>"+topEtablissements[i]['count1']+" Interventions</span></p>";
            $("#topTen").append(html);
        }


        var eleves = {{ eleves|raw }};
        var eleves1 = '{{ eleves|slice(0, 1)|raw }}';
        var eleves2 = '{{ eleves|slice(1, 1)|raw }}';
        var eleves3 = '{{ eleves|slice(2, 1)|raw }}';
        for(i=0; i<eleves1.length; i++){
            var html = "<p style='margin-top: 10px;'><span class='index'>"+ (i+1) +"</span></p>";
            $("#tableaux").append(html);
        }

        // Callback pour créer le diagramme, l'instancier et le dessiner.
        function drawChart(index) {

            {#interventions = {{ interventions|raw }};#}
            // Création de la datatable pour populer le diagramme.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Intervention');
            data.addColumn('number', 'Nombre');
            data.addRows([
                ['Plaidoyer', parseInt(interventions[index]['plaidoyers'])],
                ['Frimousse', parseInt(interventions[index]['frimousses'])],
                ['Autre', parseInt(interventions[index]['autres'])]
            ]);

            // Options du diagramme.
            var currentDate = new Date();
            var options = {
                'width':600,
                'height':300,
                'is3D': true,
                'animation':{
                    duration: 2000,
                    easing: 'out',
                    startup: true
                }
            };

            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons).


            // Instancier et dessiner le diagramme (remplacer PieChart par BarChart pour avoir un diagramme bâtons)
            if(parseInt(interventions[index]['plaidoyers']) == 0 && parseInt(interventions[index]['frimousses'])==0 && parseInt(interventions[index]['autres'])==0){
                $("#chart_intervention").html("<h4 style='text-align: center'>Il n'y a pas de données disponibles</h4>");
            }else{
                var chart = new google.visualization.PieChart(document.getElementById('chart_intervention'));
                chart.draw(data, options);
            }
        }

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var currentDate = new Date().getFullYear();
            var data = google.visualization.arrayToDataTable([
                ['Années scolaires', 'Plaidoyers', 'Frimousses', 'Autres'],
                ['dummy', 0, 0, 0]
            ]);

            interventions.forEach(function (value, i) {
                data.addRow(['' + (currentDate - i + 1) + '/' + (currentDate - i), parseInt(value['plaidoyers']), parseInt(value['frimousses']), parseInt(value['autres'])]);
                if(data.getFormattedValue(0,0) == 'dummy')
                    data.removeRow(0);
            });

            var options = {
                vAxis: {title: "Nombre d'intervention"},
                hAxis: {title: 'Année scolaire'},
                seriesType: 'bars',
                series: {5: {type: 'line'}},
                'animation':{
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_intervention_years'));
            chart.draw(data, options);
        }

        function drawThemes(index) {

            var data = google.visualization.arrayToDataTable([
                ['Element', 'Nombre de plaidoyers', { role: 'style' }],
                ['Convention internationale des droits de l\'enfant', parseInt(themes[index]['convention internationale des droits de l enfant']), 'silver'],
                ['Education', parseInt(themes[index]['education']), 'silver'],
                ['Santé en générale', parseInt(themes[index]['sante en generale']), 'silver'],
                ['Santé et alimentation', parseInt(themes[index]['sante et alimentation']), 'silver'],
                ['VIH et sida', parseInt(themes[index]['VIH et sida']), 'silver'],
                ['Eau', parseInt(themes[index]['eau']), 'silver'],
                ['Urgences mondiales', parseInt(themes[index]['urgences mondiales']), 'silver'],
                ['Travail des enfants', parseInt(themes[index]['travail des enfants']), 'silver'],
                ['Enfants soldats', parseInt(themes[index]['enfants et soldats']), 'silver'],
                ['harcelement', parseInt(themes[index]['harcelement']), 'silver'],
                ['Rôle de l\'unicef', parseInt(themes[index]['role unicef']), 'silver'],
                ['Millénaire pour le développement', parseInt(themes[index]['millenaire dev']), 'silver'],
                ['Discrimination', parseInt(themes[index]['discrimination']), 'silver']
            ]);

            var options = {
                colors: ['silver', 'silver'],
                hAxis: {
                    title: 'Thèmes',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                },
                vAxis: {
                    title: 'Nombre de plaidoyers'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_intervention_themes'));
            chart.draw(data, options);
        }

        function drawNiveaux(index) {

            var data = google.visualization.arrayToDataTable([
                ['Element', 'Nombre d\'actions éducatives', { role: 'style' }],
                ['Maternelle', parseInt(niveaux[index]['maternelle']), 'silver'],
                ['Elémentaire', parseInt(niveaux[index]['elementaire']), 'silver'],
                ['College', parseInt(niveaux[index]['college']), 'silver'],
                ['Lycée', parseInt(niveaux[index]['lycee']), 'silver'],
                ['Supérieur', parseInt(niveaux[index]['superieur']), 'silver']
            ]);

            var options = {
                colors: ['silver', 'silver'],
                hAxis: {
                    title: 'Type d\'enseignement',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                },
                vAxis: {
                    title: 'Nombre de plaidoyers'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_intervention_niveaux'));
            chart.draw(data, options);
        }
        $(document).ready(function(){
            var currentYear = new Date().getFullYear();

            changeTableau1(1);
            changeTableau2(1);

            html = "<select id='select1'>";
            html+="<option value='"+ currentYear +"/" + (currentYear+1) + "'>"+ (currentYear) +"/" + (currentYear+1) + "</option>";
            html+="<option value='"+ (currentYear-1) +"/" + (currentYear) + "'>"+ (currentYear-1) +"/" + currentYear + "</option>";
            html+="<option value='"+ (currentYear-2) +"/" + (currentYear-1) + "'>"+ (currentYear-2) +"/" + (currentYear-1) + "</option>";
            html+="</select>";
            $("#tableauxSelect").append(html);

            html = "<select id='select2'>";
            html+="<option value='"+ (currentYear) +"/" + (currentYear+1) + "'>"+ (currentYear) +"/" + (currentYear+1) + "</option>";
            html+="<option value='"+ (currentYear-1) +"/" + currentYear + "'>"+ (currentYear-1) +"/" + currentYear + "</option>";
            html+="<option value='"+ (currentYear-2) +"/" + (currentYear-1) + "'>"+ (currentYear-2) +"/" + (currentYear-1) + "</option>";
            html+="</select>";
            $("#tableaux2Select").append(html);


            $("#select1").change(function(){
                var selected = $('#select1').find(":selected").text();
                if(selected == (""+(currentYear) + "/" + (currentYear+1))){
                    changeTableau1(1);
                }else if(selected==""+(currentYear-1) + "/" + currentYear){
                    changeTableau1(2);
                }else{
                    changeTableau1(3);
                }
            });

            $("#select2").change(function(){
                var selected = $('#select2').find(":selected").text();
                if(selected == (""+(currentYear) + "/" + (currentYear+1))){
                    changeTableau2(1);
                }else if(selected==""+(currentYear-1) + "/" + currentYear){
                    changeTableau2(2);
                }else{
                    changeTableau2(3);
                }
            });

            function changeTableau1(annee){
                var html = "<table class='table table-striped'><thead><tr><td></td><td>Maternelles</td><td>Primaires</td><td>Collèges</td><td>Lycées</td><td> Bac +</td></tr></thead><tbody>";
                var themesNiveaux = {{ themesNiveaux|raw }};
                    var themes1 = themesNiveaux[annee-1];
                    html += "<tr><td>Education</td><td>"
                            + themes1['education']['maternelle'] +"</td><td>"
                            + themes1['education']['elementaire'] +"</td><td>"
                            + themes1['education']['college'] +"</td><td>"
                            + themes1['education']['lycee'] +"</td><td>"
                            + themes1['education']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Travail des enfants</td><td>"
                            + themes1['travail des enfants']['maternelle'] +"</td><td>"
                            + themes1['travail des enfants']['elementaire'] +"</td><td>"
                            + themes1['travail des enfants']['college'] +"</td><td>"
                            + themes1['travail des enfants']['lycee'] +"</td><td>"
                            + themes1['travail des enfants']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Santé et Alimentation</td><td>"
                            + themes1['sante et alimentation']['maternelle'] +"</td><td>"
                            + themes1['sante et alimentation']['elementaire'] +"</td><td>"
                            + themes1['sante et alimentation']['college'] +"</td><td>"
                            + themes1['sante et alimentation']['lycee'] +"</td><td>"
                            + themes1['sante et alimentation']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>VIH / Sida</td><td>"
                            + themes1['VIH et sida']['maternelle'] +"</td><td>"
                            + themes1['VIH et sida']['elementaire'] +"</td><td>"
                            + themes1['VIH et sida']['college'] +"</td><td>"
                            + themes1['VIH et sida']['lycee'] +"</td><td>"
                            + themes1['VIH et sida']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Santé en général</td><td>"
                            + themes1['sante en generale']['maternelle'] +"</td><td>"
                            + themes1['sante en generale']['elementaire'] +"</td><td>"
                            + themes1['sante en generale']['college'] +"</td><td>"
                            + themes1['sante en generale']['lycee'] +"</td><td>"
                            + themes1['sante en generale']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Enfants Soldats</td><td>"
                            + themes1['enfants et soldats']['maternelle'] +"</td><td>"
                            + themes1['enfants et soldats']['elementaire'] +"</td><td>"
                            + themes1['enfants et soldats']['college'] +"</td><td>"
                            + themes1['enfants et soldats']['lycee'] +"</td><td>"
                            + themes1['enfants et soldats']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Rôle et missions de l'UNICEF</td><td>"
                            + themes1['role unicef']['maternelle'] +"</td><td>"
                            + themes1['role unicef']['elementaire'] +"</td><td>"
                            + themes1['role unicef']['college'] +"</td><td>"
                            + themes1['role unicef']['lycee'] +"</td><td>"
                            + themes1['role unicef']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Convention et droits de l'enfant</td><td>"
                            + themes1['convention internationale des droits de l enfant']['maternelle'] +"</td><td>"
                            + themes1['convention internationale des droits de l enfant']['elementaire'] +"</td><td>"
                            + themes1['convention internationale des droits de l enfant']['college'] +"</td><td>"
                            + themes1['convention internationale des droits de l enfant']['lycee'] +"</td><td>"
                            + themes1['convention internationale des droits de l enfant']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Millénaire pour le développement</td><td>"
                            + themes1['millenaire dev']['maternelle'] +"</td><td>"
                            + themes1['millenaire dev']['elementaire'] +"</td><td>"
                            + themes1['millenaire dev']['college'] +"</td><td>"
                            + themes1['millenaire dev']['lycee'] +"</td><td>"
                            + themes1['millenaire dev']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Eau et assainissement</td><td>"
                            + themes1['eau']['maternelle'] +"</td><td>"
                            + themes1['eau']['elementaire'] +"</td><td>"
                            + themes1['eau']['college'] +"</td><td>"
                            + themes1['eau']['lycee'] +"</td><td>"
                            + themes1['eau']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Discrimination</td><td>"
                            + themes1['discrimination']['maternelle'] +"</td><td>"
                            + themes1['discrimination']['elementaire'] +"</td><td>"
                            + themes1['discrimination']['college'] +"</td><td>"
                            + themes1['discrimination']['lycee'] +"</td><td>"
                            + themes1['discrimination']['superieur']
                            +"</td></tr>";

                    html += "<tr><td>Urgences mondiales</td><td>"
                            + themes1['urgences mondiales']['maternelle'] +"</td><td>"
                            + themes1['urgences mondiales']['elementaire'] +"</td><td>"
                            + themes1['urgences mondiales']['college'] +"</td><td>"
                            + themes1['urgences mondiales']['lycee'] +"</td><td>"
                            + themes1['urgences mondiales']['superieur']
                            +"</td></tr></tbody></table>";
                    $("#tableaux").html(html);
            }

            function changeTableau2(annee){
                var html = "<table class='table table-striped'><thead><tr><td></td><td>Maternelles</td><td>Primaires</td><td>Collèges</td><td>Lycées</td><td> Bac +</td></tr></thead><tbody>";
                var eleves = {{ eleves|raw }};
                    var eleves1 = eleves[annee - 1];
                    html += "<tr><td>Nb d'élèves sensibilisés</td><td>"
                            + eleves1['maternelle'] + "</td><td>"
                            + eleves1['elementaire'] + "</td><td>"
                            + eleves1['college'] + "</td><td>"
                            + eleves1['lycee'] + "</td><td>"
                            + eleves1['superieur']
                            + "</td></tr></tbody></table>";
                    $("#tableaux2").html(html);
            }
        });
    </script>
{% endblock %}

{% block body%}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext';
        #chart_intervention{
            max-width: 500px;
            margin: auto;
            margin-bottom: 100px;
        }
        #chart_intervention_years{
            max-width: 900px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 100px;
        }
        #chart_intervention_themes{
            max-width: 1100px;
            min-height: 400px;
            margin: auto;
            margin-bottom: 100px;
        }
        #chart_intervention_niveaux{
            max-width: 1100px;
            margin: auto;
            min-height: 400px;
            margin-bottom: 100px;
        }
        h1{
            margin-top: 50px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        .table{
            width: 700px;
            margin:auto;
            margin-top: 30px;
            margin-bottom: 60px;
        }
        h4{
            margin-top: 30px;
            margin-left: 20px;
            font-family: 'Ubuntu Condensed', sans-serif;
        }
        select{
            display: block;
            margin: auto;
        }
        .gauche{
            width: 650px !important;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 80px;
        }
        .index{
            width: 25px;
            height: 25px;
            background-color: #333;
            color: #fff;
            display: inline-block;
            border-radius: 20px;
            text-align: center;
            font-weight: bold;
            padding-top: 1px;
            margin-right: 15px;
        }
        a, a:hover, a:visited{
            color: #333;
            text-decoration: none;
        }
        .btn{
            display: block;
            margin: auto;
        }
    </style>
    <h1>Statistiques</h1><hr>
    <h4>Nombre d'intervention(s) réalisée(s) durant année</h4>
    <select id="selectYears"></select>
    <div id="chart_intervention"></div>

    <h4>Intervention(s) réalisée(s) par année scolaire</h4>
    <div id="chart_intervention_years"></div>

    <h4>Nombre de plaidoyers réalisés par thème</h4>
    <select id="selectYearsThemes"></select>
    <div id="chart_intervention_themes"></div>
    <h4>Nombre de plaidoyers réalisés par niveau scolaire</h4>
    <select id="selectYearsNiveaux"></select>
    <div id="chart_intervention_niveaux"></div>

    <h4>Classement des établissements par nombre d'Interventions réalisées</h4>
    <div class="topTen">
        <div class="accueilSq gauche" id="topTen">
            <img src="{{ asset('img/logo-gris.png') }}" alt="logo" class="logoGauche">

        </div>
    </div>
    <div id="tableauxSelect">
    </div>
    <div id="tableaux">
    </div>
    <div id="tableaux2Select">
    </div>
    <div id="tableaux2">
    </div>
    <button type="button" class="btn btn-primary" onclick="window.print();"> Imprimer </button>

{% endblock %}