{% extends "ArchitectureBundle:Intervention:layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Liste des interventions :</h2>

    <table class="table table-striped table-hover ">

        <thead>
        <tr>
            <th>#</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Voir détails</th>
            <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ intervention.lieu }}</td>
                <td>{{ intervention.moment }}</td>
                <td><a href="{{ path('architecture_intervention_view', {id: intervention.id}) }}" class="btn btn-primary">Voir détails</a></td>
                <td><a href="{{ path('architecture_intervention_delete', {id: intervention.id}) }}" class="btn btn-danger">Supprimer</a></td>

            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}