{% extends "ArchitectureBundle:School:layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Liste des établissements :</h2>

    <table class="table table-striped table-hover ">

        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Voir détails</th>
            <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ school.nom }}</td>
                <td>{{ school.prenom }}</td>
                <td><a href="{{ path('architecture_school_view', {id: school.id}) }}" class="btn btn-primary">Voir détails</a></td>
                <td><a href="{{ path('architecture_school_delete', {id: school.id}) }}" class="btn btn-danger">Supprimer</a></td>

            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}