{% extends "ArchitectureBundle:School:layout.html.twig" %}

{% block title %}
    Détails - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Détails établissement</h2>

    <table class="table table-striped table-hover ">
        <tbody>
            <tr><td>Nom</td><td>{{ school.nom }}</td></tr>
            <tr><td>Prenom</td><td>{{ school.prenom }}</td></tr>
            <tr><td>Email</td><td>{{ school.email }}</td></tr>
            <tr><td>Téléphone Fixe</td><td>{{ school.telFixe }}</td></tr>
            <tr><td>Téléphone Portable</td><td>{{ school.telPortable }}</td></tr>
            <tr>
                <td><a href="{{ path('architecture_school_homepage') }}" class="btn btn-primary">retour à l'accueil</a></td>
                <td><a href="{{ path('architecture_school_delete', {id: school.id}) }}" class="btn btn-danger">Supprimer l'établissement</a></td>
            </tr>

        </tbody>

    </table>


{% endblock %}