{% extends "ArchitectureBundle:School:layout.html.twig" %}

{% block title %}
    Détails - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Détails établissement</h2>

    <table class="table table-striped table-hover ">
        <tbody>
            <tr><td>Ville</td><td>{{ school.ville }}</td></tr>
            <tr><td>Prenom</td><td>{{ school.nom }}</td></tr>
            <tr><td>Chef d'établissement</td><td>{{ school.chefEtablissement }}</td></tr>
            <tr><td>Nombre d'élèves</td><td>{{ school.nbEleve }}</td></tr>
            <tr>
                <td><a href="{{ path('architecture_school_homepage') }}" class="btn btn-primary">retour à l'accueil</a></td>
                <td><a href="{{ path('architecture_school_delete', {id: school.id}) }}" class="btn btn-danger">Supprimer l'établissement</a></td>
            </tr>

        </tbody>

    </table>


{% endblock %}