{% extends "ArchitectureBundle:Home:layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Bienvenue !</h2>

    <p>Cette page permet de tester l'architecture MVC du projet.
        <br />Utilisez les liens ci dessous pour faire vos tests.</p>

    <table class="table table-striped table-hover ">

        <tbody>
            <tr><td>Hello Unicef !</td><td><a href="{{ path('architecture_hello_simple') }}" class="btn btn-primary">Go!</a></td></tr>
            <tr><td>Hello name !</td><td><a href="{{ path('architecture_hello_complex') }}" class="btn btn-primary">Go!</a></td></tr>
            <tr><td>Bénévoles</td><td><a href="{{ path('architecture_volunteer_homepage') }}" class="btn btn-primary">Go!</a></td></tr>
            <tr><td>Interventions</td><td><a href="{{ path('architecture_intervention_homepage') }}" class="btn btn-primary">Go!</a></td></tr>
            <tr><td>Établissements</td><td><a href="{{ path('architecture_school_homepage') }}" class="btn btn-primary">Go!</a></td></tr>
        </tbody>

    </table>


{% endblock %}
